.wpb-layout-element-button[data-element=sdgicon] .vc_element-icon {
    background-image: url(/wp-content/themes/sdg-child/images/sdg-icon-rounded.png);
}

.wpb_sdgicon .vc_element-icon {
    background-image: url(/wp-content/themes/sdg-child/images/sdg-icon-rounded.png);
}

.sdgicon.vc_element-icon {
    background-image: url(/wp-content/themes/sdg-child/images/sdg-icon-rounded.png);
}