/*
  Mixins
*/

@mixin gradient_background($from, $to) {
	background: $to;
	background: -webkit-linear-gradient(top, $from , $to);
	background: -o-linear-gradient(bottom, $from, $to);
	background: -moz-linear-gradient(bottom, $from, $to);
	background: linear-gradient(to bottom, $from , $to);
	> .wpb_column{
		> .vc_column-inner{
			padding:0;
		}
	}
}

@mixin color_button($color_name, $color_hex){
	&:link, &:visited{
		background-color:$color_hex;
		border:2px $color_hex solid;
		color:#fff;
	}
	&:active, &:hover{
		color:$color_hex;
		background-color:#fff;
	}
}

@mixin button(){
	&:link, &:visited{
		@include button_link();
	}
	&:active, &:hover{
		@include button_hover();
	}
}

@mixin button_link(){
	display:inline-block;
	margin:20px 0;
	padding:10px;
	background-color:$color2;
	color:#fff;
	border:none;
	text-decoration:none;
	text-transform:none;
	font-size:16px;
	font-weight:300;
	font-family:'Roboto Slab',serif;
	text-align:center;
	border-radius:0 10px;
	min-width:200px;

	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
	&.no-margin{
		margin:0;
	}
	&.blue-button{
		background-color:$color2;
		border: 2px $color2 solid;
	}
	&.orange-button{
		background-color:$color1;
		border: 2px $color1 solid;
	}
	&.white-button{
		background-color:#fff;
		color:$color1;
		border: 2px #fff solid;
	}
	&.wide{
		max-width:250px;
		width:100%;
		padding:5px 0;
		text-align:center;
	}
	&.orange-button.large, &.orange-button.large {
		display: inline-block;
		color: #fff;
		background-color: rgba(231, 121, 51, 1);
		border: 2px rgba(231, 121, 51, 1) solid;
		padding: 5px 0;
		margin: 20px 0;
		width: 100%;
		text-align: center;
		font-size: 20px;
		font-weight: 700;
		font-family: Dosis, Arial, Helvetica, sans-serif;
		text-transform: uppercase;
		text-decoration: none;
	}
	&.active{
		background-color:$color2;
		border-color:$color2;
	}

	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

@mixin button_hover(){
	background-color: #fff;
	color: $color1;
	text-decoration: none;
	&.blue-button{
		color:$color1;
		background-color:#fff;
		border-color:#fff;
	}
	&.orange-button{
		color:$color2;
		background-color:#fff;
		border-color:#fff;
	}
	&.white-button{
		border-color:$color1;
		background-color:$color1;
		color:#fff;
	}
	&.button.orange-button.large, &.button.orange-button.large {
		background-color: #fff;
		color: $color4;
		text-decoration: none;
	}

	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}