/*
  Variables
*/

$grid-width: 1120px;

/*-------------------------------------------------------*\
    Colors
/*-------------------------------------------------------*/
$primary-color: #d54b2a;
$secondary-color: #999999;
$tertiary-color: rgba(#d54b2a, 0.8);
$quaternary-color: white;


/* Main Theme Colors */
$color1: $primary-color;
$color2: $secondary-color;
$color3: $tertiary-color;
$color4: $quaternary-color;
$color5: rgba($color1, 0.6);
$color7: rgba($color2, 0.8);

$primary-color-variant: $tertiary-color;
$secondary-color-variant: #add79f;

/* Main Color Variants */
$overlay-transparent: rgba($primary-color, 0.8);

/* Alert Colors */
$error-color: rgba(#ff2020, 0.5);
$white-transparent: rgba(255, 255, 255, 0.9);
$white-more-transparent: rgba(247, 247, 247, 0.7);
$black-transparent: rgba(black, 0.5);
$medium-gray: #838385;
$neutral-color: $medium-gray;
$soft-gray: #959597;
$light-gray: #DDDDDD;
$lightest-gray: #F4F4F4;
$dark-bg-color: #5A6970;
$light-text-gray: #A7A7A7;
$light-gray-bg: #F7F7F7;


/* Mono-Saturated */
$medium-gray: #464647;
$soft-gray: #a7a7a7;
$dark-bg-color: #5a6970;
$light-text-gray: #a7a7a7;
$light-gray-bg: #efefef;
$white-transparent: rgba(255, 255, 255, 0.9);
$white-more-transparent: rgba(247, 247, 247, 0.7);

/* Copy Colors */
$copy-color: $medium-gray;
$copy-color-invert: $quaternary-color;

/* Semi-Transparent */
$shadow-color: rgba(#333, 0.25);
$black-transparent: rgba(0, 0, 0, 0.75);
$white-transparent: rgba(255, 255, 255, 0.9);
$white-more-transparent: rgba(247, 247, 247, 0.7);

/* Generic Defaults */
$error-color: rgba(#ff2020, 0.5);
$main-body-bg: white;

$font1: 'Roboto', sans-serif;
$font2: 'Roboto', sans-serif;
$font3: 'Roboto', sans-serif;
$font4: 'Roboto', sans-serif;
$font5: 'Roboto', sans-serif;