@charset "UTF-8";
@media only screen and (max-width:1280px) {
    .main-navigation .menu ul.nav-menu > li:last-of-type ul.sub-menu {
        right: 0;
        left: auto;
    }
}
@media only screen and (max-width:1119px) {
	.vc_row{
		&.wpb_row{
			&.vc_row-has-fill{
				&.stretch-background{
					padding:20px 0;
					background-size: 100% 80px !important;
				}
			}
		}
	}
    .main-navigation .menu li a {
        font-size: 12px;
        padding: 11px 15px;
    }

    .logo h1 a img {
        max-width: 250px;
        padding-left: 10px;
    }
    .content,
    .container{
		a{
			&:link.button.orange-button.large, &:visited.button.orange-button.large {
				font-size: 14px;
			}
		}
        .page-header{
			.wpb_text_column{
				h2{
					padding-left:20px;
				}
			}
		}
	}
}
@media only screen and (max-width:960px) {
    .main-navigation .menu li a {
        font-size: 12px;
        padding: 11px 10px;
    }
    .content .white a {
        &:link.outline-button, &:visited.outline-button {
            font-size: 16px;
        }
    }
    .footer {
    	p{
    		font-size:13px;
    	}
	}
}
@media only screen and (min-width:1024px) and (max-width:1119px) {
    .main-navigation .menu li a {
        font-size: 16px;
        padding: 11px 14px;
    }
}
@media only screen and (min-width:768px) and (max-width:1023px) {
}
@media only screen and (max-width:768px) {
    .social ul.icons li a {
        width: 22px;
        height: 22px;
    }
}
@media only screen and (max-width:767px) {
	.vc_row{
		&.wpb_row{
			&.vc_row-has-fill{
				&.stretch-background{
					padding:0;
					background-size: 100% 35px !important;
				}
			}
			&.fives{
				.vc_col-sm-2{
					width:100%;
					float:none;
					&:nth-child(1),
					&:nth-child(6n){
						.vc_column-inner{
							padding-left:7.5px;
						}
					}
					&:nth-child(5n){
						.vc_column-inner{
							padding-right:7.5px;
						}
					}
				}
			}
			&.hero{
				padding:200px 0 0 0;
			}
		}
	}

    .header-wrapper {
        display: none;
    }
    .mobile-header-wrapper {
        display: block;
    }
    .logo h1 {
        padding-left: 10px;
    }
	.vc_wp_search{
		.widget_search{
			min-height:auto
		}
	}
	.content {
		.page-header{
			.wpb_text_column{
				padding:30px 0;
			}
			.vc_wp_custommenu{
				.widget_nav_menu{
					ul {
						display:block;
						flex-direction:none;
					}
					li {
						position: relative;
						display: block;
						a {
							display: block;
							padding: 20px 0;
							border-bottom:1px #fff solid;
							border-right:none;
							font-size: 16px;
						}
						&:last-of-type{
							a{
								border-bottom:none;
							}
						}
					}
				}
			}
		}		h1 {
			font-size:40px;
		}
		h2 {
			font-size:30px;
		}
		h3 {
			font-size:30px;
		}
		h4 {
			font-size: 18px;
		}
		h5{
			font-size: 18px;
		}
		ul, ol {
			&.two,
			&.three,
			&.four{
				margin-left:10px;
				columns: 1;
				-webkit-columns: 1;
				-moz-columns: 1;
				li{
					margin-left:10px;
					padding-left:10px;
				}
			}
		}
		.alignleft{
			display:block;
			width:100%;
			float:none;
		}
		.hidden-sm{
			display:none;
		}
		.hidden-lg{
			display:block;
		}

        .grey-border-right.wpb_column.vc_column_container{
        	border-right:none;
		}
		.vc_row.wpb_row.cyan-border-row .wpb_column.vc_column_container.vc_col-sm-6:first-of-type,
		.vc_row.wpb_row.cyan-border-row .wpb_column.vc_column_container.vc_col-sm-6:last-of-type,
		.vc_row.wpb_row.pink-border-row .wpb_column.vc_column_container.vc_col-sm-6:first-of-type,
		.vc_row.wpb_row.pink-border-row .wpb_column.vc_column_container.vc_col-sm-6:last-of-type{
			display:inline-block;
			width:50%;
		}
		.overlap-top .vc_column-inner {
			margin-top: 0px;
		}
		.image-button{
			&.with-description{
				min-height:450px;
			}
		}

		.recent_posts{
			&.list{
				ul{
					li{
						.vc_col-sm-2,
						.vc_col-sm-10{
							float:none;
							display:block;
							width:100%;
							border-left:none;
							padding-left:0;
						}
					}
				}
			}
		}
		.wpb_column{
			&.service-text{
				.vc_column-inner{
					padding-left:0px;
					padding-top:50px;
				}
			}
		}
		.wpb_single_image{
			&.service-icon {
				position: absolute;
				top: auto;
				bottom:-50px;
				right: auto;
				left:50%;
				margin-left:-75px;
			}
		}
		.career-accordion{
			.career-position,
			.career-location,
			.career-citystate,
			.career-position-type,
			.career-action{
				display:block;
				width:100%;
				border-right:none !important;
			}
		}
		.location-contact > .vc_column-inner > .wpb_wrapper{
			margin-bottom:20px;
		}
		.location-map > .vc_column-inner > .wpb_wrapper{
			margin-bottom:20px;
		}
		.page_list{
			&.icons{
				ul{
					&.inline{
						li{
							width:100%;
							a{
								width:100%;
							}
						}
					}
				}
			}
		}
    }
    /* Events */
    .content{
		#tribe-events{
			article.tribe_events{
				.featured-image{
					display: block;
					width: 100%;
					margin: 0;
					text-align:center;
					img{
						width:100%;
					}
				}
				.post-content{
					display: block;
					width: 100%;
				}
			}
		}
	}

    .footer {
        .col {
            width: 100%;
        }
        .column_1, .column_2, .column_3 {
            min-height: 100px;
            text-align: center;
        }
        hr {
            margin: 0 auto;
        }
        ul.menu li {
            text-align: center;
        }
        .sdg_social_icons ul {
            display: inline-block;
            float: none;
            margin: 5px 0 0 0;
        }
    }
    #popup {
        width: 90% !important;
        left: 10% !important;
        margin-left: -5% !important;
        font-size: 0.9em !important;
    }
    .wpb_text_column.wpb_content_element.min-height-120 {
        min-height: auto;
    }
}
@media only screen and (min-width:568px) and (max-width:767px) {
}
@media only screen and (max-width:639px) {
}
@media only screen and (min-width:568px) and (max-width:639px) {
}
@media only screen and (max-width:567px) {
    .mobile-header-wrapper .logo h1 a img {
        max-width: 200px;
        padding-left: 10px;
    }
    .content{
		.vc_row{
			&.wpb_row{
				&.hero{
					padding:100px 0 0 0;
				}
			}
		}
	}
    .gform_wrapper .gform_footer {
        text-align: left;
    }
}
@media screen and (min-width:480px) and (max-width:767px) {
}
@media only screen and (max-width:567px) {
    .content {
        p span.larger {
            font-size: 18px;
        }
    }
}
@media only screen and (max-width:399px) {
}