/*
 Theme Name:   sdg Child
 Theme URI:    http://example.com/sdg-child/
 Description:  sdg Child Theme
 Author:       sdg
 Author URI:   http://sdgbranding.com
 Template:     sdg-a
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:        sdg
 Text Domain:  sdg
*/

// @import '_variables';
@import '../../assets/scss/app.scss';
@import '_mixins';

/* Base */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    font-family: $font2;
    color: $color1;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    color: #444;
    line-height: 1.6em;
}
i, em, strong, b, p {
	font-size:18px;
	&.orange{
		color:$color1 !important;
	}
	&.blue{
		color:$color2 !important;
	}
}
a {
	&:link, &:visited, &:link span, &:visited span {
		color:$color1;
		text-decoration: underline;
	}
	&:active, &:hover {
		text-decoration: none;
	}
	&.button,
	&.tribe-button{
		@include button();
	}
}
input[type=submit]{
	&.tribe-button.submit,
	&.tribe-button.submit,
	&.button{
		@include button_link();
		&:hover{
			@include button_hover();
		}
	}
}

/* Visual Composer */
.vc_row{
	position:relative;
	z-index:998;
	&.wpb_row{
		&.on-top{
			z-index:999;
		}
		&.fives{
			text-align:center;
			font-size:0;
			.vc_col-sm-2{
				float:none;
				display:inline-block;
				vertical-align:top;
				width:20%;
				.vc_column-inner{
					padding-left:7.5px;
					padding-right:7.5px;
				}
				&:nth-child(1),
				&:nth-child(6n){
					.vc_column-inner{
						padding-left:0;
					}
				}
				&:nth-child(5n){
					.vc_column-inner{
						padding-right:0;
					}
				}
			}
		}
		&.no-hand{
			a,.image-button.with-description{
			  cursor:default !important;
			}
		}
		&.centered,
		&.center{
			text-align:center;
			font-size:0;
			.wpb_column{
				float:none;
				display:inline-block;
			}
		}
		&.hero{
			padding:400px 0 0 0;
		}
		&.vc_row-has-fill{
			&.stretch-background{
				background-size: 100% 110px !important;
				padding:35px 0 35px 0;
			}
		}
		&.orange-gradient{
			@include gradient_background(#d54b2a,$color1);
		}
		&.background-center{
			background-position: center;
		}
		.wpb_text_column{
			>.wpb_wrapper{
				max-width:$grid-width;
				margin-left:auto;
				margin-right:auto;
			}
			&.grid{
				max-width:$grid-width;
				margin-left:auto;
				margin-right:auto;
			}
			&.minimal{
				p{
					margin-bottom:0;
				}
			}
			&.absolute-button{
				position:absolute;
				bottom:0;
				left:0;
				margin-bottom:0;
				width:100%;
				a{
					display:block;
					padding:5px 0;
					text-decoration:none;
					text-align:center;
				}
				&.blue a{
					@include color_button('blue',$color1);
				}
				&.cyan a{
					@include color_button('cyan',$color2);
				}
				&.green a{
					@include color_button('green',$color3);
				}
				&.orange a{
					@include color_button('orange',$color4);
				}
				&.pink a{
					@include color_button('pink',$color5);
				}
			}
			&.mobile-subnav{
				padding: 0;
				margin: 0;
				.wpb_wrapper{
					display:block;
					width:100%;
					select{
						width:100%;
						background-color:#fff;
					}
				}
			}
			&.before-icon{
				padding:0 0 0 85px;
				margin:0;
				background-size:75px;
				background-position:left center;
				background-repeat:no-repeat;
				&.green{
					background-image:url('images/icon-green.jpg');
				}
				&.pink{
					background-image:url('images/icon-pink.jpg');
				}
				&.blue{
					background-image:url('images/icon-blue.jpg');
				}
				&.yellow{
					background-image:url('images/icon-yellow.jpg');
				}
				h4{
					margin-bottom:0;
				}

			}
		}

		&.footer.full {
		    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
		}
	}
}

.wpb_column{
	&.orange-gradient{
		>.vc_column-inner{
			@include gradient_background(#d54b2a,$color1);
			padding:20px 30px;
		}
	}
}

.overlap-top .vc_column-inner {
    margin-top: -50px;
}
.wpb_text_column.min-height-160{
	min-height:160px;
}

/* Header */
.social,
.social-icon-block {
    display: block;
    margin: 0;
    padding: 0;
    width: auto;
    ul.icons {
        overflow: hidden;
        list-style: none;
        float: left;
		margin: 0 20px 0 0;

		li {
        	list-style:none;
            float: left;
			display: inline-block;
			padding-left:0;
			text-indent:0;
			&:before{
				content:' ';
			}
            a {
                display: block;
                width: 40px;
                height: 40px;
                padding: 0;
                margin: 0 10px 0 0;
                overflow: hidden;
                text-decoration: none;
                background-color:#fff;
                border-radius:50%;
                i{
					width: 100%;
					text-align: center;
					line-height: 1.6em;
					color:$color1;
                }
                &:hover {
					background-color:$color1;
                    text-decoration: none;
                }
            }
        }
    }
}
.header-wrapper {
    width: 100%;
    position: fixed;
    background: #fff;
    padding: 0;
    box-sizing: border-box;
    z-index: 999;

	-webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;

	.top-wrapper {
		background: rgba(244,244,241,0.9);
		color: #a7a9ab;
		padding: 0;
		font-size: 0.8em;
		.hotline{
			text-align:right;
			p{
				padding-right:20px;
				color:$color2;
				font-size:18px;
				text-transform:uppercase;
				line-height:3em;
				font-weight:bold;
				}
		}
		.css-site{
			text-align:right;
			a.button.blue-button{
				border-radius: 0 0 10px 10px !important;
				margin: 0;
				min-width: 100%;
				padding: 10px 0;
				box-sizing: border-box;
			}
		}
	}


}
.mobile-header-wrapper {
    width: 100%;
    position: fixed;
    box-shadow: 0 10px 38px rgba(0,0,0,0.4);
    z-index: 999;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}
.header-wrapper {
    &.headroom--not-top, &.headroom--pinned.headroom--top {
        z-index: 8999;
        -webkit-transition: all 0.25s ease-in-out;
        -moz-transition: all 0.25s ease-in-out;
        -o-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out;
    }
}
.mobile-header-wrapper {
    &.headroom--not-top, &.headroom--pinned.headroom--top {
        z-index: 8999;
        -webkit-transition: all 0.25s ease-in-out;
        -moz-transition: all 0.25s ease-in-out;
        -o-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out;
    }
}
.header-wrapper.headroom--not-top.headroom--pinned, .mobile-header-wrapper.headroom--not-top.headroom--pinned {
    background: #fff;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}
.header-wrapper.headroom--not-top.headroom--unpinned, .mobile-header-wrapper.headroom--not-top.headroom--unpinned {
    -webkit-transform: translateY(-110%);
    -ms-transform: translateY(-110%);
    transform: translateY(-110%);
}

.logo {
    padding: 0;
    margin: 0;
    h1 {
        padding: 0;
        margin: 20px 0;
        a img {
            max-width: 100%;
			display: block;
			margin: 0 auto;
        }
    }
}
.search{
	text-align:right;
	display:table;
	height:100px;
}
.searchform {
	position: relative;
	display:table-cell;
	vertical-align:middle;
	height:100%;
	div {
		position: relative;
		display: inline-block;
		&:before{
			position:absolute;
			top:50%;
			left:10px;
			margin-top:-12px;
			font-family:FontAwesome;
			content:'\f002';
			font-size:20px;
			color:#aaa;
		}
	}
	#s {
		display:block;
		background:transparent;
		border:$color1 1px solid;
		color:$color3;
		border-radius: 0;
		width: 230px;
		padding-left:40px;
		max-width: 100%;
		box-sizing: border-box;
	}
}
.vc_wp_search{
	margin-bottom:0;
	.widget_search{
		display:table;
		min-height:120px;
		width:100%;
		.searchform{
			display:table-cell;
			vertical-align:middle;
			width:100%;
			div{
				width:100%;
				#s{
					width:100%;
				}
			}
		}
	}
}
.container.main {
    position: relative;
    width: 100%;
}

/* Menu */
.menu_wrapper {
    position: relative;
    background-color: #3e6377;
    z-index: 100;
}
.desktop-nav{
	background-color:#ccc;
	border-top:1px #888 solid;
}
.nav{
	background-color:$color2;
	border-bottom:5px $color1 solid;
	.main-navigation {
		width: 100%;
		.menu {
			display: block;
			position: relative;
			padding: 0;
			.menu-primary-menu-container {
				display:block;
				z-index: 800;
			}
			ul {
				display:flex;
				flex-direction: row;
				list-style: none;
				margin: 0;
				padding: 0;
				z-index: 9999;
			}
			li {
				position: relative;
				display: inline-block;
				flex-grow:1;
				margin: 0;
				padding: 0;
				border-right:1px #fff solid;
				&:last-of-type{
					border-right:none;
				}
				a {
					display: block;
					padding: 15px 10px;
					margin: 0;
					min-width: 90px;
					font-weight: normal;
					text-align: center;
					color:#fff;
					text-transform: uppercase;
					text-decoration:none;
					font-family: $font2;
					font-weight: 400;
					font-size: 16px;
					line-height: 1em;
					&:hover {
						color: #fff;
						background-color:$color1;
						text-decoration: none;
					}
				}
				&.current-menu-item > a, &.current_page_parent > a {
					color: #fff;
					background-color:$color1;
					text-decoration: none;
				}
				&.mobile-only{
					display:none;
				}
			}
			ul.sub-menu {
				background-color: $color2;
				border: none;
				display: none;
				padding: 0;
				position: absolute;
				left: 0;
				top: inherit;
				margin-left: 0;
				z-index: 999;
				li {
					position: relative;
					display: block;
					margin-top: 0 !important;
					margin-left: 0 !important;
					padding: 0;
					border-top: none !important;
					border-bottom: 1px #fff solid;
					border-right:none;
					&:after {
						content: '';
					}
					&:last-of-type{
						border-bottom:none;
					}
					a {
						color:#fff;
						display: block;
						min-width: 200px;
						padding: 15px 10px;
						white-space: nowrap;
						&:hover {
							color: #fff;
							background-color:$color1;
							text-decoration: none;
						}
					}
					&.current-menu-item > a, &.current_page_parent > a {
						color: #fff;
						background-color:$color1;
						text-decoration: none;
					}
				}
			}
			li li {
				a:hover, &.current-menu-item > a, &.current_page_parent > a {
					background-color: $color2;
					color:#fff;
					cursor: pointer;
				}
			}
			ul.sub-menu ul {
				position: absolute;
				left: 252px;
				top: 0;
			}
			li:hover > ul {
				display: block;
				li:hover > ul {
					display: block;
				}
			}
		}
	}
}

.mobile-header-wrapper {
    display: none;
    background: #fff;
    .logo {
        width: 70% !important;
    	float:left;
        margin-left: 0 !important;
        margin-right: 0;
        padding: 0;
        h1 a img {
            max-width: 250px;
        }
    }
	.main-navigation-button {
		width: 30% !important;
    	float:left;
		line-height: 1em;
		padding: 0;
		margin: 0;
		display: table;
		position: relative;
		text-align: center;
		.button {
			display: table-cell;
			width: 100%;
			vertical-align: middle;
			a:link,
			a:visited{
				display: inline-block;
				float: none;
				padding: 20px 15px;
				margin: 0 20px 0 0;
				text-decoration: none;
				text-transform: uppercase;
				font-weight: bold;
				height: 40px;
				width: 40px;
				white-space: normal;
				color: #444;
				line-height: 1em;
				i{
					color: #444;
					font-size: 48px;
					height: 40px;
					width: 40px;
					display: block;
				}
			}
		}
	}
}
.mobile-nav {
    .main-navigation {
        padding: 0;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 9999;
		background: $color2;
		width:100%;

        -webkit-transform: translateY(-210%);
        -ms-transform: translateY(-210%);
        transform: translateY(-210%);
        -webkit-transition: all 0.25s ease-in-out;
        -moz-transition: all 0.25s ease-in-out;
        -o-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out;

        &.visible {
            -webkit-transform: translateY(0);
            -ms-transform: translateY(0);
            transform: translateY(0);
        }
        ul {
            margin:0;
            padding:0;
            li{
            	list-style:none;
            	a {
					font-size: 16px;
					color: #fff;
					display: block;
					width:100%;
					height: 35px;
					padding: 5px 10px;
					line-height: 2.2em;
					margin:0;
					white-space: nowrap;
					border-bottom: 1px #b7b7b7 solid;
					text-decoration:none;
					font-family:$font2;
					&:hover{
						background-color:$color1;
					}
				}
            }
			&.sub-menu {
				display: none;
			}
			.menu .nav-menu {
				li.show-priv, ul.sub-menu li.show-priv {
					display: none;
				}
			}
        }
    }
}
body.logged-in .main-navigation .menu .nav-menu {
    li.hide-priv, ul.sub-menu li.hide-priv {
        display: none;
    }
    li.show-priv, ul.sub-menu li.show-priv {
        display: inline-block;
    }
}
.content-wrapper {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
}
.white {
    color: #fff;
    p {
        color: #fff;
        span {
            color: #fff;
            &.cyan{
            	color:$color2;
            }
        }
    }
}
.content {
    .white {
        div, h1, h2, h3, h4, h5, h6, ol li, ul li, sup {
            color: #fff;
        }
        p {
            color: #fff;
            b, strong {
                color: #fff;
            }
        }
        a {
            color: #fff;
            b, i, b i, &:link, &:visited, &:link span, &:visited span {
                color: #fff;
            }
        }
        h1 span, h2 span, h3 span {
			color: #fff;
        }
        a {
            &:link.outline-button, &:visited.outline-button {
                border-color: #fff;
                color: #fff;
                background-color: #76c6ce;
            }
            &:active.outline-button, &:hover.outline-button {
                background-color: #3e6377;
            }
        }
        img {
            margin-right: 10px;
        }
    }
    .shadow-text {
        text-shadow: 0 0 10px #000;
    }
    h1,h2,h3,h4,h5,h6{
    	font-family:$font1;
    	line-height:1.2em;
		font-weight:400;
		margin-bottom:10px;
		a{
			&:link,&visited{
				font-family:$font1;
			}
		}
		&.orange{
			color:$color1;
		}
		&.blue{
			color:$color2;
		}
		&.sans-serif{
			font-family:$font2;
			font-weight:700;
		}
		span{
			font-family:$font1;
			color:$color1;
			&.orange{
				color:$color1;
			}
			&.blue{
				color:$color2;
			}
		}
	}
    h1 {
        font-size:56px;
    }
    h2 {
        font-size:48px;
        color:$color1;
        a {
			&:link span, &:visited span, &:active span, &:hover span {
				text-decoration: none;
			}
		}
    	span{
    		font-weight:800;
		}
		&.blue{
			color:$color2;
		}
    }
    h3 {
        font-size:32px;
        color:$color1;
		a {
			&:link, &:visited {
                text-decoration: none;
			}
		}
		&.large{
			font-size:3em;
		}
		&.widget-title {
			color: #3e6377;
		}
        &.with-image{
			font-size: 24px;
			line-height:1.2em;
        	display:table;
    		margin: 0 auto;

            img, span{
        		display:table-cell;
        		vertical-align:middle;

				-webkit-transition: all 0.25s ease-in-out;
				-moz-transition: all 0.25s ease-in-out;
				-o-transition: all 0.25s ease-in-out;
				transition: all 0.25s ease-in-out;
        	}
        	&:hover{
        		span{
        		    filter: contrast(140%);
					-webkit-transition: all 0.25s ease-in-out;
					-moz-transition: all 0.25s ease-in-out;
					-o-transition: all 0.25s ease-in-out;
					transition: all 0.25s ease-in-out;
        		}
        		img{
        		    filter: contrast(140%);
					-webkit-transition: all 0.25s ease-in-out;
					-moz-transition: all 0.25s ease-in-out;
					-o-transition: all 0.25s ease-in-out;
					transition: all 0.25s ease-in-out;
        		}
        	}
        }
    }
    h4 {
    	color:$color1;
        font-size: 24px;
		line-height:1.2em;
        a {
            &:link, &:visited {
                text-decoration: none;
            }
        }
        span{
			line-height:1.2em;
        	&.cyan{
	        	color:$color2;
	        }
        	&.green{
	        	color:$color3;
	        }
        	&.orange{
	        	color:$color4;
	        }
        	&.pink{
	        	color:$color5;
	        }
		}
		&.large{
			font-size:2em;
		}
        &.no-transform{
        	text-transform:none;
        }
    }
    h5{
        font-size: 21px;
        line-height:1.2em;
		span{
        	&.cyan{
	        	color:$color2;
	        }
        	&.green{
	        	color:$color3;
	        }
        	&.orange{
	        	color:$color4;
	        }
        	&.pink{
	        	color:$color5;
	        }
    	}
	}
    p {
        line-height: 1.4em;
        margin-bottom:20px;
        font-weight: 400;
        color: #444;
        &.font1{
        	font-family:$font1;
        }
    }
    div {
        line-height: 1.6em;
        font-size: 1em;
        font-weight: 400;
        color: #444;
    }
    ul, ol {
        padding-left: 20px;
        margin-left:20px;
		margin-bottom: 20px;
		list-style:none;
		padding:0;
		margin:0 0 0 20px;
        li{
			list-style:none;
			color: #444;
			padding-left: 1.2em;
			text-indent: -.7em;
			font-size:19px;
			&::before {
				content: "• ";
				font-size:19px;
				font-weight:bold;
				color:$color1;
			}
		}

		&.nodots{
			padding-left:0;
			li{
				list-style:none;
				margin-left:0 !important;
				padding-left:0 !important;
			}
		}
        &.two {
    		padding-left:0;
    		margin-left:20px;
			columns: 2;
			-webkit-columns: 2;
			-moz-columns: 2;
			li{
				margin-left:20px;
				padding-left:10px;
			}
		}
        &.three {
    		padding-left:0;
    		margin-left:0;
			columns: 3;
			-webkit-columns: 3;
			-moz-columns: 3;
			li{
				margin-left:20px;
				padding-left:10px;
			}
		}
        &.four {
    		padding-left:0;
    		margin-left:0;
			columns: 4;
			-webkit-columns: 4;
			-moz-columns: 4;
			li{
				margin-left:20px;
				padding-left:10px;
			}
		}
    }

	.hidden-lg{
		display:none;
	}

    sup{
    	font-size:0.6em;
    }
    .wpb_widgetised_column ul {
        margin-left: 0;
        padding: 0;
    }
    .widget_nav_menu ul {
        margin: 0 0 30px 0;
        padding: 0;
        li {
            list-style: none;
            a {
                &:link, &:visited {
                    display: block;
                    padding: 10px 10px 10px 40px;
                    border-bottom: 1px #fff solid;
                    background-color: #99cc76;
                    color: #fff;
                    font-family: $font2;
                    font-weight: normal;
                    text-decoration: none;
                    -webkit-transition: all 0.2s ease-out;
                    -moz-transition: all 0.2s ease-out;
                    -o-transition: all 0.2s ease-out;
                    transition: all 0.2s ease-out;
                }
                &:active, &:hover {
                    color: #99cc76;
                    background-color: #fff;
                    padding-left: 50px;
                    -webkit-transition: all 0.2s ease-out;
                    -moz-transition: all 0.2s ease-out;
                    -o-transition: all 0.2s ease-out;
                    transition: all 0.2s ease-out;
                }
            }
            &.current_page_item a, &:not(.current-page-parent).current-page-ancestor a {
                color: #fff;
                background-color:$color1;
                padding-left: 50px;
                -webkit-transition: all 0.2s ease-out;
                -moz-transition: all 0.2s ease-out;
                -o-transition: all 0.2s ease-out;
                transition: all 0.2s ease-out;
            }
            a {
                &.current-page {
                    color: #fff;
                    background-color: $color1;
                    padding-left: 50px;
                    -webkit-transition: all 0.2s ease-out;
                    -moz-transition: all 0.2s ease-out;
                    -o-transition: all 0.2s ease-out;
                    transition: all 0.2s ease-out;
                }
            }
        }
    }
    span {
		&.hint{
			color: #c70930;
			font-size: 9px;
		}
		&.large{
			font-size:1.2em;
		}
		&.larger{
			font-size:1.3em;
		}
		&.largest{
			font-size:1.5em;
		}
		&.small{
			font-size:0.9em;
		}
        &.smaller {
            font-size:0.8em;
        }
        &.smallest {
            font-size:0.7em;
        }
		&.upper{
			text-transform:uppercase;
		}
		&.lower{
			text-transform:lower;
		}
        &.big {
            font-size: 20px;
        }
        &.bigger {
            font-size: 24px;
        }
        &.biggest {
            font-size: 32px;
        }
        &.caption-text {
            text-transform: uppercase;
            font-size: 14px;
            font-family: $font2;
            font-weight: 400;
        }
        &.green {
            color: $color3;
            b, strong, i, em, a:link, a:visited {
                color: $color3;
                text-decoration:none;
            }
        }
        &.orange {
            color: $color4;
            b, strong, i, em, a:link, a:visited {
                color: $color4;
                text-decoration:none;
            }
        }
        &.pink {
            color: $color5;
            b, strong, i, em, a:link, a:visited {
                color: $color5;
                text-decoration:none;
            }
        }
	}
	blockquote{
		margin:35px 0;
		p{
			color:$color2;
			font-family:$font1;
			font-weight:300;
			font-size:1.4em;
			margin-bottom:20px;
		}
	}

	.vc_tta-container{
		.vc_tta-tabs-container{
			background-color:$color2;
			border-bottom:2px $color1 solid;
			ul.vc_tta-tabs-list{
				width:100%;
				max-width:$grid-width;
				margin:0 auto !important;
				display:flex;
				li.vc_tta-tab{
					flex-grow:1;
					list-style:none;
					border-right:1px #fff solid;
					&::before{
						content:'';
					}
					&:first-of-type{
						border-left:1px #fff solid;
					}
					>a{
						&:link,&:visited{
							background:transparent;
							border:0;
							border-radius:0;
							span{
								color:#fff;
								text-decoration:none;
								font-family:$font1;
								line-height:1.2em;
								span{
									display:block;
									text-indent:0;
									text-transform:uppercase;
									font-family:$font2;
								}
							}
						}
					}
					&.vc_active,
					&:hover{
						>a{
							&:link,&:visited{
								background:$color1;
							}
						}
					}

				}
			}
		}
		.vc_tta-panels-container{
			.vc_tta-panels{
				width:100%;
				max-width:$grid-width;
				margin:0 auto !important;
				background:transparent !important;
				border:0 !important;
			}
		}
	}

	.box{
		&.orange-gradient{
			@include gradient_background(#d54b2a,$color1);
			padding:20px 30px;
			border-radius:0;
			&.curved{
				border-radius:0 50px;
			}
		}
	}

    .page-header{
		.vc_column-inner {
			padding:0;
		}
		.wpb_text_column{
			padding:50px 0;
			overflow:visible;
			.wpb_wrapper{
				display: table;
				height: 100px;
			}
			h2{
				vertical-align: middle;
				display: table-cell;
				height: 100%;
				text-shadow:0 0 10px rgba(0,0,0,0.8);
				color:#fff;
				img{
					max-height: 100px;
					float: none;
					vertical-align: middle;
				}
			}
		}
	    .vc_wp_custommenu{
			position: absolute;
			bottom: 0;
	    	width:100%;
	    	background-color:transparent;
	    	margin-bottom:0;
	    	z-index:1;
	    	.widget_nav_menu{
				max-width:$grid-width;
				margin:0 auto;
				ul {
					display:block;
					list-style: none;
					margin: 0;
					padding: 0;
					font-size:0;
					text-align:center;
					z-index: 9999;
					li {
						position: relative;
						display: inline-block;
						margin: 0;
						padding: 0;
						vertical-align:middle;
						&.current-menu-item, &:hover {
							color: #007c6d;
						}
						&:last-of-type{
							a{
								border-right:1px #ccc solid;
							}
						}
						a {
							display: block;
							padding: 10px;
							margin: 0;
							font-weight: normal;
							text-align: center;
							color: $color1;
							text-transform: uppercase;
							text-decoration:none;
							font-family: $font1;
							font-weight: 400;
							font-size: 16px;
							white-space: nowrap;
							line-height: 1.2em;
							border-left: 1px #ccc solid;
							border-top:1px #ccc solid;
							border-bottom:1px #ccc solid;
							background-color:$color7;
							&:hover {
								background-color: $color1;
								color:#fff;
								text-decoration: none;
							}
						}
						&.current-menu-item > a, &.current_page_parent > a {
							color: #fff;
							background-color:$color1;
							text-decoration: none;
						}
					}
				}
			}
			&.large .widget_nav_menu ul li a{
				font-size:18px;
				padding:10px 20px;
			}
	    }
    }

    .big-quote {
        display: block;
        padding: 40px 20px;
        margin: 20px 0;
        background: #efefef;
        color: #d35e13;
        font-weight: bold;
        font-size: 20px;
    }
	.shadow {
		box-shadow: 0 10px 38px rgba(0,0,0,0.4);
		z-index: 999;
	}
	.top-shadow {
		box-shadow: 0 -15px 38px rgba(0,0,0,0.4);
		z-index: 999;
	}
    .featured-staff{
    	.wpb_wrapper{
    		position:relative;
		    display: inline-block;
    		p{
    			margin-bottom:0;
    			line-height: 0em;
			    display: block;
    		}
			h5{
				position:absolute;
				width:100%;
				bottom:0;
				box-sizing:border-box;
				padding:5px 10px;
				display:block;
				background:rgba(13,91,137,0.8);
				color:#fff;
				span{
					display:block;
					font-size:0.8em;
					text-transform:none;
					font-weight:300;
					color:#fff;
				}
			}
		}
    }
	/* Shortcode styles */
	.breadcrumb{
		ul{
			list-style:none;
			margin:10px 0 0 0;
			li{
				display:inline-block;
				padding:0;
				margin:0;
				text-indent:0;
				&::before{
					content:' ';
				}
				&::after{
					content:' > ';
					color:$color3;
					font-size:13px;
				}
				&:last-of-type::after{
					content:' ';
				}
				a{
					color:$color3;
					font-size:13px;
					text-transform:uppercase;
					text-decoration:none;
					font-family:$font2;
					&:active,&:hover{
						text-decoration:underline;
					}
				}
			}
		}

	}
	.stats{
		h3{
			font-family:$font2;
			font-weight:800;
		}
	}
	.past-awardees{
		h4{
			font-family:$font2;
			font-weight:normal;
			text-transform:uppercase;
			padding:10px;
			width:100%;
			height:100%;
			display:block;
			box-sizing:border-box;
			text-align:center;
		}
		tr{
			border-bottom:1px #fff solid;
			&.vc-th{
				border-bottom:none;
				td{
					background-color:$color2;
					border-right:none;
				}
			}
		}
		td{
			padding:10px;
			text-align:center;
			border-right:1px #fff solid;
			span{
				color:#fff;
			}
		}
	}
	.resource_search{
		.results_message{
			display:block;
			font-weight:bold;
		}
	}
	.resource_list{
		ul{
			margin-left:0;
			li{
				margin-bottom:5px;
				&::before{
					color:$color2;
				}
				a{
					font-size:16px;
					line-height:1em;
					span{
						text-transform:capitalize;
					}
					p{
						text-decoration:none;
						color:#444;
						font-size:16px;
					}
				}
			}
		}
		&.categorized{
			ul{
				border-top:1px $color1 solid;
				li{
					margin:0;
					padding:10px;
					box-sizing:border-box;
					border-left:1px $color1 solid;
					border-right:1px $color1 solid;
					border-bottom:1px $color1 solid;
					text-indent:0;
					list-style:none;

					-webkit-transition: all 0.2s ease-out;
                    -moz-transition: all 0.2s ease-out;
                    -o-transition: all 0.2s ease-out;
                    transition: all 0.2s ease-out;
					&:last-of-type{
					}
					&::before{
						content:'';
					}
					&:hover{
						background-color:#e1e1e1;

						-webkit-transition: all 0.2s ease-out;
						-moz-transition: all 0.2s ease-out;
						-o-transition: all 0.2s ease-out;
						transition: all 0.2s ease-out;
					}
					a{
						color:#444;
						font-size:16px;
						text-decoration:none;
						span{
							display:block;
							color:$color2;
							margin:0;
							text-decoration:underline;
						}
					}
				}
			}
		}
	}
	.white{
		.resource_list{
			ul{
				li{
					&::before{
						color:#fff;
					}
				}
			}
		}
	}

	.resource_accordion,
	.program_accordion{
		.vc_tta-panels{
			.vc_tta-panel-heading{
				border:none !important;
				border-radius:0 !important;
				background-color:$color2 !important;
				.vc_tta-panel-title{
					display:block;
					padding:0;
					box-sizing:border-box;
					h4{
						background-color:$color2;
					}
					a{
						padding:10px 0 !important;
						&:link,&:visited{
							text-decoration:none;
						}
						&:active,&:hover{
						}
						.vc_tta-title-text{
							display:inline-block;
							padding:0 20px 0 40px;
							color:#fff;
							font-family:$font1;
							text-decoration:none;
						}
						i{
							color:#fff;
							&::before,
							&::after{
								border-color:#fff !important;
							}
						}
					}
				}
			}
			.vc_tta-panel-body{
				border:none !important;
				padding:2px 0 !important;
				ul{
					li{
						list-style:none;
						margin-left:10px;
						text-indent:0;
						&:before{
							content:'';
						}
						a{
							display: block;
							padding: 5px 10px 5px 30px;
							margin: 0 0 1px 0;
							&:link,&:visited{
								background-color:#fff;
								span{
									color:#666;
								}
							}
							&:active,&:hover{
								background-color:#e1e1e1;
							}
						}
					}
				}
			}
		}
	}
	.resource_accordion{
		.vc_tta-panels{
			.vc_tta-panel-body{
				background:transparent !important;
			}
		}
	}
	.program_accordion{
		.vc_tta-panels{
			.vc_tta-panel-body{
				background:transparent !important;
				.vc_tta-container{
					margin-left:50px;
					.vc_tta-panels{
						.vc_tta-panel-heading{
							background-color:#fff !important;
							.vc_tta-panel-title{
								h4{
									background-color:#fff;
								}
								a{
									.vc_tta-title-text{
										color:$color1;
									}
									i{
										color:$color1;
										&::before,
										&::after{
											border-color:$color1 !important;
										}
									}
								}
							}
						}
						.vc_tta-panel-body{
							background:#fff !important;
							margin-bottom:3px;
							h4{
								color:$color1;
								font-size: 20px;
								line-height:1.2em;
								font-family:$font2;
								font-weight:700;
								text-transform:uppercase;
								margin-bottom:0;
							}
						}
					}
				}
			}
		}
	}
	.box{
		.resource_list{
			ul{
				li{
					line-height:1em;
					a{
						font-size:14px;
					}
				}
			}
		}
	}
	.page_list,
	.resource_list{
		&.icons{
			ul{
				margin-left:0;
				li{
					text-indent:0;
					padding:0;
					margin:0;
					-webkit-column-break-inside: avoid;
					page-break-inside: avoid;
					break-inside: avoid-column;
					&::before{
						content:'' !important;
					}
				}
				&.inline{
					text-align:left;
					li{
						display:inline-block;
						box-sizing:border-box;
						margin-right:10px;
						vertical-align:top;
						width:200px;
						a{
							height:45px;
							width:auto;
						}
					}
				}
			}
			a{
				display:table;
				width:100%;
				height:65px;
				box-sizing:border-box;
				padding:0 10px;
				margin:0 0 10px 0;
				span{
					display:table-cell;
					vertical-align:middle;
					line-height:1.2em;
					font-family:$font2;
					text-transform:uppercase;
					font-weight:400;
					font-size:14px;
					text-decoration:none;
					color:#fff;
				}
				&:hover{
					span{
						color:$color1;
					}
				}
			}
		}
	}

	.team_member_list{
		#team_members_wrapper{
			>.row>.col-md-6{
				float:left;
			}
		}
		#team_members_filter{
			margin-bottom:20px;
			label{
				font-size:0;
			}
			input{
				border:1px $color1 solid;
				border-radius:0;
				font-size:18px;
				margin-left:0;
			}
		}
		table{
			margin:20px 0;
			thead{
				tr{
					border-bottom:3px $color1 solid;
					th{
						background-color:$color2;
						color:#fff;
						font-size:13px;
						font-family:$font1;
						padding:5px 2px;
						&::before,
						&::after{
							top:5px;
						}
					}
				}
			}
			tbody{
				tr{
					&:last-of-type{
						td{
							border-bottom:1px $color1 solid;
						}
					}
				}
				td{
					font-size:12px;
					border-left:1px $color1 solid;
					border-top:1px $color1 solid;
					padding:2px 5px;
					&:last-of-type{
						border-right:1px $color1 solid;
					}
				}
			}
		}
	}

    .recent_posts{
    	ul{
    		margin:0;
    		padding:0;
    		li{
    			list-style:none;
    			background:rgba(244,244,241,0.8);
    			img{
    				display:block;
    			}
    			h4{
    				a:link,a:visited{
    					display:block;
						font-size:21px;
						line-height:1.2em;
					}
    			}
    			.recent_post_excerpt{
					box-sizing:border-box;
					padding:10px 20px;
				}
    		}
    	}
    	&.list{
    		ul{
    			li{
    				margin-bottom:0;
    				background:transparent;
					.vc_col-sm-10{
						border-left:2px $color2 solid;
						padding-left:20px;
					}
    				h3{
    					line-height:1em;
						margin-bottom: 0;
						a:link,a:visited{
							line-height:1em;
						}
					}
    				.event-details{
    					box-sizing:border-box;
    					padding:10px 0;
    					margin-bottom:20px;
    					.location{
    						display:block;
    					}
    				}
    			}
    		}
    	}
	}
	/* Gravity Forms */
	.gform_wrapper{
		.gform_heading{
			h3{
				font-size:36px;
				font-weight:400;
			}
		}
		.gform_body{
			ul{
				li{
					padding:0;
					padding-right:0;
					box-sizing:border-box;
					input[type=text],
					input[type=password],
					select,
					textarea{
						border:1px #ccc solid;
						border-radius:0;
						padding:10px;
					}
					textarea{
						height:150px;
					}
				}
			}
		}
		.gform_footer{

		}
	}

	.loginform{
		.tml{
			width:100%;
			max-width:100%;
			#login_error,.message{
				width:100% !important;
			}
			.message,
			.error,
			.error strong{
				background-color:transparent;
				color:#fff;
				border:none;
			}
			label{
				color:#fff;
			}
			.description{
				color:#fff;
			}
			span.dashicons{
				color:#fff;
			}
			input{
				border:1px $color1 solid;
				border-radius:0;
			}
			input[type="submit"]{
				display:inline-block;
				margin:10px 0;
				padding: 10px 30px;
				background-color:$color1;
				color:#fff;
				border:none;
				text-decoration:none;
				text-transform:uppercase;
				font-size:16px;
				font-weight:100;
				font-family:'Open Sans',serif;
				text-align:center;
				border-radius:0 10px;

				-webkit-transition: all .2s ease-out;
				-moz-transition: all .2s ease-out;
				-o-transition: all .2s ease-out;
				transition: all .2s ease-out;
				&:hover{
					background:#fff;
					color:$color1;
				}
			}
			.tml-action-links{
				float:right;
			}
			.tml-rememberme-wrap{
				float:right;
			}
			.tml-submit-wrap{
				float:left;
			}
			ul.tml-action-links{
				li{
					list-style:none;
					a{
						color:$color1;
						text-decoration:underline;
					}
					&:before{
						content:'';
					}
				}
			}
		}
	}

    /* Events */
    .tribe-community-events{
    	max-width:$grid-width;
    	margin:0 auto;
    }
    .wpb_column{
    	&.service-text{
    		.vc_column-inner{
    			padding-left:60px;
    		}
    	}
    }
    .wpb_single_image{
		&.service-icon {
			position: absolute;
			top: 0;
			right: -50px;
			background: #fff;
			border-radius: 50%;
			padding: 0;
		}
	}
    .white .recent_posts{
    	color:#fff;
    	li{
    		color:#fff;
    		h3{
    			color:#fff;
    			a:link,a:visited{
    				color:#fff;
    			}
    		}
			.event-details{
				color:#fff;
			}
    	}
    }

    /* Facebook Feed */
    .wpb_widgetised_column{
    	margin-bottom:0;
		#cff{
			.cff-item{
				margin:10px 0;
				&:last-of-type{
					border-bottom:0;
				}
				.cff-author{
					float: left;
					clear: none;
					margin: 0;
					padding: 0;
					width: 18%;
					margin-right: 1%;
					a{
						width:100%;
						.cff-author-text{
							display:none;
						}
						.cff-author-img{
							width:100%;
							margin:0 !important;
							img{
								width: 100%;
								height: 100%;
							}
						}
					}
				}
				p.cff-post-text{
					width: 79%;
					margin-right: 1%;
					clear:none;
					padding: 0;
					margin:0;
					span.cff-text{
						height: 95px;
						overflow: hidden;
						color:#fff;
						font-size:13px;
						line-height: 1.4em;
						display: block !important;
						a{
							color:#fff;
							text-decoration:underline;
						}
					}
				}
			}
		}
	}

	.locations{
		ul{
			list-style:none;
			margin:0;
			padding:0;
			li{
				margin:0 0 20px 0;
				padding:0;
				text-indent:0;
				font-size:10px;
				color:#fff;
				-webkit-column-break-inside: avoid;
				page-break-inside: avoid;
				break-inside: avoid-column;
				&::before{
					content:'';
				}
				strong,b{
					color:$color1;
					font-size:14px;
					font-family:$font1;
				}
			}
		}
		&.alt{
			ul{
				li{
					strong,b{
						color:#fff;
						font-family:$font1;
					}
				}
			}
		}
	}
} // .content, .container

/* Blog, Search, Archives */
.blog,
.single,
.archive,
.category,
.search{
	.content{
		max-width:$grid-width;
		margin:0 auto;
		text-align:left;

	    .page-header{
			.vc_wp_custommenu{
				.widget_nav_menu{
					li {
						a {
							padding-left:55px;
							padding-right:55px;
						}
					}
				}
			}
		}
		.post-date{
			font-size:1.2em;
			color:$color2;
		}
		h3{
			a{
				line-height:1.2em;
				&:link,&:visited{

				}
				&:active,&:hover{
				}
			}
		}
		.entry-meta{
			border-top:1px #ccc solid;
			border-bottom:1px #ccc solid;
			padding: 5px 0;
			margin: 10px 0;
		}
		.blog-sidebar{
			margin-top:35px;
			border-left:1px #ccc solid;
			.wpb_widgetised_column .searchform {
				float: none;
				display: block;
				padding: 0;
				margin:35px 0;
				#s {
					border: 1px #ccc solid;
					border-radius:0;
					background: #f1f1f1;
					color: #777;
					margin-right: 0;
				}
				div {
					background-image: none;
					float: none;
					display: block;
				}
			}
		}
	}
}

/* Blog & Events */
.archive,
.blog,
.search,
.category{
	.content{
		#tribe-events{
			article.tribe_events{
				display:block;
				border-bottom:1px #ccc solid;
				padding:0 0 20px 0;
				margin:0 0 20px 0;
				&:last-of-type{
					border-bottom:none;
				}
				.featured-image{
					display: inline-block;
					width: 20%;
					margin: 0 1% 0 0;
					vertical-align: top;
					box-sizing: border-box;
				}
				.post-content{
					display: inline-block;
					width: 78%;
					margin: 0;
					vertical-align: top;
					box-sizing: border-box;
					h3{
						a:link,a:visited{
							line-height:1.2em;
						}
					}
					.post-date{
						color:$color2;
						font-weight:700;
					}
				}
			}
		}
		article{
		    border-bottom: 1px #ccc solid;
			margin: 0 0 20px 0;
			padding: 0 0 20px 0;
			&:last-of-type{
				border-bottom:0;
			}
		}
		.navigation ul{
			text-align:center;
			margin-top:20px;
			li{
				display: inline-block;
				vertical-align:top;
				a,a:hover,&.active a,&.disabled {
					color: #fff;
					text-decoration:none;
					display:block;
					background-color: $color1;
					cursor: pointer;
					width:35px;
					padding: 10px 10px;
					box-sizing:border-box;
					font-size:16px;
				}
				a:hover,&.active a{
					background-color:$color2;
				}
				&.arrow a{
					background-color:#fff;
					padding:8px 10px;
					i{
						color:$color2;
						font-size:1.6em;
					}
					&:hover,&.active{
						i{
							color:$color1;
						}
					}
				}
			}
		}
	}
}

/* Tribe Event submission page */
.tribe_community_edit{
	.content{
		max-width:800px;
		margin:0 auto;
		text-align:center;
		h3{
			margin-top:100px;
		}
		form{
			max-width:400px;
			margin:0 auto;
			text-align:left;
			label{
				display:block;
				font-weight:bold;
			}
			input[type=text],
			input[type=password]{
				border:1px #ccc solid;
				border-radius:0;
				width:100%;
			}
		}
		#tribe-events{
			form{
				max-width:100%;
			}
		}
	}
	&.logged-in{
		.content{
			max-width:$grid-width;
		}
	}
}

.content .popup {
    background-color: #fff;
    display: none;
    &#login {
        display: none;
    }
}
.popup {
    position: relative;
}
.tos-desktop .tos-wrapper.tos-fixed.tos-fit {
    &.tos-has-prev .tos-slide, &.tos-has-next .tos-slide, &.tos-has-close .tos-slide {
        padding-left: 20px;
        padding-right: 20px;
    }
}
a.tos-close {
    position: absolute;
    display: block !important;
    top: 5px;
    right: 5px;
    border: 3px #ccc solid;
    background-color: #fff;
    width: 50px;
    height: 50px;
    opacity: 1 !important;
    border-radius: 50%;
}
.tos-close span:before, .tos-prev span {
    border-bottom: 3px solid #ccc;
    border-left: 3px solid #ccc;
    left: 50%;
}
.tos-close span:after, .tos-next span {
    border-top: 3px solid #ccc;
    border-right: 3px solid #ccc;
    right: 50%;
}
.tos-close span {
    &:after, &:before {
        width: 10px;
        height: 10px;
        margin-top: -6px;
        margin-left: 0;
        margin-right: 1px;
    }
}
.popup {
    .content {
        padding-bottom: 0;
        background-color: #fff;
    }
    &.video .content {
        padding-bottom: 40px;
    }
    &#login .content {
        background-color: transparent;
    }
}
.tos-wrapper.tos-fixed .tos-slide.tos-html > div {
    padding: 55px 0 0 0 !important;
}
.popup_detail_content {
    max-width: 960px;
}
.tos-wrapper.tos-fixed .tos-slide.tos-html > div {
    background-color: transparent;
}

.footer {
    h3.widget-title {
        color: #ccc;
        font-size: 1.2em;
        margin-bottom: 20px;
    }
    ul{
    	li{
    		a{
    			font-size:11px;
    			&:link,&:visited{
    				text-decoration:none;
    			}
    			&:active,&:hover{
    				text-decoration:underline;
    			}
    		}
    	}
    	&.menu {
			margin: 0 0 20px 0;
			li a {
				color: #ccc;
				font-size: 16px;
				line-height: 1.6em;
				font-family: $font2;
				font-weight: 400;
				margin-bottom: 20px;
				&:hover {
					text-decoration: underline;
				}
			}
		}
    }
    hr {
        height: 1px !important;
        background: #ccc;
        width: 30%;
        font-size: 1px;
        overflow: hidden;
        margin: 0;
    }
    .image-wrapper {
        overflow: hidden;
        margin-bottom: 20px;
    }
    .col {
        padding: 50px 0;
        > div {
            padding: 0 20px;
        }
        h3, a {
            color: #fff;
        }
        p {
            margin: 0 auto 10px auto;
            line-height: 1.6em;
            color: #fff;
            span {
                color: #fff;
            }
        }
    }
}
#comments {
    display: none;
}
.block {
    display: block;
    img {
        display: block;
    }
}
.level_0 {
    z-index: 999;
}
.clear {
    clear: both;
}
.hide{
	dislay:none;
}
#popup {
    width: 50% !important;
    margin-left: -25% !important;
}
