/*-------------------------------------------------------*\
    Buttons
/*-------------------------------------------------------*/

.button, button, input[type="submit"], input[type="button"], a.button:link, a.button:visited {
    border: 2px solid transparent;
    display: inline-block;
    padding: 10px 28px;
    text-align: center;
    font-size: $body-copy-size;
    font-weight: normal;
    letter-spacing: 1px;
    text-transform: none;
    text-decoration: none !important;
    white-space: nowrap;
    border-radius: 0;
    background: $primary-color;
    color: white;
    position: relative;
    @include break-at($medium-break) {
        @include transition(all, .35s);
        min-width: 150px;
    }

    $current-primary-color: $primary-color;

    strong {
        color: inherit !important;
    }

    &:before {
        float: right;
        line-height: 1.5em;
        padding-left: 10px;
        margin-right: -4px;
    }

    &[disabled="disabled"]:hover, &[disabled="disabled"] {
        cursor: text !important;
        transition: none !important;
        background-color: #333 !important;
        color: white !important;
        opacity: 0.8;
        cursor: not-allowed !important;

    }

    &.fat-top {
        padding: 17px 30px;
    }

    &.fat {
        font-size: multiply($body-copy-size,1.225);
        padding: 16px 35px;
        @include break-at($medium-break) {
            min-width: 240px;
        }
    }

    &:hover, &:focus, &:active {
        outline: 0;
        text-decoration: none;
        background: white;
        color: $current-primary-color;
        border-color: $current-primary-color;
    }

    &.outline {
        background: transparent;
        color: $current-primary-color;
        border: solid 1px $current-primary-color;

        &:hover, &:focus, &:active {
            background: $current-primary-color;
            color: white;
            border-color: $current-primary-color;
        }
    }

    &.white {
        background: white;
        color: $primary-color;
        text-decoration: none;

        &:hover, &:focus {
            background: transparent;
            border-color: white !important;
            color: white !important;
        }
    }

    &.secondary {
        border-color: white;
        background: transparent;
        color: white;

        &:hover, &:focus {
            border-color: white;
            background: white;
            color: $primary-color;
        }
    }

    &.borderless {
        border-color: transparent !important;
    }

    &.tertiary {
        background: $primary-color;

        &.outline {
            color: $primary-color;
            border: solid 1px $primary-color;
        }

        &.white {
            background: white;
            color: $primary-color;
        }

        &:hover, &:focus {
            background: white;
            border-color: $primary-color;
            color: $primary-color;
        }
    }

    &.neutral {
        background: $neutral-color;

        &.outline {
            color: $neutral-color;
            border: solid 1px $tertiary-color;
        }

        &.white {
            background: white;
            color: $neutral-color;
        }
    }
}

// %button {
//     display: inline-block;
//     padding: 10px 12px;
//     text-align: center;
//     font-size: em(15px);
//     font-weight: 600;
//     line-height: normal;
//     text-decoration: none;
//     white-space: nowrap;
//     box-sizing: border-box;
//     position: relative;
//     border: solid 1px transparent;
//     cursor: pointer;
//     overflow: hidden;
//     border-radius: 5px;
//     @include break-at($medium-break) {
//         @include transition();
//     }
//     &:hover, &:focus, &:active {
//         text-decoration: none;
//     }
// }

// .button {
//     @extend %button;
//     background-color: $primary-color;
//     color: white;

//     &:hover, &:focus {
//         border-color: $primary-color;
//         background: white;
//         color: $primary-color;
//     }

//     &.alternate, &.altertate-container a  {
//         border-color: transparent;
//         background: $secondary-color;
//         color: white;
//         &:hover, &:focus {
//             background: white;
//             color: $secondary-color;
//         }
//     }

//     &.secondary, &.secondary-container a {
//         border-color: transparent;
//         background: white;
//         color: $primary-color;
//         &:hover, &:focus {
//             border-color: transparent;
//             background: $secondary-color;
//             color: white;
//         }
//     }

//     &.tertiary, &.tertiary-container a {
//         border-color: white;
//         background: transparent;
//         color: white;
//         &:hover, &:focus {
//             border-color: white;
//             background: white;
//             color: $secondary-color;
//         }
//     }


// }

// .button-container {
//     a {
//         @extend .button;
//     }
// }