/*-------------------------------------------------------*\
    Filters
/*-------------------------------------------------------*/

.saturate {
    @include prefixer(filter, saturate(3));
}

.grayscale-inverse {
    @include prefixer(filter, grayscale(100%) invert(100%));
}

.grayscale {
    @include prefixer(filter, grayscale(100%));
}

.contrast {
    @include prefixer(filter, contrast(160%));
}

.brightness {
    @include prefixer(filter, brightness(0.25));
}

.bright-white {
    @include prefixer(filter, grayscale(100%) brightness(500%));
}

.blur {
    // @include prefixer(filter, blur(3px));
}

.invert {
    @include prefixer(filter, invert(100%));
}

.sepia {
    @include prefixer(filter, sepia(100%));
}

.primary-icon-hue {
    @include prefixer(filter, hue-rotate(208deg) brightness(148%));
}

.secondary-icon-hue {
    @include prefixer(filter, hue-rotate(232deg) brightness(118%) saturate(59%));
}

.tertiary-icon-hue {
    @include prefixer(filter, none);
}

.black-icon-hue {
    @include prefixer(filter, brightness(0%));
}

.rss.opacity {
    @include prefixer(filter, opacity(50%));
}
