/*-------------------------------------------------------*\
    Flex
/*-------------------------------------------------------*/
%flex {
    @include flexworks();
}

.flex {
    .sidebar {
        min-height: 100vh;
    }
    &.flex-desktop {
        @include break-at($large-break) {
            @include flexworks();
            &.top {
                @include flexworks(flex-start);
                > .col, .item {
                    align-items: flex-start;
                }
            }
            &.bottom {
                @include flexworks(flex-end);
                > .col, .item {
                    align-items: flex-end;
                }
            }
        }
    }
    &.flex-mobile {
        @include break-max-at($medium-break) {
            @include flexworks();
            &.top {
                @include flexworks(flex-start);
                > .col, .item {
                    align-items: flex-start;
                }
            }
            &.bottom {
                @include flexworks(flex-end);
                > .col, .item {
                    align-items: flex-end;
                }
            }
        }
    }
    &:not(.flex-desktop):not(.flex-mobile) {
        @include flexworks();
        &.top {
            @include flexworks(flex-start);
            > .col, .item {
                align-items: flex-start;
            }
        }
        &.bottom {
            @include flexworks(flex-end);
            > .col, .item {
                align-items: flex-end;
            }
        }
    }
    >.item {
        flex: 1;
    }
    > .col, .item {

        &.top {
            align-self: flex-start;
        }

        &.bottom {
            align-self: flex-end;
        }

        &.fixed {
            flex: none;
            max-width: 50%;
        }
    }
}

.flex-mobile {
    @include break-max-at($medium-break) {
        @include flexworks();
    }
}
