/*-------------------------------------------------------*\
    Forms
/*-------------------------------------------------------*/

form {
    input {
        border-radius: 0;
        border: 1px solid #cbcccc;
    }
}

.gglcptch_recaptcha {
    > * {
        @include break-max-at($medium-break) {
            margin-left: auto;
            margin-right: auto;
        }
    }
}

/*-------------------------------------------------------*\
    Global Form Styles
/*-------------------------------------------------------*/
.gform_wrapper {
    input, optgroup, select, textarea {
        color: inherit;
        font: inherit;
        margin: 0;
        width: 100% !important;
        max-width: $max-contain-width !important;
    }

    button {
        overflow: visible;
    }

    button, select {
        text-transform: none;
    }

    button, input[type="button"], input[type="reset"], input[type="submit"] {
        -webkit-appearance: button;
        cursor: pointer;

        @extend .button;
    }

    [disabled] {
        cursor: default;
    }

    button::-moz-focus-inner, input::-moz-focus-inner {
        border: 0;
        padding: 0;
    }

    fieldset {
        border: 1px solid #c0c0c0;
        margin: 0 2px;
        padding: 0.35em 0.625em 0.75em;
    }

    legend {
        border: 0;
        padding: 0;
    }

    textarea {
        overflow: auto;
        height: auto;
        min-height: 50px;
        border-radius: 0;
    }

    select {
        width: 100%;
        border-radius: 0;
    }

    button {
        -webkit-appearance: none;
        -moz-appearance: none;
        background: transparent;
        padding: 0;
        border: 0;
        border-radius: 0;
        line-height: 1;
    }

    [type="text"], [type="password"], [type="date"], [type="datetime"], [type="datetime-local"], [type="month"], [type="week"], [type="email"], [type="number"], [type="search"], [type="tel"], [type="time"], [type="url"], [type="color"], textarea {
        display: block;
        box-sizing: border-box;
        width: 100%;
        min-height: 15px;
        padding: 10px;
        border: 1px solid $lightest-gray;
        margin: 0;
        font-family: $sans-serif;

        // font-size: 15px;
        color: $copy-color;
        background-color: #fefefe;
        border-radius: 3px;
        -webkit-appearance: none;
        -moz-appearance: none;

        @include prefixer(box-shadow, inset 0 1px 2px $shadow-color);
        @include transition(all, 0.25s);
    }

    input, textarea {
        line-height: normal;
        max-width: 100%;

        &[rows] {
            height: auto;
        }

        &:disabled, &[readonly], &:disabled, &[readonly] {
            background-color: $light-gray;
        }

        &[type="checkbox"], &[type="radio"] {
            box-sizing: border-box;
            padding: 0;
        }

        &[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
            height: auto;
        }

        &[type="search"] {
            -webkit-appearance: textfield;
            box-sizing: content-box;
        }

        &[type="search"] {
            box-sizing: border-box;
        }

        &[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
            -webkit-appearance: none;
        }

        + label {
            font-size: 80%;
            color: $medium-gray;
            margin-top: em(5px);
        }

        &.error {
            border-color: $error-color;

            @include prefixer(box-shadow, 0px 0px 4px $error-color);
        }
    }

    form {
        ul {
            li {
                list-style-type: none;
                margin-bottom: em($pgap);

                ul {
                    li {
                        margin-bottom: em(5px);

                        > input {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }

        .input {
            padding: 0;

            @include break-at($medium-break) {
                clear: right;
            }


            &:before {
                line-height: 0;
                padding: 1.2em 0.8em;
                font-size: 15px;
            }

            &.fa {
                input {
                    padding-left: 38px;
                }
            }
        }

        input {
            &::-webkit-input-placeholder {
                color: $light-gray;
            }

            &::-moz-placeholder {
                color: $light-gray;
            }
        }
    }

    [type="text"]:focus, [type="password"]:focus, [type="date"]:focus, [type="datetime"]:focus, [type="datetime-local"]:focus, [type="month"]:focus, [type="week"]:focus, [type="email"]:focus, [type="number"]:focus, [type="search"]:focus, [type="tel"]:focus, [type="time"]:focus, [type="url"]:focus, [type="color"]:focus, textarea:focus {
        border: 1px solid $lightest-gray;
        background: white;
        outline: none;
        box-shadow: 0 0 5px $shadow-color;

        @include transition(box-shadow, 0.5s, ease-in-out);
    }

    [type="submit"], [type="button"] {
        border-radius: 0;
        -webkit-appearance: none;
        -moz-appearance: none;
    }

    [type="file"], [type="checkbox"], [type="radio"] {}

    [type="checkbox"] + label, [type="radio"] + label {
        display: inline-block;
        margin-left: 0.5em;
        margin-right: 1em;
        margin-bottom: 0;
        vertical-align: baseline;
    }

    [type="file"] {
        width: 100%;
    }

    label {
        display: block;
        margin: 0;
        font-weight: normal;

        &.invisible {
            line-height: em(4px);
        }

        > [type="checkbox"], > [type="label"] {
            margin-right: 0.5em;
        }

        &.middle {
            margin: 0 0 1em;
            padding: 0.5625em 0;
        }
    }

    .help-text {
        margin-top: -0.5em;
        font-size: 0.8125em;
        font-style: italic;
        color: #333;
    }

    .input-group {
        display: table;
        width: 100%;
        margin-bottom: 1em;
    }

    .input-group-label, .input-group-field, .input-group-button {
        display: table-cell;
        margin: 0;
        vertical-align: middle;
    }

    .input-group-label {
        text-align: center;
        width: 1%;
        height: 100%;
        padding: 0 1em;
        background: #e6e6e6;
        color: #0a0a0a;
        border: 1px solid #cacaca;
    }

    .input-group-label:first-child {
        border-right: 0;
    }

    .input-group-label:last-child {
        border-left: 0;
    }

    .input-group-button {
        height: 100%;
        padding-top: 0;
        padding-bottom: 0;
        text-align: center;
        width: 1%;
    }

    fieldset {
        border: 0;
        padding: 0;
        margin: 0;
    }

    legend {
        margin-bottom: 0.5em;
    }

    .fieldset {
        border: 1px solid #cacaca;
        padding: 1.25em;
        margin: 1.125em 0;
    }

    .fieldset legend {
        background: #fefefe;
        padding: 0 0.1875em;
        margin: 0;
        margin-left: -0.1875em;
    }

    select {
        height: 2.4375em;
        padding: 0.5em;
        border: 1px solid #cacaca;
        border-radius: 0;
        margin: 0 0 1em;
        font-size: 1em;
        font-family: $sans-serif;
        line-height: normal;
        color: $copy-color;
        background-color: #fafafa;
        border-radius: 0;
        -webkit-appearance: none;
        -moz-appearance: none;
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="32" height="24" viewBox="0 0 32 24"><polygon points="0,0 32,0 16,24" style="fill: rgb(51, 51, 51)"></polygon></svg>');
        background-size: 9px 6px;
        background-position: right 0.5em center;
        background-repeat: no-repeat;
    }

    select::-webkit-input-placeholder::-webkit-input-placeholder, ::-moz-placeholder, ::-ms-input-placeholder, ::input-placeholder {
        color: $copy-color;
    }

    form.jobs-state-form {
        position: relative;

        label {
            color: #fff;

            &:before {
                content: "\f041";
                font-family: "fontawesome";
                position: absolute;
                top: 35px;
                left: 10px;
            }
        }

        input {
            background: transparent;
            padding: 12px 10px 12px 25px;
            display: block;
            margin: 0;
            height: auto;
            border: solid 1px #fff;
            font-size: em(14px);

            &:focus {
                background: none;
                color: #fff;
                border-color: #fff;
                border-left-width: 4px;
            }

            @include break-at($medium-break) {
                width: 40%;
            }
        }
    }

    select:disabled {
        background-color: #e6e6e6;
        cursor: default;
    }

    select::-ms-expand {
        display: none;
    }

    select[multiple] {
        height: auto;
    }

    .is-invalid-input:not(:focus) {
        background-color: rgba(198, 15, 19, 0.1);
        border-color: #c60f13;
    }

    .is-invalid-label {
        color: #c60f13;
    }

    .form-error {
        display: none;
        margin-top: -0.5em;
        margin-bottom: 1em;
        font-size: 0.75em;
        font-weight: bold;
        color: #c60f13;
    }

    .form-error.is-visible {
        display: block;
    }

    @media screen and (min-width: 0\0) {
        select {
            background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAYCAYAAACbU/80AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAIpJREFUeNrEkckNgDAMBBfRkEt0ObRBBdsGXUDgmQfK4XhH2m8czQAAy27R3tsw4Qfe2x8uOO6oYLb6GlOor3GF+swURAOmUJ+RwtEJs9WvTGEYxBXqI1MQAZhCfUQKRzDMVj+TwrAIV6jvSUEkYAr1LSkcyTBb/V+KYfX7xAeusq3sLDtGH3kEGACPWIflNZfhRQAAAABJRU5ErkJggg==");
        }
    }

    .gform_wrapper .field_sublabel_below .ginput_complex.ginput_container label, .gform_wrapper .field_sublabel_below div[class*=gfield_time_].ginput_container label {
        margin-bottom: 4px;
        padding-bottom: 0;
    }
}