/*-------------------------------------------------------*\
    Vintage Grid
/*-------------------------------------------------------*/

/*-------------------------------------------------------*\
    Mobile First Grid
/*-------------------------------------------------------*/

/* Small Grid
/*-------------------------------------------------------*/

@media only screen {
    @for $i from 1 through $columns {
        .small-#{$i} {
            width: column($i);
        }
    }

    @for $i from 1 through $columns {
        .small-push-#{$i} {
            left: column($i);
        }
    }

    @for $i from 1 through $columns {
        .small-pull-#{$i} {
            right: column($i);
        }
    }

    .small-centered {
        margin: 0 auto;
    }
}

/* Medium Grid
/*-------------------------------------------------------*/

@include break-at($medium-break) {
    @for $i from 1 through $columns {
        .medium-#{$i} {
            width: column($i);
        }
    }

    @for $i from 1 through $columns {
        .medium-push-#{$i} {
            left: column($i);
        }
    }

    @for $i from 1 through $columns {
        .medium-pull-#{$i} {
            right: column($i);
        }
    }

    .medium-centered {
        margin: 0 auto;
    }
}


/* Large Grid
/*-------------------------------------------------------*/

@include break-at($large-break) {
    @for $i from 1 through $columns {
        .large-#{$i} {
            width: column($i);
        }
    }

    @for $i from 1 through $columns {
        .large-push-#{$i} {
            left: column($i);
        }
    }

    @for $i from 1 through $columns {
        .large-pull-#{$i} {
            right: column($i);
        }
    }

    .large-centered {
        margin: 0 auto;
    }
}


/*-------------------------------------------------------*\
    Semantic Grid
/*-------------------------------------------------------*/

$advanced-usage: false !default;

%expand {
    max-width: 100%;
    padding-right: 0;
    padding-left: 0;
}

%block {
    padding-top: $padding-medium;
    padding-bottom: $padding-medium;
    margin-left: auto;
}

@mixin box-sizing($box) {
    @include prefix(box-sizing, $box, webkit moz spec);
}

@mixin block-center($text-align: false) {
    @if $text-align != false {
        text-align: $text-align;
    }

    float: none;
    margin-left: auto;
    margin-right: auto;
}

@mixin mobilefix {
    @include respond(all-phones) {
        &:before, &:after {
            content: " ";
            display: table;
        }

        &:after {
            clear: both;
        }

        &:last-child {
            float: none;
        }
    }
}

@mixin respond($media) {
    @if $media == portrait-phones {
        @media only screen and (max-width: $min-device-width) {
            @content;
        }
    }
    @else if $media == landscape-phones {
        @media only screen and (min-width: breakpoint($min-device-width)) and (max-width: breakpoint($medium-break)) {
            @content;
        }
    }
    @else if $media == all-phones {
        @media only screen and (max-width: breakpoint($medium-break)) {
            @content;
        }
    }
    @else if $media == portrait-tablets {
        @media only screen and (max-width: $medium-break) {
            @content;
        }
    }
    @else if $media == tablets {
        @media only screen and (min-width: $medium-break) and (max-width: $document-width - 1) {
            @content;
        }
    }
    @else if $media == desktop {
        @media only screen and (min-width: $medium-break) {
            @content;
        }
    }
    @else if $media == document-width {
        @media only screen and (max-width: $document-width + 20) {
            @content;
        }
    }
    @else if $media == large-screens {
        @media only screen and (min-width: $grid-width) {
            @content;
        }
    }
    @else if $media == print {
        @media print {
            @content;
        }
    }
    @else {
        @media only screen and ("#{$media}") {
            @content;
        }
    }
}

@mixin row {
    width: 100%;
    margin: 0 auto;
    padding-right: $gutter-width;
    padding-left: $gutter-width;

    @include clearfix;

    max-width: $grid-width;
}

// Mixin for rows that are nested within columns
@mixin nestedRow {
    width: auto;
    min-width: 0;
    max-width: none;
    padding-left: 0;
    padding-right: 0;

    @extend %clearfix;
}

@mixin col {
    float: $default-float;
    min-height: 1px;
    position: relative;
    padding: 0 $gutter-width;
}

@mixin row-full {
    @include nestedRow;
}

@mixin row-block($full: false) {
    @if $full == full {
        @include row-full;
    }
    @else {
        @include row;
    }

    @extend %block;
}

@mixin row-inner($inner-padding: 0) {
    width: 100%;
    margin: 0 auto;
    max-width: $grid-inner-width;
    clear: both;

    @include clearfix;
}

// Mixin for rows that are nested within columns
@mixin nested-row {
    width: auto;
    min-width: 0;
    padding-left: 0;
    padding-right: 0;

    @include clearfix;
}

/*  Column width
-------------------------------------------------------*/

@mixin columns($columns, $omega: false) {
    float: left;
    width: column($columns);

    @if $omega == omega {
        padding: 0;

        // margin-right: 0;
    }
    @else {
        padding: 0 $gutter-width;

        // margin-right: percentage($gutter-width, $grid-width);
    }
}

// Columns
@mixin col-full($large-cols: $columns, $med-cols: $large-cols, $sm-cols: $columns) {
    float: $default-float;
    min-height: 1px;
    position: relative;
    width: percentage($sm-cols, $columns);

    @include break-at($medium-break) {
        width: percentage($med-cols, $columns);
    }


    @include break-at($large-break) {
        width: percentage($large-cols, $columns);
    }
}

@mixin col($large-cols: $columns, $med-cols: $large-cols, $sm-cols: $columns) {
    @include col-full($large-cols, $med-cols, $sm-cols);

    padding-left: $gutter-width;
    padding-right: $gutter-width;
}

// Placeholders for the Semantic Grid
%clearfix {
    @include clearfix;
}

%mobilefix {
    @include mobilefix;
}

%columnconfig {
    float: $default-float;
    min-height: 1px;
    position: relative;
    padding: 0 $gutter-width;

    @include box-sizing(border-box);
}

%pull-right {
    float: right;
}

%pull-left {
    float: left;
}

%pull-none {
    float: none;
}

%collapse {
    left: 0;
}

// Row placeholders
%row {
    @include row;
}

%nested-row {
    @include row;
}

// Centered Mixin
@mixin block-centered {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

/* Mobile First Grid */

.row {
    max-width: $grid-width;
    margin: 0 auto;

    @include clearfix;

    width: 100%;
    padding: 0 $gutter-width;

    .row {
        margin-right: -$gutter-width;
        margin-left: -$gutter-width;
        width: auto;
        max-width: none;
        padding: 0;

        &.inner {
            max-width: $grid-width;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &.no-gutter, &.inner {
        > .col {
            padding-right: 0 !important;
            padding-left: 0 !important;
        }
    }

    &.full {
        @include break-at($medium-break) {
            padding-left: 0;
            padding-right: 0;
        }
    }

    &.full-large {
        @include break-at($large-break) {
            padding-left: 0;
            padding-right: 0;
        }
    }



    &.padless {
        @include break-at($small-break) {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
    }

    &.full-mobile {
        @include break-max-at($medium-break) {
            padding-left: 0;
            padding-right: 0;
        }
    }

    &.full-tiny {
        @include break-max-at($small-break) {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

.full-row {
    @include clearfix;

    width: 100%;

    >.col {
        padding-left: em(25px);
        padding-right: em(25px);

        @include break-at($medium-break) {
            padding-left: 2vw;
            padding-right: 25px;
        }
    }

    // .row {
    //     padding: 0;
    // }
}

.col {
    float: left;
    width: 100%;
    position: relative;
    padding: 0 $gutter-width;

    &.full-col, &.expand {
        padding-left: 0;
        padding-right: 0;
    }

    &.end {
        float: right;
    }

    &.end-mobile {
        @include break-max-at($medium-break) {
            float: right;
        }
    }

    &.end-desktop {
        @include break-at($medium-break) {
            float: right;
        }
    }

    &.static {
        position: static;
    }
}

/* Small Grid */

@media only screen {
    @for $i from 1 through $columns {
        .small-#{$i} {
            width: column($i);
        }
    }

    @for $i from 1 through $columns {
        .small-push-#{$i} {
            left: column($i);
        }
    }

    @for $i from 1 through $columns {
        .small-pull-#{$i} {
            right: column($i);
        }
    }

    .small-full-col {
        padding-left: 0;
        padding-right: 0;
    }

    .small-centered {
        margin: 0 auto;
        float: none;
    }

    .small-right {
        float: right;
    }

    .small-left {
        float: left;

        &.end {
            float: left;
        }
    }
}

/* Medium Grid */

@include break-at($medium-break) {
    @for $i from 1 through $columns {
        .medium-#{$i} {
            width: column($i);
        }
    }

    @for $i from 1 through $columns {
        .medium-push-#{$i} {
            left: column($i);
        }
    }

    @for $i from 1 through $columns {
        .medium-pull-#{$i} {
            right: column($i);
        }
    }

    .medium-full-col {
        padding-left: 0;
        padding-right: 0;
    }

    .medium-centered {
        float: none;
        margin: 0 auto;
    }

    .medium-right {
        float: right;
    }

    .medium-left {
        float: left;

        &.end {
            float: left;
        }
    }
}


/* Large Grid */

@include break-at($large-break) {
    @for $i from 1 through $columns {
        .large-#{$i} {
            width: column($i);
        }
    }

    @for $i from 1 through $columns {
        .large-push-#{$i} {
            left: column($i);
        }
    }

    @for $i from 1 through $columns {
        .large-pull-#{$i} {
            right: column($i);
        }
    }

    .large-full-col {
        padding-left: 0;
        padding-right: 0;
    }

    .large-centered {
        float: none;
        margin: 0 auto;
    }

    .large-right {
        float: right;
    }

    .large-left {
        float: left;

        &.end {
            float: left;
        }
    }
}


/* Tiny Grid */

@include break-max-at($tiny-break) {
    @for $i from 1 through $columns {
        .tiny-#{$i} {
            width: column($i);
        }
    }

    @for $i from 1 through $columns {
        .tiny-push-#{$i} {
            left: column($i);
        }
    }

    @for $i from 1 through $columns {
        .tiny-pull-#{$i} {
            right: column($i);
        }
    }

    .tiny-full-col {
        padding-left: 0;
        padding-right: 0;
    }

    .tiny-centered {
        margin: 0 auto;
        float: none;
    }

    .tiny-right {
        float: right;
    }

    .tiny-left {
        float: left;

        &.end {
            float: left;
        }
    }
}