/*-------------------------------------------------------

    Helpers
/*-------------------------------------------------------*/

/* Spacing */

.no-pad {
    padding: 0 !important;
}

.no-pad-x {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.no-pad-left {
    padding-left: 0 !important;
}

.no-pad-right {
    padding-right: 0 !important;
}

.pad-right {
    @include break-at($medium-break) {
        padding-right: $pgap !important;

        &.more {
            padding-right: $padding-small !important;
        }

        &.less {
            padding-right: $tiny-gap !important;
        }

        &.minimum {
            padding-right: 2px !important;
        }
    }
}

.pad-left {
    @include break-at($medium-break) {
        padding-left: $pgap !important;

        &.more {
            padding-left: $padding-small !important;
        }

        &.less {
            padding-left: $tiny-gap !important;
        }

        &.minimum {
            padding-left: 2px !important;
        }
    }
}

.pad-top {
    padding-top: $pgap !important;

    &.more {
        padding-top: $padding-small !important;
    }

    &.less {
        padding-top: $tiny-gap !important;
    }

    &.minimum {
        padding-top: 2px !important;
    }
}

.pad-bottom {
    padding-bottom: $pgap !important;

    &.more {
        padding-bottom: $padding-small !important;
    }

    &.less {
        padding-bottom: $tiny-gap !important;
    }

    &.minimum {
        padding-bottom: 2px !important;
    }
}

.push-up {
    margin-top: $pgap !important;

    &.more {
        margin-top: $padding-small !important;
    }

    &.less {
        margin-top: $tiny-gap !important;
    }
}

.push-down {
    margin-bottom: $pgap !important;

    &.more {
        margin-bottom: $padding-small !important;
    }

    &.less {
        margin-bottom: $tiny-gap !important;
    }
}

/* Clearfix */
.clear, .clearfix {
    @include clearfix;
}

/* Make element (like a map) unclickable */
.disabled-overlay {
    @include hidden-overlay;
}

/* Force heights & widths */
.full-width {
    width: 100% !important;
    max-width: none !important;
}

.full-height {
    height: 100% !important;
    max-height: none !important;
}

/* Text Alignment */
.u-center {
    text-align: center !important;
}

.text-center {
    text-align: center !important;

    > * {
        text-align: center !important;
    }
}

.text-center-mobile {
    @include break-max-at($medium-break) {
        text-align: center !important;
    }


    > * {
        @include break-max-at($medium-break) {
            text-align: center !important;
        }
    }
}

.text-left {
    text-align: left !important;

    > * {
        text-align: left !important;
    }
}

.text-right {
    text-align: right !important;

    > * {
        text-align: right !important;
    }
}

/* Font Sizes */
.small {
    font-size: 87.5%;
}

.jumbo {
    font-size: 160%;
}

/* Text Case Transformations */
.uppercase {
    text-transform: uppercase !important;
}

.lowercase {
    text-transform: lowercase !important;
}

.title-case {
    text-transform: capitalize !important;
}

.italic {
    font-style: italic !important;
}

/* Font Weights */
.strong {
    font-weight: $bold !important;
}

.medium-weight {
    font-weight: $medium !important;
}

.normal-weight {
    font-weight: $normal !important;
}

.light-weight {
    font-weight: $light !important;
}

.white-color {
    color: white !important;
}

.black-color {
    color: black !important;
}

.primary-color {
    color: $primary-color !important;
}

.secondary-color {
    color: $secondary-color !important;
}

.light-color {
    color: #ccc !important;
}

.tertiary-color {
    color: $tertiary-color;
}

.quaternary-color {
    color: $quaternary-color;
}

.underline {
    text-decoration: underline !important;
}

.underline-border {
    text-decoration: none !important;
    border-bottom: 1px solid;

    // display: inline-block;
}

.dont-underline {
    text-decoration: none !important;
}

.underscore {
    border-width: 0 0 2px 0;
    border-bottom: 2px solid;
    display: block;
}

.border-color-black {
    border-color: black;
}

.border-color-white {
    border-color: white !important;
}

.border-color-primary {
    border-color: $primary-color;
}

.border-color-secondary {
    border-color: $secondary-color;
}

.border-color-tertiary {
    border-color: $tertiary-color;
}

.border-color-quaternary {
    border-color: $quaternary-color;
}

.bg-white {
    background-color: white !important;
}

.bg-transparent {
    background-color: transparent;
}

.bg-black {
    background-color: black;
}

.bg-primary {
    background-color: $primary-color;
}

.bg-secondary {
    background-color: $secondary-color;
}

.bg-tertiary {
    background-color: $tertiary-color;
}

.bg-quaternary {
    background-color: $quaternary-color;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.overflow-hidden {
    overflow: hidden !important;
}

.block {
    display: block;
}

.block-center {
    margin-left: auto;
    margin-right: auto;
}

.pull-up {
    margin-bottom: 0;
    padding-bottom: 0;
}

.pull-down {
    margin-top: 0;
    padding-bottom: 0;
}

.overflow-visible {
    overflow: visible !important;
}

.push-up {
    margin-top: $pgap !important;

    &.more {
        margin-top: $padding-small !important;
    }

    &.less {
        margin-top: $tiny-gap !important;
    }
}

.push-down {
    margin-bottom: $pgap !important;

    &.more {
        margin-bottom: $padding-small !important;
    }

    &.less {
        margin-bottom: $tiny-gap !important;
    }
}

.nowrap {
    white-space: nowrap !important;
}

.raise-up {
    position: relative;
    top: 0px !important;
}

a.primary-color {
    &:hover {
        color: #58595b !important;
    }
}