/*-------------------------------------------------------*\
    Links
/*-------------------------------------------------------*/

a {
    font-size: multiply($body-copy-size, 1.05);
    text-decoration: none;
    color: $primary-color;
    cursor: pointer;
    text-decoration: none;
    outline: 0;

    &:hover {
        color: $copy-color-alt;
        text-decoration: underline;
    }

    &:active {
        color: darken($primary-color, 10%);
    }

    &:focus {
        color: darken($primary-color, 10%);
    }

    &.strong {
        &:hover {
            text-decoration: none;
        }
    }

    @include break-at($medium-break) {
        @include transition(0.25s, all);
    }


    &.image-link {
        @include transition(all, 0.27s, ease-in-out);

        // display: block;
        backface-visibility: hidden;

        &.thumbnail {
            &:hover {
                filter: brightness(110%);
            }
        }

        &.icon {
            display: block;
            &:hover {
                transform: scale(1.05);
                text-decoration: none;
            }
        }

        &:hover {
            .emblem {
                transform: scale(1.1);
            }
        }
    }

    &.icon-social {
        position: relative;

        @include transition(all 0.3s ease-in-out);

        top: 0;

        &:hover {
            color: $primary-color;
            top: -2px;
        }
    }

    &.cta {
        color: inherit;
        display: inline-block;
        text-decoration: none;
        letter-spacing: 1px;
        color: $primary-color;
        border-bottom: 1.5px solid;
        padding-bottom: 1.5px;
        font-weight: bold;
        font-size: em(14px);
        transition-duration: 0.2s;

        &.more-cta {
            @include break-at($medium-break) {
                margin-top: 20px;
            }
        }

        @include break-max-at($medium-break) {
            transition: none;
        }


        &:hover {
            border-bottom-color: black;

            // padding-right: $tiny-gap;
            color: black;
            opacity: 1;
        }
    }

    &.secondary {
        color: inherit;

        &:hover {
            border-bottom-color: $primary-color;
        }
    }

    &.tertiary {
        color: $tertiary-color;

        &:hover {
            border-bottom-color: $tertiary-color;
        }
    }

    &[disabled="disabled"] {
        cursor: text !important;

        &:hover {
            color: $primary-color;
            text-decoration: none;
            outline: 0;
        }
    }

    &.inherit {
        color: inherit;
    }

    &.edit-profile {
        @include break-max-at($medium-break) {
            text-decoration: none !important;
            text-transform: uppercase;
            font-weight: bold;
        }
        @include break-at($medium-break) {
            text-decoration: underline;
        }
    }

    &.phone {
        &.direct-dial {
            text-decoration: none !important;

            &:hover {
                filter: d;
            }

            span {
                color: $copy-color;

                &:before {
                    content: 'Direct Dial: ';
                    color: $primary-color;
                }
            }
        }
    }
}

.link {
    cursor: pointer;

    @include transition;

    &:hover {
        opacity: .85;
    }
}

.link-container {
    .link {
        transition: all .3s ease-in-out;
        opacity: 1;

        &.figure {
            background-size: 100% auto;

            &:hover {
                // background-size: 106% auto;
            }
        }
    }
}