/*-------------------------------------------------------*\
    Lists
/*-------------------------------------------------------*/

ul {
    list-style: none;

    li {
        position: relative;
    }

    .banner {
        // padding-left: em($padding-small) !important;
        // padding-right: em($padding-small) !important;

    }
}

.list {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    li {
        padding-left: 0;
        text-indent: 0;
        list-style-position: inside;
        list-style-type: initial;

        &:before {
            content: "• ";
            color: $primary-color;
            font-size: 27px;
            line-height: 0;
            position: absolute;
            left: -2px;
            align-items: center;
            top: 0;
            bottom: 0;
            display: inline-grid;
            margin-top: 4px;
            background: inherit;
            z-index: 9;
        }
    }

    // ul {
    //     li {
    //         padding-bottom: 0;
    //         margin-bottom: 0;
    //         display: list-item;
    //         list-style-type: disc;
    //         list-style-position: inside;
    //     }
    // }
}

ol {
    list-style: decimal inside;
}

ul, ol {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: em(10px);

    ul, ol {
        margin-top: 0;
        margin-bottom: 0;
    }
}

li {
    margin-bottom: em(8px);
}