/*-------------------------------------------------------*\
    Stripography
/*-------------------------------------------------------*/

h1,h2,h3,h4,h5,h6 {
    &.stripe {
        background: $primary-color;
        line-height: normal;
        padding-top: 5px;
        padding-bottom: 5px;
        font-weight: $normal;
        top: 40%;
        margin: auto;
        width: 100%;
        color: white !important;
        &.inline {
            padding-left: $padding-small;
            padding-right: $padding-small;
            display: inline-block;
            width: auto;
        }
    }
}