/*-------------------------------------------------------*\
    Typography
/*-------------------------------------------------------*/

h1, h2, h3, h4, h5, h6 {
    margin-top: 2px;
    margin-bottom: 8px;
    font-weight: $light;
    font-family: $brand-font;
    line-height: normal;
    color: $primary-color;

    &.section-heading {
        &:after {
            content: "";
            display: block;
            width: 55px;
            height: 16px;
            background-repeat: no-repeat;
            margin-top: 15px;
        }
    }

    &.alt-style {
        text-transform: uppercase;
        color: $copy-color;
        font-weight: $normal;

        > a {
            color: inherit;
        }
    }

    &.soft {
        color: $soft-gray;
        font-weight: $light;

        a {
            color: inherit;
        }
    }

    &.underline {
        padding-bottom: $hgap;
        clear: both;
        text-decoration: none !important;

        @include break-at($medium-break) {
            max-width: 90%;
        }


        @include section-divider(bottom);
    }

    &.section-header {
        @include break-max-at($medium-break) {
            padding-bottom: 18px;
            margin: 0px -20px 30px;
            padding: 10px;
            text-align: center;
            padding-right: 20px;
            font-weight: bold;
        }
    }

    > a {
        &:hover {
            text-decoration: none;
        }
    }

    &:not(.ignore-span) {
        // span {
        //     font-weight: $bold;
        // }

        // em {
        //     font-style: normal;
        //     color: $primary-color;
        // }

        strong {
            font-weight: bold;
        }
    }

    + h1, + h2, + h3, + h4, + h5, + h6 {
        // margin-top: em(-6px);

    }

    &.min-push {
        padding-bottom: 5px;
        margin-bottom: 0;
    }

    &.no-push {
        margin-bottom: 0;
        padding-bottom: 0;
    }

    &.light {
        color: white;
    }

    &.dark {
        color: black;
    }

    &.bold {
        font-weight: $bold;
    }
}

/*-------------------------------------------------------*\
    Typography
/*-------------------------------------------------------*/

/* Font Sizes */

$body-copy-size: 15px !default;
$body-line-height: 1.25 !default;

/* Typeface Classes */

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: $hgap;
    line-height: $body-line-height;

    // color: $freedom;
    &.subtitle {}
}

h1, .h1, h1, .h1 {
    font-size: em($h1-size);

    a, i, i:before {
        font-size: inherit;
        text-decoration: none;
    }

    &.increase {
        font-size: em(multiply($h1-size, 1.15));
    }

    &.decrease {
        font-size: em(multiply($h1-size, 0.85));
    }
}

h2, .h2, h2, .h2 {
    font-size: em($h2-size);

    a, i, i:before {
        font-size: inherit;
        text-decoration: none;
    }

    // }
    &.increase {
        font-size: em(multiply($h2-size, 1.15));
    }

    &.decrease {
        font-size: em(multiply($h2-size, 0.85));
    }
}

h3, .h3, h3, .h3 {
    font-size: em($h3-size);

    a, i, i:before {
        font-size: inherit;
        text-decoration: none;
    }

    &.increase {
        font-size: em(multiply($h3-size, 1.15));
    }

    &.decrease {
        font-size: em(multiply($h3-size, 0.85));
    }
}

h4, .h4, h4, .h4 {
    font-size: em($h4-size);

    a, i, i:before {
        font-size: inherit;
        text-decoration: none;
    }

    &.increase {
        font-size: em(multiply($h4-size, 1.15));
    }

    &.decrease {
        font-size: em(multiply($h4-size, 0.85));
    }
}

h5, .h5, h5, .h5 {
    font-size: em($h5-size);

    a, i, i:before {
        font-size: inherit;
        text-decoration: none;
    }

    @include break-at($medium-break) {
        font-size: $h5-size;
    }


    &.increase {
        font-size: em(multiply($h5-size, 1.15));
    }

    &.decrease {
        font-size: em(multiply($h5-size, 0.85));
    }
}

h6, .h6, h6, .h6 {
    font-size: em($h6-size);

    a, i, i:before {
        font-size: inherit;
        text-decoration: none;
    }

    &.increase {
        font-size: em(multiply($h6-size, 1.15));
    }

    &.decrease {
        font-size: em(multiply($h6-size, 0.85));
    }
}

p, ul {
    // font-size: $body-copy-size;

    &.medium-text, .medium-text {
        font-size: em(18px);

        @include break-at($large-break) {
            font-size: 1.8vw;
        }
    }

    &.large-text, .large-text {
        font-size: em(20px);

        @include break-at($large-break) {
            font-size: 2vw;
        }
    }
}

main {
    font-size: em($body-copy-size);

    // font-size: em(15px);

    @include break-at($medium-break) {
        font-size: multiply($body-copy-size, 1.05);

        // font-size: calc(14px + 0.55vw);
    }


    p, figcaption, label {
        margin: 0;
        line-height: $body-line-height;
        max-width: $max-contain-width;
        padding-bottom: $pgap;
        margin-bottom: 0;

        &.full {
            max-width: 100%;
        }

        &.large {
            font-size: em(18px);

            @include break-at($large-break) {
                font-size: 1.8vw;
            }
        }

        &.x-large {
            font-size: em(24px);

            @include break-at($large-break) {
                font-size: 2.2vw;
            }
        }
    }
}

%sub-super {
    vertical-align: baseline;
    position: relative;
}

sup {
    @extend %sub-super;

    top: -0.4em;
}

sub {
    @extend %sub-super;

    top: 0.4em;
}

ul, ol {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: em(10px);

    // color: $majesty;
    li {
        font-weight: normal;

        // @include break-at($x-large-break) {
        //     font-size: vw(13px);
        // }

    }

    ul, ol {
        margin-top: 0;
        margin-bottom: 0;
    }
}

li {
    margin-bottom: em(8px);
}

hr {
    border: 0;
    height: 0;
    border-top: 0;

    @include section-divider;

    &.inner {
        max-width: $grid-width;
    }
}

.ellipsis-overflow {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
    white-space: nowrap;
}

.line-overflow {
    @include break-at($medium-break) {
        > * {
            font-size: inherit;
            text-decoration: none;
            max-height: 2.6em;
            overflow: hidden;
            display: block;
        }
    }
}