/*-------------------------------------------------------
    Visibility
/*-------------------------------------------------------*/

.mobile-only {
    @include break-at($medium-break) {
        display: none !important;
    }
}

.desktop-only {
    @include break-max-at($medium-break) {
        display: none !important;
    }
}

.mobile-invisible {
    @include break-max-at($medium-break) {
        visibility: hidden !important;
    }
}

.desktop-invisible {
    @include break-at($medium-break) {
        visibility: hidden !important;
    }
}

.transparent {
    opacity: 0;
}

.placeholder {
    opacity: 0;
}

.hidden {
    display: none !important;
}

.invisible, .show-for-sr {
    @include show-for-sr;
}

.hidden-dev {
    position: fixed;
    bottom: 0;
    opacity: 0;
    transition: opacity .2s ease;

    &.show {
        opacity: .75;
    }

    &.show-all {
        opacity: 1;
    }
}