/*-------------------------------------------------------*\
    Search Filters Template
/*-------------------------------------------------------*/

body {
    &.page-template-template-search-filters, &.blog {
        main {
            overflow-x: hidden;
        }
    }
}