/*-------------------------------------------------------*\
    Single
/*-------------------------------------------------------*/

body {
    &.single {
        article .breadcrumbs {
            border: none;
        }

        main {
            padding-top: 112px;

            @include break-max-at($large-break) {
                padding-top: 100px !important;
            }
        }

        .hero {
            @include break-at($medium-break) {
                font-size: 120%;

                h1 {
                    font-weight: $normal;
                }

                h1, h2, h3, h4, h5 {
                    text-shadow: 0 0 10px rgba(0, 0, 0, 0.27);
                    padding-right: 55%;
                }
            }


            .full-large {
                > .col {
                    @include break-at($large-break) {
                        padding-left: 0;
                        padding-right: 0;
                    }
                }
            }
        }

        .tribe-events-schedule, .tribe-events-single-event-title, .tribe-events-back, #tribe-events-footer {
            display: none;
        }

        .tribe-events-event-image {
            margin-top: $pgap;

            @include prefixer(box-shadow, 0px 0px 20px -2px rgba(75, 87, 97, 0.25));
        }

        #tribe-events-content {
            margin-bottom: 0;

            * {
                font-family: $sans-serif;
            }
        }

        .tribe-events-event-meta {
            border: 1.5px solid $divider-color;

            * {
                font-size: $body-copy-size;
            }

            h3 {
                @extend .h4;
            }

            dt {
                padding-bottom: 5px;
                padding-top: $gutter-width;
            }

            .tribe-events-event-categories {
                text-transform: uppercase;
                padding-top: 5px;
            }
        }
    }
}