@charset "UTF-8";
@media only screen and (max-width: 1280px) {
  .main-navigation .menu ul.nav-menu > li:last-of-type ul.sub-menu {
    right: 0;
    left: auto;
  }
}
@media only screen and (max-width: 1119px) {
  .vc_row.wpb_row.vc_row-has-fill.stretch-background {
    padding: 20px 0;
    background-size: 100% 80px !important;
  }
  .main-navigation .menu li a {
    font-size: 12px;
    padding: 11px 15px;
  }
  .logo h1 a img {
    max-width: 250px;
    padding-left: 10px;
  }
  .content a:link.button.orange-button.large, .container a:link.button.orange-button.large, .content a:visited.button.orange-button.large, .container a:visited.button.orange-button.large {
    font-size: 14px;
  }
  .content .page-header .wpb_text_column h2, .container .page-header .wpb_text_column h2 {
    padding-left: 20px;
  }
}
@media only screen and (max-width: 960px) {
  .main-navigation .menu li a {
    font-size: 12px;
    padding: 11px 10px;
  }
  .content .white a:link.outline-button, .content .white a:visited.outline-button {
    font-size: 16px;
  }
  .footer p {
    font-size: 13px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1119px) {
  .main-navigation .menu li a {
    font-size: 16px;
    padding: 11px 14px;
  }
}
@media only screen and (max-width: 768px) {
  .social ul.icons li a {
    width: 22px;
    height: 22px;
  }
}
@media only screen and (max-width: 767px) {
  /* Events */
  .vc_row.wpb_row.vc_row-has-fill.stretch-background {
    padding: 0;
    background-size: 100% 35px !important;
  }
  .vc_row.wpb_row.fives .vc_col-sm-2 {
    width: 100%;
    float: none;
  }
  .vc_row.wpb_row.fives .vc_col-sm-2:nth-child(1) .vc_column-inner, .vc_row.wpb_row.fives .vc_col-sm-2:nth-child(6n) .vc_column-inner {
    padding-left: 7.5px;
  }
  .vc_row.wpb_row.fives .vc_col-sm-2:nth-child(5n) .vc_column-inner {
    padding-right: 7.5px;
  }
  .vc_row.wpb_row.hero {
    padding: 200px 0 0 0;
  }
  .header-wrapper {
    display: none;
  }
  .mobile-header-wrapper {
    display: block;
  }
  .logo h1 {
    padding-left: 10px;
  }
  .vc_wp_search .widget_search {
    min-height: auto;
  }
  .content .page-header .wpb_text_column {
    padding: 30px 0;
  }
  .content .page-header .vc_wp_custommenu .widget_nav_menu ul {
    display: block;
    flex-direction: none;
  }
  .content .page-header .vc_wp_custommenu .widget_nav_menu li {
    position: relative;
    display: block;
  }
  .content .page-header .vc_wp_custommenu .widget_nav_menu li a {
    display: block;
    padding: 20px 0;
    border-bottom: 1px #fff solid;
    border-right: none;
    font-size: 16px;
  }
  .content .page-header .vc_wp_custommenu .widget_nav_menu li:last-of-type a {
    border-bottom: none;
  }
  .content h1 {
    font-size: 40px;
  }
  .content h2 {
    font-size: 30px;
  }
  .content h3 {
    font-size: 30px;
  }
  .content h4 {
    font-size: 18px;
  }
  .content h5 {
    font-size: 18px;
  }
  .content ul.two, .content ol.two, .content ul.three, .content ol.three, .content ul.four, .content ol.four {
    margin-left: 10px;
    columns: 1;
    -webkit-columns: 1;
    -moz-columns: 1;
  }
  .content ul.two li, .content ol.two li, .content ul.three li, .content ol.three li, .content ul.four li, .content ol.four li {
    margin-left: 10px;
    padding-left: 10px;
  }
  .content .alignleft {
    display: block;
    width: 100%;
    float: none;
  }
  .content .hidden-sm {
    display: none;
  }
  .content .hidden-lg {
    display: block;
  }
  .content .grey-border-right.wpb_column.vc_column_container {
    border-right: none;
  }
  .content .vc_row.wpb_row.cyan-border-row .wpb_column.vc_column_container.vc_col-sm-6:first-of-type, .content .vc_row.wpb_row.cyan-border-row .wpb_column.vc_column_container.vc_col-sm-6:last-of-type, .content .vc_row.wpb_row.pink-border-row .wpb_column.vc_column_container.vc_col-sm-6:first-of-type, .content .vc_row.wpb_row.pink-border-row .wpb_column.vc_column_container.vc_col-sm-6:last-of-type {
    display: inline-block;
    width: 50%;
  }
  .content .overlap-top .vc_column-inner {
    margin-top: 0px;
  }
  .content .image-button.with-description {
    min-height: 450px;
  }
  .content .recent_posts.list ul li .vc_col-sm-2, .content .recent_posts.list ul li .vc_col-sm-10 {
    float: none;
    display: block;
    width: 100%;
    border-left: none;
    padding-left: 0;
  }
  .content .wpb_column.service-text .vc_column-inner {
    padding-left: 0px;
    padding-top: 50px;
  }
  .content .wpb_single_image.service-icon {
    position: absolute;
    top: auto;
    bottom: -50px;
    right: auto;
    left: 50%;
    margin-left: -75px;
  }
  .content .career-accordion .career-position, .content .career-accordion .career-location, .content .career-accordion .career-citystate, .content .career-accordion .career-position-type, .content .career-accordion .career-action {
    display: block;
    width: 100%;
    border-right: none !important;
  }
  .content .location-contact > .vc_column-inner > .wpb_wrapper {
    margin-bottom: 20px;
  }
  .content .location-map > .vc_column-inner > .wpb_wrapper {
    margin-bottom: 20px;
  }
  .content .page_list.icons ul.inline li {
    width: 100%;
  }
  .content .page_list.icons ul.inline li a {
    width: 100%;
  }
  .content #tribe-events article.tribe_events .featured-image {
    display: block;
    width: 100%;
    margin: 0;
    text-align: center;
  }
  .content #tribe-events article.tribe_events .featured-image img {
    width: 100%;
  }
  .content #tribe-events article.tribe_events .post-content {
    display: block;
    width: 100%;
  }
  .footer .col {
    width: 100%;
  }
  .footer .column_1, .footer .column_2, .footer .column_3 {
    min-height: 100px;
    text-align: center;
  }
  .footer hr {
    margin: 0 auto;
  }
  .footer ul.menu li {
    text-align: center;
  }
  .footer .sdg_social_icons ul {
    display: inline-block;
    float: none;
    margin: 5px 0 0 0;
  }
  #popup {
    width: 90% !important;
    left: 10% !important;
    margin-left: -5% !important;
    font-size: 0.9em !important;
  }
  .wpb_text_column.wpb_content_element.min-height-120 {
    min-height: auto;
  }
}
@media only screen and (max-width: 567px) {
  .mobile-header-wrapper .logo h1 a img {
    max-width: 200px;
    padding-left: 10px;
  }
  .content .vc_row.wpb_row.hero {
    padding: 100px 0 0 0;
  }
  .gform_wrapper .gform_footer {
    text-align: left;
  }
}
@media only screen and (max-width: 567px) {
  .content p span.larger {
    font-size: 18px;
  }
}
