// /*
// Theme Name: sdg-A
// Theme URI: http://sdgbranding.com/
// Author: sdg Branding
// Author URI: http://sdgbranding.com/
// Description: Base theme for sdg Development
// Version: 1.0
// License: GNU General Public License v2 or later
// License URI: http://www.gnu.org/licenses/gpl-2.0.html
// Tags: light, grey, white, one-column, two-columns, right-sidebar, flexible-width, custom-background, custom-header, custom-menu, editor-style, featured-images, flexible-header, full-width-template, microformats, post-formats, rtl-language-support, sticky-post, theme-options, translation-ready
// Text Domain: sdg

// //COLORS:
// 76c6ce - light teal (used to be 57-c2-b1)
// 589DA3 - readable teal (for best viewing on light backgrounds)
// 007c6d - dark teal
// 3e6377 - blue
// 99cc76 - green
// f7a344 - orange
// 444 - grey

// */

// /* =Reset
// -------------------------------------------------------------- */
// html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
// 	margin: 0;
// 	padding: 0;
// 	border: 0;
// 	font-size: 100%;
// 	vertical-align: baseline;
// //	color: #444; /* grey */
// 	line-height:1.6em;
// }
// em, strong, p {

// }
// html {
//   background: no-repeat center top fixed;
//   -webkit-background-size: cover;
//   -moz-background-size: cover;
//   -o-background-size: cover;
//   background-size: cover;
// }
// body {
// 	line-height: 1;
// 	background:#FFF;
// 	width:100%;
// }
// ul {
// 	list-style: none;
// }
// blockquote,
// q {
// 	quotes: none;
// }
// blockquote:before,
// blockquote:after,
// q:before,
// q:after {
// 	content: '';
// 	content: none;
// }
// table {
// 	border-collapse: collapse;
// 	border-spacing: 0;
// 	width:100%;
// 	margin-bottom:20px;
// }
// caption,
// th,
// td {
// 	font-weight: 400;
// 	text-align: left;
// }
// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
// //	color: #3e6377; /* blue */

// 	letter-spacing:0em;
// }
// html {
// 	overflow-y: scroll;
// 	font-size: 100%;
// 	-webkit-text-size-adjust: 100%;
// 	-ms-text-size-adjust: 100%;
// }
// a:link,a:visited{
// //	color: #589DA3; /* readable teal */
// 	text-decoration:none;

// 	-webkit-transition: all 0.25s ease-in-out;
// 	-moz-transition: all 0.25s ease-in-out;
// 	-o-transition: all 0.25s ease-in-out;
// 	transition: all 0.25s ease-in-out;
// }
// a:active,a:hover{
// 	text-decoration:underline;

// 	-webkit-transition: all 0.25s ease-in-out;
// 	-moz-transition: all 0.25s ease-in-out;
// 	-o-transition: all 0.25s ease-in-out;
// 	transition: all 0.25s ease-in-out;
// }
// a:focus {
// 	outline: thin dotted;
// }

// article,
// aside,
// details,
// figcaption,
// figure,
// footer,
// header,
// hgroup,
// nav,
// section {
// 	display: block;
// }
// audio,
// canvas,
// video {
// 	display: inline-block;
// }
// audio:not([controls]) {
// 	display: none;
// }
// del {
// //	color:  #333;
// }
// ins {
// 	background: #fff9c0;
// 	text-decoration: none;
// }
// .content .vc_separator{
// 	display:block;
// }
// hr,
// .vc_separator .vc_sep_holder .vc_sep_line{
// 	border: 0;
//     height: 1px !important;
//     width: 100%;
//     margin: 20px auto;
// //    border- color: #ccc;
// //    background- color: #ccc;
// }
// sub,
// sup {
// 	font-size: 75%;
// 	line-height: 0;
// 	position: relative;
// 	vertical-align: baseline;
// }
// sup {
// 	top: -0.5em;
// }
// sub {
// 	bottom: -0.25em;
// }
// small {
// 	font-size: smaller;
// }
// img {
// 	border: 0;
// 	-ms-interpolation-mode: bicubic;
// 	max-width:100%;
// }

// /* Clearing floats */
// .clear:after,
// .wrapper:after,
// .format-status .entry-header:after {
// 	clear: both;
// }
// .clear:before,
// .clear:after,
// .wrapper:before,
// .wrapper:after,
// .format-status .entry-header:before,
// .format-status .entry-header:after {
// 	display: table;
// 	content: "";
// }


// /* =Repeatable patterns
// -------------------------------------------------------------- */

// /* Small headers */
// .archive-title,
// .page-title,
// .entry-content th,
// .comment-content th {
// 	font-size: 11px;
// 	font-size: 0.785714286rem;
// 	line-height: 2.181818182;
// 	font-weight: bold;
// 	text-transform: uppercase;
// //	color:  #636363;
// }

// /* Shared Post Format styling */
// article.format-quote footer.entry-meta,
// article.format-link footer.entry-meta,
// article.format-status footer.entry-meta {
// 	font-size: 11px;
// 	font-size: 0.785714286rem;
// 	line-height: 2.181818182;
// }

// /* Form fields, general styles first */
// button,
// input,
// textarea {
// 	border: 1px solid #76c6ce;
// 	border-radius:10px;
// 	font-family: inherit;
// 	padding: 10px;
// 	font-size:16px;
// }
// button,
// input {
//     line-height: normal;
// }

// textarea {
// 	font-size: 100%;
// 	overflow: auto;
// 	vertical-align: top;
//     width: 100%;
//     box-sizing: border-box;
// }

// /* Reset non-text input types */
// input[type="checkbox"],
// input[type="radio"],
// input[type="file"],
// input[type="hidden"],
// input[type="image"],
// //input[ type="color"] {
// 	border: 0;
// 	border-radius: 0;
// 	padding: 0;
// }

// /* Buttons */
// .menu-toggle,
// input[type="submit"],
// input[type="button"],
// input[type="reset"],
// article.post-password-required input[type=submit],
// li.bypostauthor cite span {
// 	max-width:250px;
// 	min-width:200px;
// 	padding:10px 20px;
// 	text-align:center;
// 	text-transform:uppercase;
// 	font-size:12px;

// //	color: #fff; /* light teal */
// 	border:1px #3d6579 solid;  /* dark teal */
// 	border-radius:10px;
// //	background- color:#76c6ce; /* light teal */
// 	text-decoration:none;
// }
// .menu-toggle,
// button,
// input[type="submit"],
// input[type="button"],
// input[type="reset"] {
// 	cursor: pointer;
// }
// button[disabled],
// input[disabled] {
//     cursor: default;
// }
// .menu-toggle:hover,
// button:hover,
// input[type="submit"]:hover,
// input[type="button"]:hover,
// input[type="reset"]:hover,
// article.post-password-required input[type=submit]:hover {
// //	color: #76c6ce; /* light teal */;
// //	background- color:#fff;
// }
// .menu-toggle:active,
// .menu-toggle.toggled-on,
// button:active,
// input[type="submit"]:active,
// input[type="button"]:active,
// input[type="reset"]:active {
// //	background- color: #fff;
// }
// li.bypostauthor cite span {
// //	color:  #fff;
// //	background- color: #21759b;
// 	background-image: none;
// 	border: 1px solid #1f6f93;
// 	border-radius: 2px;
// 	box-shadow: none;
// 	padding: 0;
// }

// /* Responsive images */
// .entry-content img,
// .comment-content img,
// .widget img {
// 	max-width: 100%; /* Fluid images for posts, comments, and widgets */
// }
// img[class*="align"],
// img[class*="wp-image-"],
// img[class*="attachment-"] {
// 	height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
// }
// img.size-full,
// img.size-large,
// img.header-image,
// img.wp-post-image {
// 	max-width: 100%;
// 	height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
// }

// /* Make sure videos and embeds fit their containers */
// embed,
// iframe,
// object,
// video {
// 	max-width: 100%;
// }
// .entry-content .twitter-tweet-rendered {
// 	max-width: 100% !important; /* Override the Twitter embed fixed width */
// }

// /* Images */
// .alignleft {
// 	float: left;
// 	margin:0px 10px 10px 0;
// }
// .alignright {
// 	float: right;
// 	margin:10px 0 10px 10px;
// }
// .aligncenter {
// 	display: block;
// 	margin-left: auto;
// 	margin-right: auto;
// }

// .wp-caption {
// 	max-width: 100%; /* Keep wide captions from overflowing their container. */
// 	padding: 4px;
// }
// .wp-caption .wp-caption-text,
// .gallery-caption,
// .entry-caption {
// 	font-style: italic;
// 	font-size: 12px;
// 	font-size: 0.857142857rem;
// 	line-height: 2;
// //	color:  #757575;
// }
// img.wp-smiley,
// .rsswidget img {
// 	border: 0;
// 	border-radius: 0;
// 	box-shadow: none;
// 	margin-bottom: 0;
// 	margin-top: 0;
// 	padding: 0;
// }
// .entry-content dl.gallery-item {
// 	margin: 0;
// }
// .gallery-item a,
// .gallery-caption {
// 	width: 94%;
// }
// .gallery-item a {
// 	display: block;
// }
// .gallery-caption a {
// 	display: inline;
// }
// .gallery-columns-1 .gallery-item a {
// 	max-width: 100%;
// 	width: auto;
// }
// .gallery .gallery-icon img {
// 	height: auto;
// 	max-width: 90%;
// 	padding: 5%;
// }
// .gallery-columns-1 .gallery-icon img {
// 	padding: 3%;
// }
// .wp-caption-text.gallery-caption {
// 	font-style: normal;
// 	line-height: 1.5em;
// //	color:  #717171;
// 	font-size: 11px !important;
// 	font-weight: 300;
// }
// #gallery-1 img {
// 	border: none !important;
// }

// /* Navigation */
// .site-content nav {
// 	clear: both;
// 	line-height: 2;
// 	overflow: hidden;
// }
// #nav-above {
// 	padding: 24px 0;
// 	padding: 1.714285714rem 0;
// }
// #nav-above {
// 	display: none;
// }
// .paged #nav-above {
// 	display: block;
// }
// .nav-previous,
// .previous-image {
// 	float: left;
// 	width: 50%;
// }
// .nav-next,
// .next-image {
// 	float: right;
// 	text-align: right;
// 	width: 50%;
// }
// .nav-single + .comments-area,
// #comment-nav-above {
// 	margin: 48px 0;
// 	margin: 3.428571429rem 0;
// }
// .nav-single{
// 	overflow:hidden;
// 	border-bottom:#ccc double 4px;
// 	margin-bottom:48px;
// }


// /* =Structure
// -------------------------------------------------------------- */
// .page{
// 	min-width:100%;
// 	position:relative;
// }

// .wrapper{
// 	position:relative;
// 	max-width:1120px;
// 	margin:0 auto;
// 	z-index:100;
// }
// .wrapper.full {
// 	width:100%;
// 	margin:0 auto;
// 	z-index:100;
// }


// .wrapper.level_0{
// 	z-index:999;
// }

// .vc_row{
// 	width:100%;
// 	max-width:1120px;
// 	margin-left:auto !important;
// 	margin-right:auto !important;
// }
// .vc_row.full{
// 	max-width:100%;
// 	margin-bottom:0 !important;
// }
// .vc_row.narrow{
// 	max-width:75%;
// 	position: relative;
// 	margin-bottom:0 !important;
// }

// .full .vc_column_container,
// .full .vc_column_container .wpb_wrapper{
// 	margin:0;
// 	padding:0;
// }
// .wpb_text_column.wpb_content_element{
// 	overflow:hidden;
// }

// .white-border-right.wpb_column.vc_column_container{
// 	border-right:1px #fff solid;
// }
// .grey-border-right.wpb_column.vc_column_container{
// 	border-right:1px #ccc solid;
// }
// .gform_wrapper ul.gform_fields li.gfield.grey-border-left{
// 	border-left:1px #ccc solid;
// 	padding-left:20px;
// 	box-sizing:border-box;
// }