/*-------------------------------------------------------*\
    Front-End Admin Styles
/*-------------------------------------------------------*/

html {
    &.admin-bar-present {
        margin-bottom: 0 !important;

        #wp-admin-bar-edit {

            a:before {
                float: left;
                opacity: 1;
                display: block;
                font-family: "Roboto", helvetica, arial, sans-serif;
                text-align: center;
                line-height: normal;
                height: auto;
                left: 0;
                position: fixed;
                width: auto !important;
                right: auto;
                left: -40px !important;
                border-radius: 0 10px 10px 0;
                padding: 9px;
                font-size: 16px;
                color: $admin-bar-accents !important;
                line-height: 22px !important;
                content: "Edit";
                left: -80px;
                z-index: 99999999999999999;
                bottom: 6% !important;
                content: 'EDIT' !important;
                z-index: 9999999999999999999999 !important;
                color: $admin-bar-accents;
                background: white;
                box-shadow: 0 0 4px rgba(51, 51, 51, 0.8) !important;
                transform: rotate(90deg);
                height: 0px !important;
                overflow: hidden !important;
                left: 0 !important;
                width: 0px !important;
                bottom: 6% !important;
                content: "\f464";
                bottom: 2px;
                left: 0;
                bottom: auto !important;
                right: auto !important;
                bottom: auto !important;
                right: auto !important;
                transform: none !important;
                left: -50px !important;
                bottom: 6% !important;
                left: 0;
                padding-left: 47px;
            }

            a:after {
                font-size: 3vh;
                align-items: center;
                color: black;
                background: white;
                box-shadow: 0 0 4px rgba(51, 51, 51, 0.8) !important;
                z-index: 9999999999;
                float: left;
                opacity: 1;
                display: block;
                content: "" !important;
                font-family: fontawesome;
                text-align: center;
                line-height: normal;
                height: auto;
                left: 0;
                position: fixed;
                width: auto !important;
                right: auto;
                bottom: 6%;
                border-radius: 0 10px 10px 0;
                padding: 9px;
                font-size: 24px;
            }

            a {
                &:before {
                    top: auto !important;
                    opacity: 0;
                }

                &:hover {
                    &:before {
                        // bottom: 2px !important;
                        height: auto !important;
                        width: auto !important;
                        overflow: visible !important;
                        left: 0 !important;
                        opacity: 1;
                    }

                    &:after {
                        // font-size: 24px;
                        box-shadow: none !important;
                        transform: scale(0.89);
                    }
                }
            }
        }

        li#wp-admin-bar-site-name a:after {
            display: block;
            position: absolute;
            width: 100%;
            background: white;
            height: 20px;
            width: auto;
            content: '\f0c9';
            font-family: fontawesome;
            padding: 5px 12px;
            text-align: center;
            line-height: normal;
            height: auto;
            border-radius: 0 0 6px 6px;
            left: 1px;
            position: fixed;
            align-items: center;
            color: red;
            background: black;
            box-shadow: 0 0 4px rgba(51, 51, 51, 0.8) !important;
            opacity: 1;
            display: block;
            font-family: fontawesome;
            text-align: center;
            left: auto;
            position: fixed;
            width: auto !important;
            right: auto;
            bottom: 0;
            border-radius: 0 0 10px 10px;
            padding: 9px;
            font-size: 24px;
            -webkit-text-stroke: black;
            width: 100% !important;
            left: 0;
            opacity: 0;

            @include transition;
        }

        #wpadminbar {
            overflow: hidden;
            opacity: 0.7;
            bottom: -29px;
            transition: all .35s ease;
            transition-delay: 1.4s;
            transition-property: top opacity background-color;
            display:none !important;
            @include break-max-at($medium-break) {
                bottom: -40px !important;
                opacity: 0;
            }


            /* Add little icon to hover over and show admin bar to reduce annoyance 🙄 */

            *:last-child {
                &:after {
                    content: '\f1de';
                    font-family: fontawesome;
                    border-radius: 9px 9px 0 0;
                    right: 3px;
                    bottom: 0;
                    font-size: 2vh;
                    position: fixed;
                    align-items: center;
                    padding: 0px 9px;
                    text-align: center;
                    color: #d54b2a;
                    background: inherit;
                    box-shadow: 0 0 4px rgba(51, 51, 51, 0.8) !important;
                    z-index: 9999999999;
                    float: left;
                    display: block;
                    transition: all .6s ease;
                    transition-delay: 1.4s;

                    &:hover {}
                }

                &:hover {
                    overflow: visible;
                    opacity: 1;
                    bottom: 0 !important;

                    &:after {
                        bottom: -30px;
                    }

                    // background-color: rgba($primary-color, 0.65) !important;

                }
            }
        }
    }
}