/*-------------------------------------------------------*\
    Archive Pages
/*-------------------------------------------------------*/

body {
    &.tax-resource_category {
        nav {
            &.local-nav-list {
                ul {
                    li {
                        padding-bottom: 10px;
                        padding-top: 10px;
                    }
                }
            }
        }
    }
}