/*-------------------------------------------------------*\
    Dashobard Page
/*-------------------------------------------------------*/

body {
    &.home {
        main {
            > section {
                &:first-child {
                    padding-top: $padding-small;
                }
            }
        }
        .content {
            h1, h2, h3, h4 {
                text-align: center;
                color: $tertiary-color;
                margin-bottom: $padding-small !important;
            }
        }
    }
}