/*-------------------------------------------------------*\
    Filter Template

/*-------------------------------------------------------*/
body {
    &.page-template-template-search-filters {
        .wrapper {
            overflow: visible !important;
        }

        .filter-grid, .filter-grid li {
            list-style: none;
            margin: 0 auto;
            padding: 0;
        }

        .filter-grid {
            margin: 0 auto;
            width: auto;
            overflow: visible !important;
            width: 100%;

            .grid-sizer {
                width: 20%;
            }

            li {
                float: left;
                text-align: center;
                min-height: 325px;
                opacity: 0;
                overflow: visible;
                font-weight: $light;
                opacity: 1;
                width: 20%;

                @include break-at($larger-break) {
                    &:nth-child(5n+1) {
                        clear: left;
                    }
                }


                @include transition(opacity 0.7s);
            }

            .headshot-holder {
                overflow: visible;

                @include transition(all 0.7s);
                @include prefixer(transform, rotateY(90deg));
            }

            li, article {
                display: none;
                border: none;
                padding-bottom: em($tiny-gap);
                &:not(.active) {
                    + li.active {
                        clear: none !important;
                    }
                }
                display: none;
                &.active {
                    opacity: 1;
                    display: block;
                }

                &.active .headshot-holder {
                    transform: rotateY(0);
                    -webkit-transform: rotateY(0);
                    -moz-transform: rotateY(0);
                    -ms-transform: rotateY(0);
                }

                &.filter-quote {
                    width: 40%;
                }

                &.filter-quote .inside {
                    // width:80%;
                    max-width: none;
                    height: auto;
                    position: relative;
                    top: 50%;
                    transform: translateY(-80%);
                    -webkit-transform: translateY(-80%);
                    margin: 0 auto;
                }

                &.filter-quote p {
                    font-size: 24px;
                    line-height: 30px;
                    font-style: italic;
                    font-weight: 300;
                }

                &.filter-quote p.byline {
                    font-size: 13px;
                    line-height: 18px;
                    font-weight: 700;
                    font-style: normal;
                }

                .headshot {
                    width: 200px;
                    height: 200px;
                    border-radius: 50%;
                    margin: 0 auto;
                    margin-bottom: 25px;
                    overflow: hidden;
                    transition: all .2s;
                    -webkit-transition: all .2s;
                    -moz-transition: all .2s;
                    -ms-transition: all 0.2s;
                }

                .headshot img {
                    display: inline-block;
                    width: 100%;
                    height: auto;
                }

                .text {
                    @include col-pad;

                    margin: 0 auto;
                }

                h4 {
                    color: #d64a29;
                    margin-bottom: 5px;
                    box-sizing: border-box;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    transition: all .2s;
                    -webkit-transition: all .2s;
                    -moz-transition: all .2s;
                    -ms-transition: all 0.2s;
                }

                a:hover {
                    text-decoration: none;
                }

                a:hover h4 {
                    color: #000;
                }

                a:hover .headshot {
                    transform: scale(1.1);
                    -webkit-transform: scale(1.1);
                    -moz-transform: scale(1.1);
                    -ms-transform: scale(1.1);
                }
            }
        }

        .filter-grid.market-filter li {
            float: none;
            display: inline-block;
            width: 260px;
            vertical-align: top;
        }

        .filterFilters {
            margin-bottom: 60px;

            a {
                display: inline-block;
                padding: 5px 10px;
                margin: 5px;
                text-transform: uppercase;
                font-size: em($h6-size);
                font-weight: $normal;
                border-radius: 20px;
                -moz-border-radius: 20px;
                -ms-border-radius: 20px;
                -webkit-border-radius: 20px;
                color: $primary-color;
                cursor: pointer;
                text-decoration: none !important;
                white-space: normal;
                vertical-align: middle;

                @include break-at($large-break) {
                    max-width: 240px;
                }


                @include break-max-at($medium-break) {
                    width: 50%;
                    margin: 0;
                    float: left;
                }


                @include break-max-at($tiny-break) {
                    width: 100%;
                    margin: 0;
                }


                &.active {
                    background: $primary-color;
                    border-radius: 0 !important;
                    color: #fff;
                }

                &:hover {
                    opacity: 0.8;
                }
            }
        }

        @include break-max-at($larger-break) {
            .filter-grid .grid-sizer {
                width: 25%;
            }

            .filter-grid li {
                width: 25%;

                @include break-at($large-break) {
                    &:nth-child(4n+1) {
                        clear: left;
                    }
                }
            }

            .filter-grid li.filter-quote {
                width: 50%;
            }
        }


        @include break-max-at($large-break) {
           .filter-nav {
               nav {
                   a {
                       margin-right: auto;
                       margin-left: auto;
                       float: left;
                       width: percentage(4,12);
                       &:nth-child(odd) {
                           float: left;
                       }
                       &:nth-child(3n+1):last-child {
                           @include break-at($small-break) {
                               float: none;
                           }
                       }
                   }
               }
           }

            .filter-grid {
                .grid-sizer {
                    width: 33%;
                }

                li {
                    width: 33%;

                    @include break-at($medium-break) {
                        &:nth-child(3n+1) {
                            clear: left;
                        }
                    }


                    &.filter-quote {
                        width: 66%;
                    }
                }
            }

        }


        @include break-max-at($medium-break) {

            .filter-grid .grid-sizer {
                width: 50%;
            }

            .filter-grid li {
                width: 50%;

                @include break-at($small-break) {
                    &:nth-child(2n+1) {
                        clear: left;
                    }
                }
            }

            .filter-grid li.filter-quote {
                width: 50%;
            }

            .filter-grid li.filter-quote p {
                font-size: 20px;
                line-height: 26px;
            }
        }


        @include break-max-at($small-break) {
            .filter-nav {
                nav {
                    a {
                        margin-right: auto;
                        margin-left: auto;
                        width: 50%;
                        &:nth-child(odd) {
                            float: none;
                        }
                    }
                }
            }

            .filter-grid {
                margin: 0 auto;
            }

            .filter-grid .grid-sizer {
                width: 100%;
            }

            .filter-grid li {
                width: 100%;
            }

            .filter-grid li.filter-quote {
                width: 100%;
            }

            .filter-grid li.filter-quote .inside {
                width: 86%;
            }
        }
    }
}