/* Include files recursively... */

body {
    &.login-page {
        #login h1 a, .login h1 a {
            margin: 0 auto !important;
            background-image: none !important;
        }
        header {
            border-bottom: none;
        }

        ul {
            list-style: none;
        }

        p {
            text-align: center;
        }

        a {
            &:not(.button) {
                text-decoration: underline;
            }
        }

        main {
            max-width: $grid-width !important;

            @extend .block-center;

            position: relative;
            display: block;
            margin-left: auto;
            float: none !important;
            min-width: 0 !important;
            margin-right: auto;
            padding-bottom: $padding-medium;

            p, h1, h2, h3, h4, h5, h6, form, figure, label {
                width: 100% !important;
                max-width: $max-contain-width !important;

                @extend .block-center;
            }
        }

        form {
            input {
                &[type="text"], &[type="password"] {
                    width: 100% !important;
                    max-width: 100% !important;
                    padding: 1em;
                    text-align: left !important;
                }
            }
        }

        .content {
            max-width: 100% !important;

            form {
                max-width: $grid-small-width;

                @extend .block-center;
            }
        }

        .tml-user-pass-wrap, .tml-user-login-wrap {
            label {
                @include show-for-sr;
            }
        }

        input[type="checkbox"] {
            text-align: left;
        }

        input[type="submit"] {
            @extend .button.outline;
        }

        .tml-rememberme-submit-wrap, .pre-submit-row {
            padding-top: $pgap;

            @include clearfix;

            p {
                text-align: center;
            }

            > * {
                width: 50%;
                float: left;

                &.tml-rememberme-wrap {
                    @include break-at($medium-break) {
                        text-align: left !important;
                    }


                    li {
                        list-style-type: none;
                    }

                    .row {
                        > * {
                            &:last-child {
                                @include break-at($medium-break) {
                                    text-align: right;
                                }
                            }
                        }
                    }
                }
            }
        }

        .tml-submit-wrap {
            @include clearfix;

            text-align: center;

            input {
                &[type="submit"] {
                    &[value*="Password"] {
                        top: 30px;
                        margin-bottom: 20px;
                    }
                }
            }
        }

        .header-wrapper {
            display: block;
        }

        a[type="submit"] {
            @extend .button;

            @extend .button.outline;

            text-align: center !important;
            display: block;
            margin-left: auto !important;
            margin-right: auto !important;
            float: none !important;
        }

        .tml-action-links {
            // padding-top: $pgap;
            padding: 10px 0;
            @include break-at($medium-break) {
                height: 0;
                padding: 0;
                margin: 0;
            }


            @include break-max-at($medium-break) {
                text-align: center;
                width: 100%;
            }


            @include break-at($medium-break) {
                max-width: $max-contain-width;
                margin-left: auto;
                margin-right: auto;
                text-align: right;
                width: 100%;
                overflow: visible;
                position: relative;
                display: block;

                a {
                    position: absolute;
                    top: 0;
                    width: auto;
                    text-align: right;
                    right: 0;
                    top: -7.3em;
                }
            }
        }

        .g-recaptcha {
            @include break-max-at($medium-break) {
                text-align: center;

                > * {
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }

        .tml {
            &.tml-lostpassword {
                .tml-action-links {
                    a {
                        @include break-at($medium-break) {
                            position: absolute;
                            top: 0;
                            width: auto;
                            text-align: right;
                            right: 0;
                            top: -157px;
                        }
                    }
                }
            }
        }
    }
}