/*-------------------------------------------------------*\
    Search Results
/*-------------------------------------------------------*/

body {
    &.search {
        main {
            article {
                &:last-child {
                    hr {
                        display: none;
                    }
                }
            }

            * {
                text-align: center !important;
                margin-left: auto !important;
                margin-right: auto !important;
            }

            nav {
                max-with: 100%;

                .post-nav-links {
                    span {
                        display: block;
                        width: 50%;

                        &.next {
                            text-align: right !important;
                            float: right;
                        }

                        &.prev {
                            text-align: left !important;
                            float: left;
                        }
                    }

                    a {
                        @include break-at($medium-break) {
                            padding: 0 2vw;
                        }


                        font-size: 20px;
                        text-transform: uppercase;
                        letter-spacing: 2px;
                    }
                }
            }
        }
    }
}