/*-------------------------------------------------------*\
    Colors
/*-------------------------------------------------------*/

$primary-color: #d54b2a;
$secondary-color: #999999;
$tertiary-color: #58595b;
$quaternary-color: #d64a29;

/* Main Theme Colors */
$color1: $primary-color;
$color2: $secondary-color;
$color3: $tertiary-color;
$color4: $quaternary-color;
$color5: rgba($color1, 0.6);
$color7: rgba($color2, 0.8);


/* Monosaturated Colors */
$dark-gray: #333333;
$gray-hover: #58595b;
$medium-gray: #838385;
$neutral-color: #838385;
$light-gray: #cbcccc;
$soft-gray: #cbcccc;
$lightest-gray: #f8f8f8;

/* Main Color Variants */
$primary-color-variant: rgba($primary-color, 0.85);
$secondary-color-variant: rgba($secondary-color, 0.85);
$dark-overlay: rgba($dark-gray, 0.8);
$white-transparent: rgba(255, 255, 255, 0.9);
$white-more-transparent: rgba(247, 247, 247, 0.7);
$black-transparent: rgba(black, 0.5);
$overlay-transparent: rgba($primary-color, 0.8);

/* Semi-Transparent */
$black-transparent: rgba(0, 0, 0, 0.75);
$white-transparent: rgba(255, 255, 255, 0.9);
$white-more-transparent: rgba(247, 247, 247, 0.7);
$shadow-color: rgba($dark-gray, 0.25);

/* Default Event Type Colors */

/* Primary Colors */
$copy-color: $dark-gray;
$copy-color-alt: $gray-hover;
$copy-color-invert: $lightest-gray;
$main-body-bg: white;
$main-body-bg-alt: $lightest-gray;
$divider-color: $soft-gray;

/* Generic Defaults */
$error-color: rgba(#ff2020, 0.5);

/* Admin Colors */
$admin-bar-bg: $main-body-bg;
$admin-bar-links: $copy-color;
$admin-bar-accents: $primary-color;
