/*-----------------------------------------------
    Variables
/*----------------------------------------------*/

$grid-width: 1200px;
$grid-expanded-width: 1344px;
$grid-max-width: 2197px;
$grid-inner-width: 1000px;
$grid-small-width: 630px;
$min-device-width: 200px;
$columns: 12 !default;
$column-width: 65px !default;
$gutter-width: 10px !default;
$large-grid-width: 1480px;
$mobile-gutter: 20px;

$font1: "Roboto", sans-serif;
$font2: "Roboto", sans-serif;
$font3: "Roboto", sans-serif;
$font4: "Roboto", sans-serif;
$font5: "Roboto", sans-serif;

/* Basic or Advanced usage */
$advanced-usage: false !default;

$S: 600px;
$M: 768px;
$L: 1170px;

/* Breakpoints */
$tiny-break: 420px;
$small-break: $S;
$medium-break: $M;
$large-break: $L;
$larger-break: 1350px;
$x-large-break: 1500px;
$banner-width: em(680px);

/* Panels */
$panel-color: #fff;
$panel-padding: 15px;
$default-float: left;
$bar-height: 54px;

/* Layout */
$padding: 120px;
$padding-large: 100px;
$padding-medium: 70px;
$padding-default: 50px;
$padding-small: 40px;
$hgap: 18px;
$pgap: 20px;
$tiny-gap: 8px;

/* Container Restrictions */
$aside-width: 260px;
$copy-block-width: 400px;
$max-contain-width: 670px;

/* Compatibility Variables */
$side-padding: $padding;
$side-padding-small: $padding-small;
$side-padding-medium: $padding-medium;


/* Mixin Stuff */
$browser-prefixes: "webkit", "moz", "ms";

/* Fonts */

/* Font Sizes */
$h1-size: 44px !default;
$h2-size: 37px !default;
$h3-size: 32px !default;
$h4-size: 26px !default;
$h5-size: 19.5px !default;
$h6-size: 16px !default;
$body-copy-size: 17px !default;
$base-font-size: 16px;

/* Font Families */
$sans-serif: "Roboto", helvetica, arial, sans-serif;
$brand-font: "Roboto", helvetica, arial, sans-serif;

/* Font Variables */
$body-font: $sans-serif;
$font-family: $brand-font;
$serif: $body-font;

/* Font Weights */
$light: 200;
$normal: 400;
$medium: 500;
$bold: 700;
