/*-------------------------------------------------------*\
    Functions
/*-------------------------------------------------------*/

@function percentage($size, $width: $columns) {
    @return $size / $width * 100%;
}

@function column($value) {
    @return percentage($value, $columns);
}

@function em($px, $base: $base-font-size) {
    @return $px / $base * 1em;
}

@function multiply($value-one, $value-two) {
    @return $value-one * $value-two;
}

@function divide($value-one, $value-two) {
    @return $value-one / $value-two;
}

@function subtraction($value-one, $value-two) {
    @return $value-one - $value-two;
}

@function addition($value-one, $value-two) {
    @return $value-one + $value-two;
}

@function negative($value) {
    @return $value * -1;
}

@function vw($target) {
    $vw-context: 1000 * 0.01 * 1px;

    @return $target / $vw-context * 1vw;
}

/**
 * Convert fonts
 */
@function fontisize($value, $current-unit, $convert-unit: px) {
    @if $current-unit == px {
        @if $convert-unit == em {
            @return $value / 16 + 0em;
        }
        @else if $convert-unit == percent {
            @return percentage($value / 16);
        }
    }
    @else if $current-unit == em {
        @if $convert-unit == px {
            @return $value * 16 + 0px;
        }
        @else if $convert-unit == percent {
            @return percentage($value);
        }
    }
    @else if $current-unit == percent {
        @if $convert-unit == px {
            @return $value * 16 / 100 + 0px;
        }
        @else if $convert-unit == em {
            @return $value / 100 + 0em;
        }
    }
    @else if $current-unit == pt {
        @if $convert-unit == px {
            @return $value * 1.3333 + 0px;
        }
        @else if $convert-unit == em {
            @return $value / 12 + 0em;
        }
        @else if $convert-unit == percent {
            @return percentage($value / 12);
        }
    }
}

@function solid-lighten($color, $percentage) {
    @return lighten($color, (1 - $percentage) * 5%);
}

@function solid-darken($color, $percentage) {
    @return darken($color, (1 - $percentage) * 5%);
}

@mixin rgba($type, $color, $percentage, $shade: ligthen) {
    @if $shade == lighten {
        @if $type == color {
            color: solid-lighten($color, $percentage);
            color: rgba($color, $percentage);
        }

        @if $type == bg {
            background-color: solid-lighten($color, $percentage);
            background-color: rgba($color, $percentage);
        }
    }
    @else {
        @if $type == color {
            color: solid-darken($color, $percentage);
            color: rgba($color, $percentage);
        }

        @if $type == bg {
            background-color: solid-darken($color, $percentage);
            background-color: rgba($color, $percentage);
        }
    }
}