/*-------------------------------------------------------*\
    Mixins
/*-------------------------------------------------------*/

/*  Column width
-------------------------------------------------------*/

@mixin columns($columns, $omega: false) {
    float: left;
    width: column($columns);

    @if $omega == omega {
        padding: 0;
    }
    @else {
        padding: 0 $gutter-width;

        // margin-right: percentage($gutter-width, $grid-width);
    }
}

/*  Column push
-------------------------------------------------------*/

@mixin push($columns) {
    $margin: column($columns) + percentage($gutter-width, $grid-width);

    margin-left: $margin;
}

/*  Clearfix
-------------------------------------------------------*/

@mixin clearfix {
    &:before, &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }
}

/*  Breakpoints
-------------------------------------------------------*/

@mixin break-at($point) {
    @media screen and (min-width: $point) {
        @content;
    }
}

@mixin break-max-at($point) {
    @media screen and (max-width: $point) {
        @content;
    }
}

@mixin prefix($property, $value, $prefixes: $browser-prefixes) {
    @each $prefix in $prefixes {
        #{"-" + $prefix + "-" + $property}: $value;
    }

    // Output standard non-prefixed declaration
    #{$property}: $value;
}

@mixin cubicTransition($a, $b, $c, $d, $time) {
    -webkit-transition: all $time cubic-bezier($a, $b, $c, $d);
    -moz-transition: all $time cubic-bezier($a, $b, $c, $d);
    -o-transition: all $time cubic-bezier($a, $b, $c, $d);
    transition: all $time cubic-bezier($a, $b, $c, $d);
}

/*  Column push
-------------------------------------------------------*/

@mixin push($columns) {
    $margin: column($columns) + percentage($gutter-width, $grid-width);

    margin-left: $margin;
}

/*  Breakpoints
-------------------------------------------------------*/

@mixin break-at($point) {
    @media screen and (min-width: $point) {
        @content;
    }
}

/*-------------------------------------------------------*\
    Mixins
/*-------------------------------------------------------*/

/*  Column width
-------------------------------------------------------*/

@mixin columns($columns, $omega: false) {
    float: left;
    width: column($columns);

    @if $omega == omega {
        padding: 0;

        // margin-right: 0;
    }
    @else {
        padding: 0 $gutter-width;

        // margin-right: percentage($gutter-width, $grid-width);
    }
}

/*  Column push
-------------------------------------------------------*/

@mixin push($columns) {
    $margin: column($columns) + percentage($gutter-width, $grid-width);

    margin-left: $margin;
}

/*  Clearfix
-------------------------------------------------------*/

@mixin clearfix {
    &:before, &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }
}

/*  Breakpoints
-------------------------------------------------------*/

@mixin break-at($point) {
    @media screen and (min-width: $point) {
        @content;
    }
}

@mixin break-max-at($point) {
    @media screen and (max-width: $point) {
        @content;
    }
}

/*  Prefix Helpers
-------------------------------------------------------*/

@mixin prefix($property, $value, $prefixes: $browser-prefixes) {
    @each $prefix in $prefixes {
        #{"-" + $prefix + "-" + $property}: $value;
    }

    #{$property}: $value;
}

@mixin prefixer($property, $value, $prefixes: $browser-prefixes) {
    @include prefix($property, $value, $prefixes);
}

@mixin property-prefixer($property, $value, $prefixes: $browser-prefixes) {
    #{$property}: $value;

    @each $prefix in $prefixes {
        $property: #{"-" + $prefix + "-" + $value};
    }

    // Output standard non-prefixed declaration
}

@mixin transition($type: all, $time: 0.25s, $easing: cubic-bezier(0, 0.32, 0, 1.12)) {
    -webkit-transition: $type $time $easing;
    -moz-transition: $type $time $easing;
    -ms-transition: $type $time $easing;
    -o-transition: $type $time $easing;
    transition: $type $time $easing;
    transition-delay: 0s;

    // @include backface-visibility(hidden);
}

@mixin transform($option) {
    -webkit-transform: $option;
    -moz-transform: $option;
    -ms-transform: $option;
    -o-transform: $option;
    transform: $option;
}

@mixin disable-prefix-for-all {
    $prefix-for-webkit: false !global;
    $prefix-for-mozilla: false !global;
    $prefix-for-microsoft: false !global;
    $prefix-for-opera: false !global;
    $prefix-for-spec: false !global;
}

@mixin box-sizing($box) {
    @include prefixer(box-sizing, $box, webkit moz spec);
}

/*  Miscellaneous Helpers
-------------------------------------------------------*/

@mixin table {
    display: table;
}

@mixin table-cell($vertical-align: middle) {
    display: table-cell;
    vertical-align: $vertical-align;
}

@mixin hidden-overlay($background: none, $width: 100%, $height: 100%) {
    position: relative;

    &:before {
        content: '';
        display: block;
        position: absolute;
        z-index: 2;
        left: 0;
        top: 0;
        width: $width;
        height: $height;
    }

    &.enabled {
        &:before {
            display: none;
        }
    }
}

@mixin bg-img-and-color($color, $img-url) {
    background-image: linear-gradient(to right, $color, $color), url($img-url);
}

@mixin font-awesome-icon($font-awesome-class, $padding: 0) {
    @extend .#{$font-awesome-class};

    &:before {
        @extend .fa;

        padding: $padding;
    }
}

@mixin modal-close-btn($important: null) {
    @include font-awesome-icon("fa-close");

    z-index: 99999999999#{$important};
    top: 25px#{$important};
    right: 25px#{$important};
    position: fixed#{$important};
    left: auto#{$important};
    bottom: auto#{$important};
    text-shadow: none#{$important};
    font-weight: 100#{$important};
    color: unquote("transparent#{$important}");
    display: block#{$important};
    background: unquote("#{rgba($primary-color, 0.6)}#{$important}");
    border: unquote("#{3px solid white}#{$important}");
    border-radius: 100%#{$important};
    height: 50px#{$important};
    width: 50px#{$important};
    text-align: center#{$important};
    padding: 1px#{$important};

    &:before {
        color: unquote("white#{$important}");
        font-size: unquote("#{$h3-font-size}#{$important}");

        @include transition(all, 0.15s, ease);
    }

    &:hover {
        color: unquote("#{$primary-color}#{$important}");
        text-decoration: none#{$important};
        cursor: pointer#{$important};

        @include transition(all, 0.25s);

        &:before {
            @include prefixer(transform, rotate(25deg));
            @include prefixer(filter, blur(0.01em));
        }
    }
}

@mixin show-for-sr {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    width: 1px;
}

@mixin show-for-all {
    clip: auto;
    height: auto;
    overflow: visible;
    width: auto;
}

@mixin optional-at-root($sel) {
    @at-root #{if(not &, $sel, selector-append(&, $sel))} {
        @content;
    }
}

/* Style text input placeholder text */

@mixin placeholder-styles {
    @include optional-at-root("::-webkit-input-placeholder") {
        @content;
    }


    @include optional-at-root(":-moz-placeholder") {
        @content;
    }


    @include optional-at-root("::-moz-placeholder") {
        @content;
    }


    @include optional-at-root(":-ms-input-placeholder") {
        @content;
    }
}

@mixin backface-visibility($arguments) {
    -webkit-backface-visibility: $arguments;
    -moz-backface-visibility: $arguments;
    -ms-backface-visibility: $arguments;
    -o-backface-visibility: $arguments;
    backface-visibility: $arguments;
}

@mixin gradient-bg-horizontal($top, $bottom, $img: false, $stop: 100%) {
    // background: $bottom;

    @if $img != false {
        background-image: -webkit-linear-gradient(135deg, $top 0, $bottom $stop), url($img);
        background-image: -moz-linear-gradient(135deg, $top 0, $bottom $stop), url($img);
        background-image: -ms-linear-gradient(135deg, $top 0, $bottom $stop), url($img);
        background-image: linear-gradient(135deg, $top 0, $bottom $stop), url($img);
    }
    @else {
        background-image: -webkit-linear-gradient(135deg, $top 0, $bottom $stop);
        background-image: -moz-linear-gradient(135deg, $top 0, $bottom $stop);
        background-image: -ms-linear-gradient(135deg, $top 0, $bottom $stop);
        background-image: linear-gradient(135deg, $top 0, $bottom $stop);
    }
}

@mixin gradient-bg-vertical($bottom, $top, $img: false, $stop: 100%) {
    @if $img != false {
        background-image: -webkit-linear-gradient(0deg, $top 0, $bottom $stop), url($img);
        background-image: -moz-linear-gradient(0deg, $top 0, $bottom $stop), url($img);
        background-image: -ms-linear-gradient(0deg, $top 0, $bottom $stop), url($img);
        background-image: linear-gradient(0deg, $top 0, $bottom $stop), url($img);
    }
    @else {
        background-image: -webkit-linear-gradient(0deg, $top 0, $bottom $stop);
        background-image: -moz-linear-gradient(0deg, $top 0, $bottom $stop);
        background-image: -ms-linear-gradient(0deg, $top 0, $bottom $stop);
        background-image: linear-gradient(0deg, $top 0, $bottom $stop);
    }
}

@mixin stroked-circle($fill-color: $primary-color, $border-color: white, $width: 7px) {
    color: transparent;
    border: 1px solid $border-color;
    width: $width;
    height: $width;
    display: block;
    position: absolute;
    border-radius: 100%;
    background: $fill-color;
    content: ' ';
}

@mixin block-centered {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

@mixin drop-shadow($color: rgba(#333, 0.25), $blur-radius: 17px) {
    box-shadow: 0 0 $blur-radius $color;
}

@mixin image-shadow($radius: 7px, $color: rgba(0, 0, 0, 0.09)) {
    box-shadow: 0 0 $radius $color;
}

@mixin button-style($text-color: $primary-color, $bg-color: white) {
    color: $text-color !important;
    border-color: $text-color !important;
    background-color: $bg-color !important;

    &:hover {
        background: $text-color !important;
        color: $bg-color !important;
    }

    + i {
        color: $bg-color !important;
    }
}

@mixin margin-auto($vertical: auto, $horizontal: auto) {
    @if $vertical != false and $horizontal != false {
        margin: $vertical $horizontal;
    }
    @else if $vertical != false {
        margin-top: $horizontal;
        margin-bottom: $horizontal;
    }
    @else if $horizontal != false {
        margin-left: $vertical;
        margin-right: $vertical;
    }
}

/**
 * Fix for vw, vh, vmin, vmax on iOS 7.
 * http://caniuse.com/#feat=viewport-units
 *
 * This fix works by replacing viewport units with px values on known screen sizes.
 *
 * iPhone 6 and 6 Plus cannot run iOS 7, so are not targeted by this fix.
 * Target devices running iOS 8+ will incidentally execute the media query,
 * but this will still produce the expected result; so this is not a problem.
 *
 * As an example, replace:
 *
 *   height: 50vh;
 *   font-size: 5vmin;
 *
 * with:
 *
 *   @include viewport-unit(height, 50vh);
 *   @include viewport-unit(font-size, 5vmin);
 */
@mixin viewport-unit($property, $value) {
    #{$property}: $value;

    $unit: unit($value);

    @if index((vw, vh, vmin, vmax), $unit) != null {
        $devices: (768px, 1024px), (320px, 480px), (320px, 568px);

        @each $device in $devices {
            $device-width: nth($device, 1);
            $device-height: nth($device, 2);

            $device-query: "only screen and (-webkit-min-device-pixel-ratio: 1)";
            $device-query: "#{$device-query} and (device-width: #{$device-width})";
            $device-query: "#{$device-query} and (device-height: #{$device-height})";

            $percent: $value / ($value * 0 + 1);

            // see https://github.com/sass/sass/issues/533

            $percent-width: $device-width * $percent / 100;
            $percent-height: $device-height * $percent / 100;

            @if $unit == vmin or $unit == vmax {
                @media #{$device-query} {
                    #{$property}: if($unit == vmin, $percent-width, $percent-height);
                }
            }
            @else {
                @media #{$device-query} and (orientation: portrait) {
                    #{$property}: if($unit == vw, $percent-width, $percent-height);
                }

                @media #{$device-query} and (orientation: landscape) {
                    #{$property}: if($unit == vw, $percent-height, $percent-width);
                }
            }
        }
    }
}

@mixin container-pad($amount: $gutter-width) {
    padding-left: em($amount);
    padding-right: em($amount);

    // @include break-at($small-break) {
    //     padding-left: em(40px);
    //     padding-right: em(40px);
    // }

    @include break-at($large-break) {
        padding-left: em(multiply($amount, 5));
        padding-right: em(multiply($amount, 5));
        padding-left: vw(multiply($amount, 5));
        padding-right: vw(multiply($amount, 5));
    }
}

@mixin vertical-pad($amount: $gutter-width) {
    padding-top: em($amount);
    padding-bottom: em($amount);

    @include break-at($small-break) {
        padding-top: em(multiply($amount, 1.5));
        padding-bottom: em(multiply($amount, 1.5));
    }


    @include break-at($large-break) {
        padding-top: em(multiply($amount, 2));
        padding-bottom: em(multiply($amount, 2));
        padding-top: vw(multiply($amount, 2));
        padding-bottom: vw(multiply($amount, 2));
    }
}

@mixin flexworks($align: center) {
    display: flex;
    align-items: $align;
    align-content: $align;
}

@mixin gradient-underlay($color: black, $main-stop: 25%, $before-after: before) {
    position: relative;

    &:#{$before-after} {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        background: linear-gradient(90deg, rgba($color, 0.165) 0, rgba($color, 0.45) divide($main-stop, 2), rgba($color, 0.4) $main-stop, rgba(0, 0, 0, 0) 70%);
    }

    > * {
        z-index: 1;
    }
}

@mixin transparent-underlay($background: black, $opacity: 0.45) {
    position: relative;

    &:before {
        content: '';
        display: block;
        position: absolute;
        z-index: 2;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba($background, $opacity);
        z-index: 0;
    }

    > * {
        z-index: 1;
    }
}

@mixin section-divider($direction: bottom, $thickness: 1.5px, $color: $divider-color) {
    border-#{$direction}: $thickness solid $color;
}

@mixin col-pad($gutter-pad: $gutter-width) {
    padding-left: $gutter-width;
    padding-right: $gutter-width;
}

/*
 * Radial Gradient Overlay: Displays a radial gradient that fades to the edges overlaying an image
 *
 * @example https://codepen.io/blizzrdof77/pen/XqOrMB
*/
@mixin radial-gradient-overlay($color: black, $img: false, $width: false) {
    position: relative;
    margin: 0 auto;
    @if $img != false {
        background-image: url($img);
        background-size: cover;
        background-position: center center;
    }
    img {
        width: 100%;
        height: auto;
        position: relative;
        z-index: 0;
    }
    &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-image: radial-gradient(
                circle farthest-side,
                transparent 0%,
                rgba($color, 0) 25%,
                rgba($color, 0.75) 80%,
                rgba($color, 1) 95%
            ),
            linear-gradient(
                to left,
                rgba($color, 1) 0%,
                transparent 20%,
                rgba($color, 0) 80%,
                rgba($color, 1) 100%
            ),
            linear-gradient(
                to top,
                rgba($color, 1) 0%,
                transparent 30%,
                rgba($color, 0) 70%,
                rgba($color, 1) 100%
            );
    }
}

