/*-------------------------------------------------------*\
    ACF
/*-------------------------------------------------------*/

.acf-js-tooltip {
    z-index: 99999999 !important;
    position: relative !important;
    display: block !important;
    padding: 0 !important;
}

.mini {
    textarea, iframe {
        min-height: 40px !important;
        height: 80px !important;
        max-height: 130px !important;
    }
}

.tiny {
    textarea, iframe {
        min-height: 40px !important;
        height: 60px !important;
        max-height: 100px !important;
    }
}

.mini-ish {
    textarea, iframe {
        min-height: 40px !important;
        height: 130px !important;
        max-height: 160px !important;
    }
}

.acf-hide {
    display: none !important;
}

.acf-show {
    display: block !important;
}

/* ACF customizations */

.acf-label > ul {
    display: block;
    background: #ccc;
    padding: 1em;
    border: 2px solid #333;
    width: 100%;
}

.acf-smart-button-fields {
    label {
        text-transform: capitalize;
    }
}

.acf-fc-popup {
    .screenshot {
        // display: inline !important;
        height: 0 !important;
        overflow: hidden !important;
        position: absolute !important;

        &:before, &:after {
            display: none !important;
        }
    }
}
