/*-------------------------------------------------------*\
    Admin Styles
/*-------------------------------------------------------*/

$error-color: #fe0000;

.row {
    box-sizing: border-box;

    .col {
        box-sizing: border-box;
    }

    margin: 0 auto;
    max-width: 1280px;
    width: 100%;

    &:before {
        content: " ";
        display: table;
    }

    &:after {
        content: " ";
        display: table;
        clear: both;
    }

    &.collapse {
        > {
            .column, .columns {
                padding-left: 0;
                padding-right: 0;
            }
        }

        .row {
            margin-left: 0;
            margin-right: 0;
        }
    }

    .row {
        margin: 0 -8px;
        max-width: none;
        width: auto;

        &:before {
            content: " ";
            display: table;
        }

        &:after {
            content: " ";
            display: table;
            clear: both;
        }

        &.collapse {
            margin: 0;
            max-width: none;
            width: auto;

            &:before {
                content: " ";
                display: table;
            }

            &:after {
                content: " ";
                display: table;
                clear: both;
            }
        }
    }
}

.col, .cols {
    padding-left: 8px;
    padding-right: 8px;
    width: 100%;
    float: left;
}

.col + .col:last-child, .cols + .col:last-child, .col + .cols:last-child, .cols + .cols:last-child {
    float: right;
}

.col + .col.end, .cols + .col.end, .col + .cols.end, .cols + .cols.end {
    float: left;
}

@media only screen and (min-width: 42.73333em) {
    .medium-push-0 {
        position: relative;
        left: 0;
        right: auto;
    }

    .medium-pull-0 {
        position: relative;
        right: 0;
        left: auto;
    }

    .medium-push-1 {
        position: relative;
        left: 8.3333333333%;
        right: auto;
    }

    .medium-pull-1 {
        position: relative;
        right: 8.3333333333%;
        left: auto;
    }

    .medium-push-2 {
        position: relative;
        left: 16.6666666667%;
        right: auto;
    }

    .medium-pull-2 {
        position: relative;
        right: 16.6666666667%;
        left: auto;
    }

    .medium-push-3 {
        position: relative;
        left: 25%;
        right: auto;
    }

    .medium-pull-3 {
        position: relative;
        right: 25%;
        left: auto;
    }

    .medium-push-4 {
        position: relative;
        left: 33.3333333333%;
        right: auto;
    }

    .medium-pull-4 {
        position: relative;
        right: 33.3333333333%;
        left: auto;
    }

    .medium-push-5 {
        position: relative;
        left: 41.6666666667%;
        right: auto;
    }

    .medium-pull-5 {
        position: relative;
        right: 41.6666666667%;
        left: auto;
    }

    .medium-push-6 {
        position: relative;
        left: 50%;
        right: auto;
    }

    .medium-pull-6 {
        position: relative;
        right: 50%;
        left: auto;
    }

    .medium-push-7 {
        position: relative;
        left: 58.3333333333%;
        right: auto;
    }

    .medium-pull-7 {
        position: relative;
        right: 58.3333333333%;
        left: auto;
    }

    .medium-push-8 {
        position: relative;
        left: 66.6666666667%;
        right: auto;
    }

    .medium-pull-8 {
        position: relative;
        right: 66.6666666667%;
        left: auto;
    }

    .medium-push-9 {
        position: relative;
        left: 75%;
        right: auto;
    }

    .medium-pull-9 {
        position: relative;
        right: 75%;
        left: auto;
    }

    .medium-push-10 {
        position: relative;
        left: 83.3333333333%;
        right: auto;
    }

    .medium-pull-10 {
        position: relative;
        right: 83.3333333333%;
        left: auto;
    }

    .medium-push-11 {
        position: relative;
        left: 91.6666666667%;
        right: auto;
    }

    .medium-pull-11 {
        position: relative;
        right: 91.6666666667%;
        left: auto;
    }

    .column, .columns {
        position: relative;
        padding-left: 8px;
        padding-right: 8px;
        float: left;
    }

    .medium-1 {
        width: 8.3333333333%;
    }

    .medium-2 {
        width: 16.6666666667%;
    }

    .medium-3 {
        width: 25%;
    }

    .medium-4 {
        width: 33.3333333333%;
    }

    .medium-5 {
        width: 41.6666666667%;
    }

    .medium-6 {
        width: 50%;
    }

    .medium-7 {
        width: 58.3333333333%;
    }

    .medium-8 {
        width: 66.6666666667%;
    }

    .medium-9 {
        width: 75%;
    }

    .medium-10 {
        width: 83.3333333333%;
    }

    .medium-11 {
        width: 91.6666666667%;
    }

    .medium-12 {
        width: 100%;
    }

    .medium-offset-0 {
        margin-left: 0 !important;
    }

    .medium-offset-1 {
        margin-left: 8.3333333333% !important;
    }

    .medium-offset-2 {
        margin-left: 16.6666666667% !important;
    }

    .medium-offset-3 {
        margin-left: 25% !important;
    }

    .medium-offset-4 {
        margin-left: 33.3333333333% !important;
    }

    .medium-offset-5 {
        margin-left: 41.6666666667% !important;
    }

    .medium-offset-6 {
        margin-left: 50% !important;
    }

    .medium-offset-7 {
        margin-left: 58.3333333333% !important;
    }

    .medium-offset-8 {
        margin-left: 66.6666666667% !important;
    }

    .medium-offset-9 {
        margin-left: 75% !important;
    }

    .medium-offset-10 {
        margin-left: 83.3333333333% !important;
    }

    .medium-offset-11 {
        margin-left: 91.6666666667% !important;
    }

    .medium-reset-order {
        float: left;
        left: auto;
        margin-left: 0;
        margin-right: 0;
        right: auto;
    }

    .column.medium-centered, .columns.medium-centered {
        margin-left: auto;
        margin-right: auto;
        float: none;
    }

    .column.medium-uncentered, .columns.medium-uncentered {
        float: left;
        margin-left: 0;
        margin-right: 0;
    }

    .column.medium-centered:last-child, .columns.medium-centered:last-child {
        float: none;
    }

    .column.medium-uncentered:last-child, .columns.medium-uncentered:last-child {
        float: left;
    }

    .column.medium-uncentered.opposite, .columns.medium-uncentered.opposite {
        float: right;
    }

    .row {
        &.medium-collapse {
            > {
                .column, .columns {
                    padding-left: 0;
                    padding-right: 0;
                }
            }

            .row {
                margin-left: 0;
                margin-right: 0;
            }
        }

        &.medium-uncollapse > {
            .column, .columns {
                padding-left: 8px;
                padding-right: 8px;
                float: left;
            }
        }
    }

    .push-0 {
        position: relative;
        left: 0;
        right: auto;
    }

    .pull-0 {
        position: relative;
        right: 0;
        left: auto;
    }

    .push-1 {
        position: relative;
        left: 8.3333333333%;
        right: auto;
    }

    .pull-1 {
        position: relative;
        right: 8.3333333333%;
        left: auto;
    }

    .push-2 {
        position: relative;
        left: 16.6666666667%;
        right: auto;
    }

    .pull-2 {
        position: relative;
        right: 16.6666666667%;
        left: auto;
    }

    .push-3 {
        position: relative;
        left: 25%;
        right: auto;
    }

    .pull-3 {
        position: relative;
        right: 25%;
        left: auto;
    }

    .push-4 {
        position: relative;
        left: 33.3333333333%;
        right: auto;
    }

    .pull-4 {
        position: relative;
        right: 33.3333333333%;
        left: auto;
    }

    .push-5 {
        position: relative;
        left: 41.6666666667%;
        right: auto;
    }

    .pull-5 {
        position: relative;
        right: 41.6666666667%;
        left: auto;
    }

    .push-6 {
        position: relative;
        left: 50%;
        right: auto;
    }

    .pull-6 {
        position: relative;
        right: 50%;
        left: auto;
    }

    .push-7 {
        position: relative;
        left: 58.3333333333%;
        right: auto;
    }

    .pull-7 {
        position: relative;
        right: 58.3333333333%;
        left: auto;
    }

    .push-8 {
        position: relative;
        left: 66.6666666667%;
        right: auto;
    }

    .pull-8 {
        position: relative;
        right: 66.6666666667%;
        left: auto;
    }

    .push-9 {
        position: relative;
        left: 75%;
        right: auto;
    }

    .pull-9 {
        position: relative;
        right: 75%;
        left: auto;
    }

    .push-10 {
        position: relative;
        left: 83.3333333333%;
        right: auto;
    }

    .pull-10 {
        position: relative;
        right: 83.3333333333%;
        left: auto;
    }

    .push-11 {
        position: relative;
        left: 91.6666666667%;
        right: auto;
    }

    .pull-11 {
        position: relative;
        right: 91.6666666667%;
        left: auto;
    }
}

.invisible {
    opacity: 0 !important;
}

/*-------------------------------------------------------*\
    Custom Admin Interface Styles
/*-------------------------------------------------------*/

/* Admin sidebar menu customizations */
a {
    &[href*="#edit-page-content"], &[href*="#edit-home-page"] {
        font-style: italic;
        border-top: 1px solid #ccc;
        margin-top: 5px !important;
        padding-bottom: 0 !important;
        padding-top: 8px !important;
        position: relative;

        &:after {
            display: inline-block;
            float: left;
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            right: 0;
            width: 20px;
            height: 100%;
            font-size: 20px;
            line-height: 1.5;
            padding-right: 5px;
            font-family: dashicons;
            text-decoration: inherit;
            color: #bbb;
            font-weight: 400;
            font-style: normal;
            vertical-align: top;
            text-align: center;
            transition: color .1s ease-in 0;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            content: "\f119";
        }
    }
}

/* Customize Admin Menu Sidebar */
#adminmenu {
    li {
        a {
            &[href="admin.php?page=logout"] {
                color: $error-color !important;
                font-weight: bold;
                text-transform: uppercase;
                border-top: 2px solid $error-color;
                border-bottom: 2px solid $error-color;
                background: $error-color;

                * {
                    color: white !important;
                    font-weight: normal;
                }
            }
        }
    }
}

/* Customize menu items */
#toplevel_page_edit-post_type-acf-field-group {
    .wp-menu-image {
        &:before {
            color: $error-color !important;
        }
    }
}

/* WP admin bar */
#wp-admin-bar-my-account {
    > a, > a span {
        font-size: 0;
        color: transparent;
    }
}

/* jQuery screenshot hover tooltip plugin */
#my-screenshot-tooltip {
    position: absolute;
    border: 1px solid #24292e;
    box-shadow: 0 0 10px #888;
    padding: 1px;
    display: none;
    color: #fff;
    width: 90%;
    max-width: 500px;
    background-color: #24292e;
    text-align: center;
    color: white !important;

    &.alt {
        margin-left: auto !important;
        margin-right: auto !important;
        right: 0 !important;
        left: auto !important;
    }

    &.loading {
        opacity: 1;
        display: block;
        z-index: 999999999999;
        min-height: 100px;
        min-width: 100px;
        position: absolute;
        background: url("../img/loader.svg") center center no-repeat #24292e !important;
    }

    img {
        max-width: 100%;
        width: 100%;
        height: auto;
    }
}

/* Customizations to Page Admin Editor */
#excerpt {
    font-size: 85%;
    color: #888;
    height: 100px;
    max-height: 20vh;

    + p {
        margin-top: 7px;
        color: #666;
        font-size: 13px;
    }
}

#postdivrich {
    outline: 1px solid #ddd;
    overflow: hidden;
}

.wp-editor-container {
    textarea {
        &.wp-editor-area {
            height: 200px !important;
        }
    }
}

.section-header {
    margin-bottom: 9px;
    font-size: 14px;

    + * {
        margin-top: 0 !important;
    }
}

/* Hide Menu Items */
#toplevel_page_customize-return--2Fwp-admin-2Fpost-3Fpost-3D395-26action-3Dedit-26message-3D1 {
    display: none !important;
}

/* Admin sidebar menu customizations */
a {
    &[href*="#edit-page-content"], &[href*="#edit-home-page"] {
        font-style: italic;
        border-top: 1px solid #ccc;
        margin-top: 5px !important;
        padding-bottom: 0 !important;
        padding-top: 8px !important;
        position: relative;

        &:after {
            display: inline-block;
            float: left;
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            right: 0;
            width: 20px;
            height: 100%;
            font-size: 20px;
            line-height: 1.5;
            padding-right: 5px;
            font-family: dashicons;
            text-decoration: inherit;
            color: #bbb;
            font-weight: 400;
            font-style: normal;
            vertical-align: top;
            text-align: center;
            transition: color .1s ease-in 0;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            content: "\f119";
        }
    }
}

/* Customize menu items */
#toplevel_page_edit-post_type-acf-field-group {
    .wp-menu-image {
        &:before {
            color: $error-color !important;
        }
    }
}

/* ACF customizations */
.acf-smart-button-fields {
    label {
        text-transform: capitalize;
    }
}

.acf-fc-popup {
    .screenshot {
        // display: inline !important;
        height: 0 !important;
        overflow: hidden !important;
        position: absolute !important;

        &:before, &:after {
            display: none !important;
        }
    }
}

/* WP admin bar */
#wp-admin-bar-my-account {
    > a, > a span {
        font-size: 0;
        color: transparent;
    }
}

/* jQuery screenshot hover tooltip plugin */
#my-screenshot-tooltip {
    position: absolute;
    border: 1px solid #24292e;
    box-shadow: 0 0 10px #888;
    padding: 1px;
    display: none;
    color: #fff;
    width: 90%;
    max-width: 100%;
    width: 500px;
    background-color: #24292e;
    text-align: center;
    color: white !important;

    &.alt {
        margin-left: auto !important;
        margin-right: auto !important;
        right: 0 !important;
        left: auto !important;
    }

    &.loading {
        opacity: 1;
        display: block;
        z-index: 999999999999;
        min-height: 150px;
        min-width: 500px;
        position: absolute;
        background: url("../img/loader.svg") center center no-repeat #24292e !important;
    }

    img {
        max-width: 100%;
        width: 100%;
        height: auto;
    }
}

/* Remove unused menu items */
#menu-posts-wp1slider, #toplevel_page_customize-return--2Fwp-admin-2Fedit-3Fpost_type-3Dwp1slider {
    display: none !important;
}

#adminmenu, #adminmenuback, #adminmenuwrap {
    box-shadow: 0 0 21px rgba(#dedede, 0.8);
}