/*-------------------------------------------------------*\
    Pages & Templates
/*-------------------------------------------------------*/

body {
    &.wp-admin {
        &.post-type-team_member {
            #tagsdiv-studio, #tagsdiv-service_area {
                display: none;
            }
        }

        &.post-type-banner, &.post-type-page {
            .banner-hidden {
                display: none !important;
            }
        }
    }

    /* Custom Post Type / ACF Styles */
    &.post-type-banner, &.post-type-page {
        .banner-hidden {
            display: none !important;
        }
    }

    &.post-type-location, &.post-type-acf-field-group {
        #excerpt, #excerpt-header-element {
            display: none !important;
        }
    }
}