/*-----------------------------------------------
    Banners
/*----------------------------------------------*/

.banner {
    background-image: no-repeat;
    background-size: cover;
    background-position: bottom center;
    padding-top: em($padding-medium);
    padding-bottom: em($padding-medium);
    max-width: 100%;
    width: 100%;
    .emblem {
        @include break-at($medium-break) {
            top: 0 !important;
            left: -7px;
            width: 77px;
            height: 77px;
        }
        @include break-max-at($medium-break) {
            left: 0;
            right: 0;
            position: relative;
            margin: 0 auto;
        }
    }

    figure {
        &.image {
            &.pad-left {
                @include break-max-at($medium-break) {
                    padding-left: 0 !important;
                }
            }
        }
    }

    .stripe {
        margin-bottom: 0 !important;
    }

    &.skinny {
        padding-top: em($padding-default);
        padding-bottom: em($padding-default);
    }

    &.condense {
        padding-top: em($pgap);
        padding-bottom: em($pgap);
    }

    &.tiny {
        padding-top: 0;
        padding-bottom: 0;
    }

    .button {
        @include break-max-at($medium-break) {
            width: 100%;
            max-width: 100%;
            display: block;

            @include block-centered;
        }
        &.read-more {
            @include break-max-at($medium-break) {
                width: auto;
            }
        }
    }

    &.photo-banner {
        background-image: url("../img/dark-image-bg-1.jpg");

        * {
            color: white;
        }

        a {
            &:not(.button) {
                &:hover {
                    color: $copy-color;
                }
            }
        }
    }

    .box {
        padding: 25px 30px;
    }

    ul.content {
        border-top: 2px solid $divider-color;
        border-bottom: 2px solid $divider-color;
        padding-top: 0;
        margin-top: em($pgap);
        padding-bottom: 0;
        margin-bottom: 0;

        li {
            > h6 {
                padding-left: 1em;
                margin-bottom: 0;
            }

            &:last-child {
                margin-bottom: 0;
                padding-bottom: 0;
            }
        }
    }
    &:last-child {
        &.end-section {
            border-bottom: none;
        }
    }
}

.text-text-columns {
    &.standard {
        h1, h2, h3, h4, h5, h6 {
            color: $copy-color;
        }

        + .standard {
            > .wrapper {
                padding-top: 0;
            }
        }
    }
}