/*-------------------------------------------------------*\
    Bars
/*-------------------------------------------------------*/

.post-bar {
    margin-top: -1px;
    background: white;
    @include drop-shadow(rgba(210, 219, 226, 0.75), 10px);
    position: relative;
    z-index: 5;
    padding: 1.1em 1.5em;
    +section {
        >.container {
            padding-top: 0;
        }
        >.photo-block {
            padding-top: 0 !important;

        }
    }
    &.fixed {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 10;
    }
    @include break-max-at($medium-break) {
        @include break-at($medium-break) {
            height: 55px;
        }
        overflow: hidden;
    }
    ul {
        @include row;
        text-align: center;
        padding: 0px 10px;
        @include break-max-at($medium-break) {
            white-space: nowrap;
            overflow-x: scroll;
            -webkit-overflow-scrolling: touch;
            height: 75px;
        }
        li {
            display: inline-block;
            text-transform: uppercase;
            font-size: em(15px);
            font-weight: $bold;
            margin: 0;
            padding: 0;
            border-left: 1px solid white;
            border-right: 1px solid transparent;
            @include break-at($medium-break) {
                margin: 0 -5px 0 0;
            }
            &:hover {
                border-bottom-color: white;
            }
            >span {
                @include stroked-circle(white);
                left: -4px;
                top: 50%;
            }
            a {
                background-color: transparent;
                display: block;
                padding: 20px 0 16px;
                line-height: 1em;
                color: $tertiary-color;
                letter-spacing: 1px;
                margin: 0 30px 0;
                border-bottom: 4px solid transparent;
                border-radius: 0;
                overflow: visible;
                font-size: em(12px);
                @include break-max-at($medium-break) {
                    font-size: em(14px);
                }
                letter-spacing: 2px;
                &:hover {
                    border-bottom-color: $secondary-color;
                    color: $secondary-color;
                    text-decoration: none;
                }
            }
            &:first-child {
                border-left-color: transparent;
                >span {
                    display: none;
                }
            }
            &.current {
                a {
                    border-bottom-color: $tertiary-color;
                }
                &:hover {
                    // border-bottom-color: $secondary-color;
                    a {
                        // color: $secondary-color;
                    }
                }
            }
            &:last-child {
                // padding-left: 0;
                margin-right: 0;
            }
        }
    }
}

nav.load-more a {
    @extend .button;
    text-align: center;
    margin: 40px auto 0;
    width: 120px;
    display: block;
}

nav.pagination {
    max-width: 1000px;
    margin: 0 auto;
    ul {
        li {
            display: inline-block;
            padding: 0 10px;
            margin: 0;
        }
    }
}
