/*-------------------------------------------------------*\
    Breadcrumbs
/*-------------------------------------------------------*/

article {
    .breadcrumbs {
        background: transparent !important;
        color: $copy-color;

        * {
            color: inherit;
        }
    }
}

.breadcrumbs {
    @include vertical-pad(6px);
    @include row;

    background-color: $main-body-bg;
    line-height: normal;
    border: none;
    z-index: 5;
    left: 0;
    right: 0;
    margin: auto;


    @include break-at($medium-break) {
        position: absolute;
        left: 0;
        right: 0;
        overflow: hidden;
        min-height: $bar-height;
    }
    @include break-max-at($medium-break) {
        @include section-divider(bottom);
    }


    &.block {
        position: relative;

        ul {
            position: static;
        }
    }

    &.flush {
        padding-left: 0;
        padding-right: 0;

        ul {
            @include break-at($medium-break) {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }

    &.transparent-bg {
        background-color: transparent;
    }

    .delimeter {
        content: "\f054";
        font-weight: 100;
        font-size: 0.7vw;
        padding: 0;
        line-height: 0;
        vertical-align: middle;
        color: $copy-color;
    }

    ul {
        @include col;

        list-style: none;
        overflow: auto;
        white-space: nowrap;

        @include break-at($medium-break) {
            position: absolute;
        }


        @include break-max-at($medium-break) {
            padding: 20px;
            margin-bottom: 0;
        }


        li {
            display: inline-block;
            white-space: nowrap;
            padding: 0 $tiny-gap 0 0;
            margin: 0;
            position: relative;
            color: $copy-color;
            float: left;
            @include break-max-at($medium-break) {
                display: inline;
                float: none;
            }

            @include break-at($medium-break) {}


            &:first-child {
                &:before {
                    display: none !important;
                }

                > a {
                    padding-left: 0;
                }
            }

            &:before {
                content: '\f054';
                text-align: center;
                font-family: 'Fontawesome';
                padding: 0;
                height: 0;
                display: block;
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto;
                color: inherit;
                opacity: 1;
                float: left;
                right: auto;
                padding: 0;
                position: relative;
                height: auto;
                font-size: 9px;
                top: 0;
                bottom: 0;
                line-height: 2.4;
                font-weight: lighter;
                left: -7px;
                padding-right: 0;
                margin: auto;
                @include break-max-at($medium-break) {
                    left: 0;
                }
            }

            a, span {
                background: rgba(0, 0, 0, 0);
                text-decoration: none;
                transition: color, background 0.4s;
                padding: 0 $tiny-gap;
                text-transform: none;
                float: left;
                clear: none;
                font-weight: $normal;

                // font-weight: bold;
                // font-size: 12.5px;
                display: inline-block;

                // text-transform: uppercase;
                // letter-spacing: 1px;

            }

            a:hover {
                color: $secondary-color;
            }

            &.current {
                span {
                    // color: $secondary-color;
                    font-weight: bold;
                    cursor: default;
                }
            }
        }
    }
    + .hero {
        margin-top: 30px;
    }
}