/*-------------------------------------------------------*\
    Collapsible Content
/*-------------------------------------------------------*/

.collapsible-content {
    .content {
        &.open {
            display: block;
        }

        // @include break-at($medium-break) {
        //     display: block!important;
        // }
        // @include break-max-at($medium-break) {
        // display: none;

        // &.open {
        //     display: block;
        // }

        // &.open {
        //     display: block;
        // }
        .child.download {
            padding-left: 8em !important;
        }

        display: none;
    }

    .child, .sub-parent {
        border-bottom: 1.5px solid $divider-color !important;
        padding-left: 3em !important;
    }

    .child {
        &.download {
            > * {
                > a {
                    text-decoration: underline !important;
                }
            }
        }
    }

    .parent {
        > * {
            > a {
                text-decoration: none !important;
            }
        }

        &:before {
            text-indent: -5px;
        }

        &.bg-primary {
            padding-left: 0.5em !important;
        }

        padding-left: 3em !important;

        + .content {
            > * {
                > * {
                    // padding-left: 3em;

                }
            }
        }

        &.trigger {
            color: white;

            a {
                color: inherit;
            }
        }

        &.sub-parent {
            > * {
                > a {
                    text-decoration: none !important;
                }
            }

            color: $primary-color;
        }
    }

    .parent + .content, .content + .content {
        // display: none;

    }

    .trigger {
        a {

                &:before {
                    font-size: 23px;
                    font-family: fontawesome;
                    content: '\f0da';
                }
        }

        &.open {
            a {
                &:before {
                    padding-right: 10px;
                    font-family: fontawesome;
                    content: '\f0d7';
                }
            }
        }
    }

    &.open {
        .trigger {
            &:before {
                font-family: fontawesome;
                content: '\f0d7';
            }
        }
    }
}