/*-----------------------------------------------
    Containers
/*----------------------------------------------*/

.wrapper {
    .contain {
        overflow:hidden;
        padding-left: 0;
        padding-right: 0;
        max-width: $grid-width;
        // background: white;
        @include block-centered();
        p {
            max-width: 680px;
        }
        .banner {
            @include section-divider;
            &:last-child {
                border-bottom: none;
            }
        }
        margin-bottom: $padding-medium;
        &:last-child {
            // margin-bottom: 0;
        }
    }
}