/* Include files recursively... */

footer {
    &.site-footer {
        @include clearfix;

        border-top: 1px solid #cbcccc;

        * {}

        p {
            color: #666766;
            line-height: 3em;
        }

        .copyright {
            > * {
                @include break-at($medium-break) {
                    text-align: right;
                }
                @include break-max-at($medium-break) {
                    font-size: 3.5vw;
                    font-weight: normal;
                    text-align: center;
                }
            }
        }

        nav {
            padding-top: 10px;
            ul {
                list-style: none;
                padding-top: $pgap;

                li {
                    float: left;

                    @include break-at($medium-break) {
                        max-width: 50px;
                    }


                    // @include break-max-at($medium-break) {
                    //     width: 20%;
                    // }

                    &:first-child {
                        @include break-at($medium-break) {
                            margin-right: 15px;
                        }


                        @include break-max-at($medium-break) {
                            margin-right: 15px;
                            clear: right;
                            float: right;
                            position: relative;
                            max-width: 47px;
                        }
                    }

                    * {
                        max-width: 100%;
                    }

                    a {
                        color: #666766;

                        i {
                            max-width: 100%;
                            border: 1px solid white;
                            padding: 1px;
                            line-height: 33px;
                            font-size: 34px;
                            border-radius: 5px;
                            margin: 6px 5px !important;
                            opacity: 0.8;
                        }
                    }
                }
            }
        }
    }
}