/*-------------------------------------------------------*\
    Four-Up
/*-------------------------------------------------------*/

.four-up {
    @include row;
    @include clearfix;
    margin: 0 auto;
    @include break-at($large-break) {
        padding: 0 $padding;
    }
    @include break-max-at($medium-break) {
        // text-align: center;
    }
    &.full {
        // padding: 0;
        >article {}
    }
    >* {
        @include col(3, 6, 12);
        // padding: 0 $gutter-width;
        float: left;
        @include break-max-at($large-break) {
            margin-bottom: $padding-small;
        }
        @include break-at($medium-break) {
            &:first-child {
                &:last-child {
                    margin: 0 auto;
                    float: none;
                    width: percentage(4,12);
                }
            }
            &:nth-child(4n+1) {
                clear: left;
            }
            p {
                max-width: 340px;
            }
        }
    }
}
