/*-----------------------------------------------
    Grid Wrapper
/*----------------------------------------------*/
.grid-wrapper {
    display: grid;
    grid-template-columns: repeat($columns, [col-start] 1fr);
    grid-gap: $gutter-width;

    > * {
        grid-column: (col-start / span) $columns;
    }

    @include break-at($medium-break) {
        aside, .side {
            grid-column: col-start / span 3;
            grid-row: 3;
        }

        .ad {
            grid-column: col-start / span 3;
            grid-row: 4;
        }

        .content, .site-footer {
            grid-column: col-start 4 / span 9;
        }

        nav {
            ul {
                display: flex;
                justify-content: space-between;
            }
        }
    }

    .listing {
        list-style: none;
        margin: 2em;
        display: grid;
        grid-gap: 20px;
        grid-auto-flow: dense;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }

    .listing .wide {
        grid-column-end: span 2;
    }
}