/*-------------------------------------------------------*\
    Header
/*-------------------------------------------------------*/

header {
    &.site-header {
        @include clearfix;
        @include section-divider;

        .support-button {
            z-index: 999;

            @include break-at($medium-break) {
                position: absolute;
                right: 0;
                left: auto;

                // @include break-max-at($small-break) {
                //     right: auto;
                //     left: 1em;
                //     position: fixed;
                // }

                &:hover {
                    border-top: 10px solid $primary-color !important;
                    transition: all 0.25s ease-in-out !important;
                    background-color: $primary-color !important;
                    color: white !important;
                }
            }


            @include break-max-at($small-break) {
                font-size: 4vw;
            }


            @include break-max-at($medium-break) {
                margin: 0 auto;
                float: none !important;
                display: block;
                padding: 11px;
                line-height: 1.7;
                width: auto;
                color: $primary-color;
                background: none !important;

                &:hover {
                    background: none !important;
                    border-color: transparent !important;
                    color: $copy-color !important;
                }
            }
            @include break-max-at($small-break) {
                padding: 3px 0 9px !important;
            }
        }

        .bar {
            min-height: $padding-default;
            background: $lightest-gray;

            @include section-divider;
            @include break-at($medium-break) {
                min-height: $padding-default;
            }
        }

        .the-logo {
            @include break-max-at($large-break) {
                height: auto !important;
                width: auto !important;
                padding-left: 20px !important;
            }

            @include break-max-at($medium-break) {
                padding-left: 0 !important;
                max-width: 25%;
                .logo {
                    img {
                        padding: 0;
                    }
                }
            }
        }

        .the-tagline {
            .tagline {}
        }

        .the-mobile-menu {
            @include break-max-at($medium-break) {
                position: absolute;
                right: 0;
                padding: 0;
            }
        }

        .mobile-trigger {
            text-align: center;
            float: right;
            font-size: em(14px);
            padding-right: 10px;
            padding-left: 10px;

            // margin-right: 10px;
            right: 0;
            font-size: 28px;
            color: $primary-color;
            z-index: 9999999;
            position: relative;
            top: 0;
            bottom: 0;
            margin: auto;
            line-height: 0;
            vertical-align: middle;
            display: grid;
            align-items: center;
            font-size: calc(12px + 2vw);
            text-decoration: none;

            i {
                font-size: inherit;
            }

            @include break-max-at($large-break) {
                text-align: center;
                margin: 0 auto;
                position: relative;
                display: flex;
                padding-right: 2vw;
            }


            @include break-max-at($small-break) {
                // position: absolute;
                // top: 0;
                // bottom: 0;
                // margin: auto;
                // line-height: 3.5em;
                // font-size: 1.3em;
                // padding-right: 0;
            }


            &.active {
                .fa {
                    &:before {
                        content: "\f00d";
                    }
                }
            }

            @include break-at($large-break) {
                display: none;
            }
        }

        .header-content {
            @include row;

            max-width: em(1200px);

            a.search-link {
                text-transform: uppercase;
                color: $secondary-color;
                width: 100px;
                text-align: right;
                padding: 10px;
                display: block;
                float: right;
                font-size: em(13px);

                &:before {
                    font-family: "fontawesome";
                    content: "\f002";
                    padding-right: 3px;
                    font-size: 80%;
                }

                @include break-at($large-break) {
                    display: none;
                }
            }

            .mobile-trigger {
                text-align: center;
                float: right;
                font-size: em(14px);
                margin-bottom: 0;
                margin-right: 10px;
                padding: 10px;

                @include break-at($large-break) {
                    display: none;
                }
            }

            .nav-wrapper {
                @include break-max-at($large-break) {
                    display: none !important;

                    @include clearfix;

                    &.active {
                        display: block !important;
                    }
                }
            }

            .logo-mobile-wrapper {
                .logo-container {
                    > * {
                        @include break-at($small-break) {
                            min-height: 99px;
                        }
                    }
                }

                @include break-max-at($large-break) {
                    @include clearfix;

                    &.active {
                        padding-bottom: 10px;
                        border-bottom: 1px #ddd solid;
                    }

                    .search-link {
                        display: none;
                    }
                }
            }

            nav {
                > ul {
                    margin: 0;

                    @include break-at($large-break) {
                        display: table;
                        height: 42px;
                    }


                    > li {
                        margin-bottom: 0;

                        &.current-menu-item a, &.current-menu-ancestor a {
                            color: $primary-color;
                        }

                        > a {
                            color: $secondary-color;
                            text-transform: uppercase;
                            font-size: em(14px);
                            display: block;
                            padding: 10px;
                            font-family: $sans-serif;

                            @include break-at($large-break) {
                                padding: 30px 10px;
                            }


                            @include break-at($large-break) {
                                padding: 30px 20px;
                            }


                            &:hover {
                                color: $primary-color;
                                text-decoration: none;
                            }
                        }

                        @include break-at($large-break) {
                            display: table-cell;
                            vertical-align: middle;
                        }


                        > ul {
                            display: none;
                        }
                    }
                }
            }

            .primary-nav {
                @include col;

                width: 100%;

                @include break-at($large-break) {
                    width: percentage(5, $columns);
                }


                @include break-max-at($large-break) {
                    padding: 0;
                }


                > ul {
                    margin: 0 auto;
                    position: relative;

                    @include break-at($medium-break) {
                        float: right;
                    }


                    > li {
                        position: static;

                        @include break-at($medium-break) {
                            float: left;
                        }


                        > ul {
                            background: #fff;
                            -webkit-box-shadow: 0px 9px 24px -12px rgba(0, 0, 0, 0.18);
                            -moz-box-shadow: 0px 9px 24px -12px rgba(0, 0, 0, 0.18);
                            box-shadow: 0px 9px 24px -12px rgba(0, 0, 0, 0.18);
                            position: absolute;
                            z-index: 1;
                            border: solid 1px #ddd;
                            border-top: 0;
                            margin: 0;
                            padding: 0;
                            list-style: none;

                            > li {
                                margin: 0;

                                > a {
                                    color: #4a4a4a;
                                    font-weight: $bold;
                                    text-transform: uppercase;
                                    font-size: em(12px);
                                    padding: 10px 15px;
                                    display: block;

                                    &:hover {
                                        background: #f7f7f7;
                                        text-decoration: none;
                                        color: $primary-color;
                                    }
                                }
                            }
                        }

                        &:hover {
                            background: #f7f7f7;

                            > ul {
                                display: block;
                            }
                        }

                        > a {
                            font-weight: $bold;
                        }
                    }
                }
            }

            .utility-nav {
                @include col;

                width: 100%;

                @include break-at($large-break) {
                    width: percentage(5, $columns);
                }


                @include break-at($large-break) {
                    width: percentage(4, $columns);
                }


                @include break-max-at($large-break) {
                    padding: 0;
                }


                > ul {
                    @include break-at($large-break) {
                        float: right;
                    }


                    > li {
                        > a {
                            padding-left: 10px;
                            padding-right: 10px;

                            @include break-at($large-break) {
                                padding-top: 32px;
                                padding-bottom: 32px;
                                font-size: em(12px);
                            }
                        }

                        &.search-link {
                            a {
                                &:before {
                                    font-family: "fontawesome";
                                    content: "\f002";
                                    font-size: 65%;
                                    display: block;
                                    float: left;
                                    margin-top: 4px;
                                    padding-right: 5px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .header-navigation {
            transition: top 0.35s ease-in-out;
            box-shadow: 0 1px 20px rgba(38, 38, 38, 0.05);
            width: 100%;
            height: auto;
            background: #fff;
            z-index: 700;
            position: absolute;
            background: white;

            @include section-divider(bottom);
            @include break-at($large-break) {
                padding: $tiny-gap $gutter-width;
            }


            &.slim {
                top: 0;
                position: fixed;
            }

            &.slim {
                padding-top: 0;
                padding-top: 4px !important;
                padding-bottom: 0;
                z-index: 999990;

                .logo-container {
                    // margin-top: 0px;
                    // margin-bottom: -2px;

                }
            }

            &.collapsed {
                top: -120px !important;
                transition-duration: .475s;

                &:hover {
                    top: 0 !important;
                }

                &:after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    left: 0;
                    height: 50px;
                    background: transparent;
                    top: 100%;
                }
            }

            @include break-max-at($medium-break) {
                // padding-top: $padding-small;
            }


            @include break-max-at($small-break) {
                padding-top: 0;
            }


            .logo {
                // float: left;
                // min-height: 1px;
                // position: relative;
                // width: 100%;
                // padding-left: 20px;
                // padding-right: 20px;
                // width: 87px;
                // height: 87px;
                // background-size: contain;
                // // background-image: url(../img/logo.png);
                // background-position: left center;
                // background-repeat: no-repeat;
                // font-size: 0;
                // display: block;
                // margin-top: 4px;

                // @include break-max-at($small-break) {
                //     display: block;
                //     max-width: 20%;
                // }
                @include break-max-at($medium-break) {
                    padding-left: 15px;
                }


                img {
                    max-height: 103px;
                    padding-top: $gutter-width;
                    padding-bottom: $gutter-width;

                    @include break-max-at($large-break) {
                        // @include vertical-pad();
                    }


                    @include break-at($large-break) {}
                }
            }

            .tagline {
                @extend .h4;

                // line-height: 3.5em;
                line-height: 2.8;
                max-height: 83px;

                // font-weight: $normal;
                font-weight: 300;
                float: left;
                text-align: left;
                padding-left: 0.65em;
                font-size: fontisize(20, pt, em);

                @include break-at($medium-break) {
                    margin-bottom: 0;
                }


                // @include break-max-at($small-break) {
                //     margin-bottom: 0;
                //     line-height: 3.7em;
                //     color: transparent !important;
                // }

                @include break-max-at($large-break) {
                    font-size: 24px;
                    text-align: center;
                    line-height: normal;
                    padding-left: $tiny-gap;
                }


                @include break-max-at($medium-break) {
                    text-align: left;
                    margin-bottom: 0;
                    align-items: center;
                    height: 100%;
                    left: auto;
                    right: auto;
                    top: 0;
                    bottom: 0;
                    display: flex;
                    margin: auto;
                    align-items: center;
                    align-content: center;
                    align-self: center;
                    position: absolute;
                    padding-left: 0;
                    font-size: 1.15em;
                    font-size: 5vw;
                    font-size: calc(14px + 1.8vw);
                    // white-space: nowrap;
                }
            }
        }

        .main-nav-container {
            @include break-max-at($large-break) {
                @include transition(0.4s, all, ease);

                position: relative;
                overflow: visible;
                opacity: 0;
                left: 0;
                width: 100%;
                padding: 25% 20px 0;
                text-align: center;
                height: 0;
                display: block;
                font-size: 150%;
                background: $primary-color;

                &.active {
                    height: 100%;
                    top: 0;
                    overflow: visible;
                    z-index: 99;
                    opacity: 1;
                    display: block;
                }
            }


            @include break-at($large-break) {
                // top: 15px;
                // float: right;
                // overflow: hidden;
                // position: relative;
            }
        }
    }
}