/*-------------------------------------------------------*\
    Load More Wrapper
/*-------------------------------------------------------*/

.loading-container {
    position: relative;
    >* {
        opacity: 1;
        @include transition(opacity, 1s);
    }
    &.loading {
        min-height: 250px;
        .unload {
            opacity: 0;
        }
        >* {
            opacity: 0.5;
        }

        &:before {
            z-index: 999999999999999999;
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            background-image: url(../img/loader.svg);
            background-size: 120px auto;
            background-position: top center;
            background-repeat: no-repeat;
            background-color: transparent;
            margin-top: 7em;
            opacity: 0.6;
        }
    }
}

.loader {
    content: '';
    position: absolute;
    display: none;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 1000000;
    opacity: 0;
    text-align: center;
    padding-top: 100px;
    -webkit-transition: opacity, 0.3s;
    -moz-transition: opacity, 0.3s;
    -o-transition: opacity, 0.3s;
    -ms-transition: opacity, 0.3s;
    transition: opacity, 0.3s;

    // display: inline-block;
    vertical-align: middle;
}

.load-more-wrapper {
    @include transition(0.5s, all);

    &.loading {
        .load-more-trigger {
            opacity: 0.85;
            background: white;
            color: black;
            color: transparent !important;
            position: relative;

            &:after {
                content: 'Loading';
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                color: $soft-gray;
                font: inherit;
                line-height: 2.4em;
            }
        }

        .load-more-content {
            opacity: 0.85;

            &:before {
                content: '';
                position: absolute;
                display: block;
                left: 0;
                top: 0;
                height: 100px;
                width: 100%;
                z-index: 1000000;
                opacity: 1;
                text-align: center;
                padding-top: 25%;
                background-image: url(../img/loader.svg);
                background-repeat: no-repeat;
                background-size: 90px auto;
                background-position: bottom center;
                bottom: 0;
                position: absolute;
                top: auto;
                bottom: 105px;
                z-index: 9999999999999999999999999;
                filter: brightness(0%);
            }
        }

        .load-more-trigger {
            @extend .grayscale;
        }

        &.fixed {
            position: fixed;
        }

        &.loading {
            display: block;
            opacity: 1;
        }
    }
}