/*-------------------------------------------------------*\
    Loop Containers
/*-------------------------------------------------------*/

.loop-container {

    hr {
        opacity: .9;
        border-width: 1px;

        &:last-child {
            display: none;
        }
    }

    &:last-child {
        border-bottom: none;
    }
}

.section-loop {
    .contain {
        margin-bottom: 0;
    }
}