/*-------------------------------------------------------*\
    Main
/*-------------------------------------------------------*/

main {
    padding-top: 120px;
    position: relative;
    overflow: hidden;

    &.flush {
        padding-top: 0;
    }
    @include break-max-at($medium-break) {
        padding-top: 105px;
    }
    @include break-max-at($small-break) {
        padding-top: 22.8vw;
    }
}

body {
    &.no-breadcrumbs {
        main {
            @include break-at($medium-break) {
                padding-top: 100px;
            }
        }
    }
}