/*-------------------------------------------------------*\
    One-three-fourths
/*-------------------------------------------------------*/

.one-three-fourths {
    @include row-inner;
    @include clearfix;
    >* {
        &:first-child {
            @include col(3, 3, 12);
        }
        &:last-child {
            @include col(9, 9, 12);
            &:first-child {
                @include break-at($medium-break) {
                    float:right;
                }
            }
        }
    }
    &.alternate {
        >*:first-child {
            float: right;
            left: 0;
        }
        >*:last-child {
            float: left;
        }
    }
    &.swap {
        >* {
            @include col(9, 9, 12);
            float: right;
        }
        >*:last-child {
            @include col(3, 3, 12);
        }
    }
    @include break-max-at($medium-break) {
        [class*="one-"] {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
    }
}
