/*-------------------------------------------------------*\
    One-two-third
/*-------------------------------------------------------*/

.one-two-third {
    @include row-inner;
    @include clearfix;
    >*:first-child {
        @include col(4, 4, 12);
    }
    >*:last-child {
        @include col(8, 8, 12);
    }
    @include break-max-at($medium-break) {}
    &.alternate {
        >*:first-child {
            float: right;
            left: 0;
        }
        >*:last-child {
            float: left;
        }
    }
    &.swap {
        >*:first-child {
            @include col(8, 8, 12);
        }
        >*:last-child {
            @include col(4, 4, 12);
        }
    }
    [class*="one-"] {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}
