/*-------------------------------------------------------*\
    One-Up
/*-------------------------------------------------------*/

.one-up {
    @include clearfix;

    > * {
        @include col;

        clear: both;
    }

    &.expand {
        @include row-full;

        max-width: 100%;
    }
}

.one-up, .two-up, .three-up, .four-up, .one-two-third, .one-three-fourths {
    @include clearfix;
    @include row;

    .row {
        margin-right: -$gutter-width;
        margin-left: -$gutter-width;
        width: auto;
        max-width: none;
        padding: 0;
    }

    &.inner {
        @include row-inner;
    }

    &.reduce {
        max-width: $grid-inner-width !important;
    }

    > .full {
        width: 100% !important;
    }
    &.condensed {
        padding-left: multiply($gutter-width, 1.5);
        padding-right: multiply($gutter-width, 1.5);
        >* {
            padding-left: divide($gutter-width, 2);
            padding-right: divide($gutter-width, 2);
        }
    }

    > * {
        img {
            @include break-max-at($medium-break) {
                // margin: 0 auto;
                display: block;
            }
        }

        p {
            @include break-at($medium-break) {
                max-width: $copy-block-width;
                clear: right;
                display: block;
            }
        }

        h1, h2, h3, h4, h5, h6, p {
            @include break-max-at($medium-break) {
                // max-width: $copy-block-width;
                margin-left: auto;
                margin-right: auto;
            }
            &:first-child {
                @include break-max-at($medium-break) {
                    max-width: 100%;
                }
            }
        }

        &.accordion-item {
            p {
                @include break-at($medium-break) {
                    display: none;
                }
            }
        }

        .one-up, .two-up, .three-up, .four-up, .one-two-third, .one-three-fourths {
            margin-right: -$gutter-width;
            margin-left: -$gutter-width;
            padding-left: 0;
            padding-right: 0;
            // @include break-at($medium-break) {
            //         margin: 0 negative($gutter-width);
            // }
            > * {
                @include break-max-at($medium-break) {
                    padding-left: 0;
                    padding-right: 0;

                    margin-bottom: 25px;
                }
            }
        }
    }

    table {
        td {
            padding: 0;

            @include break-max-at($medium-break) {
                padding: 0;
                width: 50%;
                display: inline-block;
                border: none;
                text-align: center;

                &:nth-child(odd) {
                    &:last-child {
                        width: 100%;
                    }
                }

                img {
                    width: auto;
                    height: auto;
                    max-height: 50px;

                    @include break-max-at($medium-break) {
                        height: 40px;
                        max-width: none;
                    }
                }
            }
        }
    }

    &.ruled {
        > * {
            border-bottom: 1px solid #ddd;
            padding-bottom: 25px;
            margin-bottom: 25px;

            &:last-child {
                border-bottom: none;
            }
        }
    }
}