/*-------------------------------------------------------*\
    Post Header
/*-------------------------------------------------------*/

.post-header {
    i {
        &.fa {
            @include break-max-at($medium-break) {
                font-size: 16px;
                padding-right: 5px;
            }
        }
    }
    .small {
        @include break-max-at($medium-break) {
            font-size: 13px;
            lin-height: normal;
        }
    }
}