/*-------------------------------------------------------*\
    Post Module
/*-------------------------------------------------------*/

.posts-module {
    .image-link {
        @include break-at($medium-break) {
            min-height: 400px;
        }
    }
    .row {
        + .row {
            .col.medium-4 {
                &:nth-child(even) {
                    @include break-at($medium-break) {
                        padding-top: $pgap !important;
                    }
                }
            }
        }
    }
}