/*-------------------------------------------------------*\
    Single Post Area
/*-------------------------------------------------------*/

section {
    &.single-post {
        background: white;
        padding-top: $padding-small;

        @include break-at($medium-break) {
            padding-bottom: $padding-medium;
        }


        a {
            color: $primary-color-variant;

            // &[class="internal-link"] {
            // }

        }

        nav {
            a {
                @extend .underscore;
            }
        }

        .sidebar {
            color: $dark-gray;
        }

        > div {
            &:first-child {
                @include break-at($medium-break) {
                    padding-top: 10px;
                }
            }
        }

        article, header {
            > h1 {
                // @extend .h-tag;

                color: $primary-color-variant;

                + h2 {
                    margin-top: 0;
                }
            }

            > h2 {
                // @extend .h-tag;

                color: $primary-color-variant;
                font-size: $h5-size;
                // font-family: $sans-light;
                line-height: 1.3em;
            }

            p {
                color: $dark-gray;
            }

            > * {
                max-width: 100%;

                @include break-at($medium-break) {
                    max-width: 610px;
                    padding-left: 60px;
                }


                &:last-child {
                    margin: 0;
                }
            }

            > figure img {
                width: 100%;
            }

            .featured-image {
                margin-top: $pgap;
                margin-bottom: $padding-small;
                width: 100%;
                max-width: 100%;
                max-height: 250px;
                overflow: hidden;
                @include break-at($medium-break) {
                    padding-left: 0;
                }
                >img {
                    width: 100%;
                    max-width: 100%;
                }


            }
        }
    }
}