/*-------------------------------------------------------*\
     Slider Styles
/*-------------------------------------------------------*/

.wp1s-slider-wrapper {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 20px;
    .image-link {
        display: block;
    }
}

.wp1s-pager-padding {
    padding-bottom: 170px;
}

.wp1s-slider-wrapper {
    ul, ol {
        margin: 0;
    }

    .bx-wrapper {
        margin: 0 auto;
        max-width: 100% !important;

        li {
            /*width: 25%;*/
        }
    }
}

.wp1s-main-wrapper {
    width: 100%;
    position: relative;
    z-index: 0;

    .bx-wrapper .bx-viewport {
        box-shadow: none;
        border: none;
        left: 0;
        background: none;
        max-height: 544px !important;

        @include break-max-at($medium-break) {
            padding-bottom: 44px !important;

            // min-height: 494px;
        }
    }
}

.wp1s-thumbnail-wrapper .bx-wrapper .bx-viewport {
    box-shadow: none;
    border: none;
    left: 0;
    background: none;

    @include break-at($medium-break) {
        height: 206px!important;
    }
}

.wp1s-main-wrapper {
    &.wp1s-shadow-type-1 {
        &:before {
            z-index: -1;
            position: absolute;
            content: "";
            bottom: 10px;
            left: 20px;
            width: 80%;
            top: 90%;
            max-width: 300px;
            -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
            -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
            -webkit-transform: rotate(-3deg);
            -moz-transform: rotate(-3deg);
            -o-transform: rotate(-3deg);
            -ms-transform: rotate(-3deg);
            transform: rotate(-3deg);
        }

        &:after {
            z-index: -1;
            position: absolute;
            content: "";
            bottom: 10px;
            left: 20px;
            width: 80%;
            top: 90%;
            max-width: 300px;
            -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
            -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
            -webkit-transform: rotate(-3deg);
            -moz-transform: rotate(-3deg);
            -o-transform: rotate(-3deg);
            -ms-transform: rotate(-3deg);
            transform: rotate(-3deg);
            -webkit-transform: rotate(3deg);
            -moz-transform: rotate(3deg);
            -o-transform: rotate(3deg);
            -ms-transform: rotate(3deg);
            transform: rotate(3deg);
            right: 20px;
            left: auto;
        }
    }

    &.wp1s-shadow-type-2 {
        &:before {
            content: "";
            position: absolute;
            z-index: -1;
            -webkit-box-shadow: 0 2px 20px rgba(0, 0, 0, 0.8);
            -moz-box-shadow: 0 2px 20px rgba(0, 0, 0, 0.8);
            box-shadow: 0 2px 20px rgba(0, 0, 0, 0.8);
            top: 50%;
            bottom: 0;
            left: 10px;
            right: 10px;
            -moz-border-radius: 100px / 10px;
            border-radius: 100px / 10px;
        }

        &:after {
            content: "";
            position: absolute;
            z-index: -1;
            -webkit-box-shadow: 0 2px 20px rgba(0, 0, 0, 0.8);
            -moz-box-shadow: 0 2px 20px rgba(0, 0, 0, 0.8);
            box-shadow: 0 2px 20px rgba(0, 0, 0, 0.8);
            top: 50%;
            bottom: 0;
            left: 10px;
            right: 10px;
            -moz-border-radius: 100px / 10px;
            border-radius: 100px / 10px;
            right: 10px;
            left: auto;
            -webkit-transform: skew(8deg) rotate(3deg);
            -moz-transform: skew(8deg) rotate(3deg);
            -ms-transform: skew(8deg) rotate(3deg);
            -o-transform: skew(8deg) rotate(3deg);
            transform: skew(8deg) rotate(3deg);
        }
    }

    .wp1s-slider-container ul li {
        position: relative;
    }
}

/*-----------slider-caption-styling-------*/

.wp1s-caption-wrapper {
    position: absolute;

    &.wp1s-caption-type-1 .wps1-readmore-button {
        padding: 10px $body-copy-size;
        background-color: $dark-overlay;
        font-size: 14px;
        font-weight: 400;
        font-family: $brand-font;
        color: #ffffff;
        line-height: 1.8 !important;
        display: inline-block;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        margin-top: 10px;
        box-shadow: 0 2px 0 $dark-overlay;
        -webkit-box-shadow: 0 2px 0 $dark-overlay;
        -moz-box-shadow: 0 2px 0 $dark-overlay;
        border: none;

        &:hover {
            background-color: #08a39d;
        }
    }

    .wp1s-caption-title, .wp1s-caption-content {
        margin: 5px 0;
        color: #ffffff;
    }

    @include break-max-at($medium-break) {
        h1.wp1s-caption-title {
            font-size: 6.4vw !important;
            line-height: normal !important;
        }

        h2.wp1s-caption-content {
            display: none !important;
        }
    }


    &.wp1s-caption-middleleft, &.wp1s-caption-middlecenter, &.wp1s-caption-middleright {
        top: 50%;
        transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
    }

    &.wp1s-caption-topleft, &.wp1s-caption-topcenter, &.wp1s-caption-topright {
        top: 0;
        margin-top: 30px;
    }

    &.wp1s-caption-bottomleft, &.wp1s-caption-bottomcenter, &.wp1s-caption-bottomright {
        top: auto;
        bottom: 0;
        margin-bottom: 30px;
    }

    &.wp1s-caption-topleft, &.wp1s-caption-middleleft, &.wp1s-caption-bottomleft {
        left: 0;
        margin-left: 55px;
        margin-right: 55px;
    }

    &.wp1s-caption-type-4 {
        &.wp1s-caption-topleft, &.wp1s-caption-middleleft, &.wp1s-caption-bottomleft {
            max-width: 80%;
        }
    }

    &.wp1s-caption-middleleft .wp1s-caption-title, &.wp1s-caption-topleft .wp1s-caption-title, &.wp1s-caption-bottomleft .wp1s-caption-title {
        max-width: 80%;
    }

    &.wp1s-caption-middleleft .wp1s-caption-content, &.wp1s-caption-topleft .wp1s-caption-content, &.wp1s-caption-bottomleft .wp1s-caption-content {
        max-width: 90%;
    }

    &.wp1s-caption-topcenter, &.wp1s-caption-middlecenter, &.wp1s-caption-bottomcenter {
        left: 50%;
        width: 80%;
        margin-left: -40%;
        text-align: center;
    }

    &.wp1s-caption-topright, &.wp1s-caption-middleright, &.wp1s-caption-bottomright {
        right: 0;
        margin-left: 55px;
        margin-right: 55px;
        text-align: right;
        max-width: 80%;
    }

    &.wp1s-caption-type-1 {
        .wp1s-caption-title {
            text-transform: capitalize;
            font-size: 18px;
            font-weight: 700;
            line-height: 0.9;
            font-family: $brand-font;
        }

        .wp1s-caption-content {
            text-transform: none;
            font-size: 40px;
            font-weight: 700;
            line-height: 1.1;
            font-family: $brand-font;
            margin-top: 10px;
        }
    }

    &.wp1s-caption-type-2 {
        max-width: 60%;
        width: 60%;

        &.wp1s-caption-topcenter, &.wp1s-caption-middlecenter, &.wp1s-caption-bottomcenter {
            margin-left: -30%;
        }
    }

    &.wp1s-caption-type-3 {
        &.wp1s-caption-topcenter, &.wp1s-caption-middlecenter, &.wp1s-caption-bottomcenter {
            margin-left: -30%;
        }
    }

    &.wp1s-caption-type-2 {
        .wp1s-caption-title {
            font-size: 40px;
            font-family: $brand-font;
            font-weight: 700;
            background-color: rgba(125, 165, 82, 0.8);
            padding: 15px;
            text-transform: none;
            display: inline-block;
            line-height: 1.8 !important;
        }

        .wp1s-caption-content {
            font-size: 20px;
            font-family: $brand-font;
            font-weight: 400;
            line-height: 1.8 !important;
        }

        .wps1-readmore-button {
            display: none;
        }
    }

    &.wp1s-caption-type-3 {
        .wps1-readmore-button {
            display: none;
        }

        max-width: 70%;

        &.wp1s-caption-middlecenter, &.wp1s-caption-bottomcenter {
            width: 60%;
            margin-left: -30%;
        }

        .wp1s-caption-title {
            font-size: 60px;
            font-family: $brand-font;
            font-weight: 600;
            line-height: 1.8 !important;
            text-transform: none;
            border-bottom: 7px solid #2ed1ff;
            display: inline-block;
        }

        .wp1s-caption-content {
            font-size: 24px;
            font-family: $brand-font;
            font-weight: 400;
            line-height: 0.8;
        }
    }

    &.wp1s-caption-type-4 {
        font-family: $brand-font;
        background-color: rgba(124, 118, 118, 0.6);
        padding: 20px;
        text-align: center;

        > * {
            @include break-at($medium-break) {
                text-align: left !important;
            }


            &:last-child {
                @include break-at($medium-break) {
                    text-align: center !important;
                }
            }
        }

        .wp1s-caption-title {
            font-size: 25px !important;
            line-height: 1.8 !important;
            max-width: 100%;
            margin: 0;
            font-weight: 400;

            @include break-max-at($medium-break) {
                font-weight: $light;
            }
        }

        .wp1s-caption-content {
            font-size: $body-copy-size !important;
            line-height: 1.8 !important;
            text-transform: none;
            max-width: 100%;
            font-weight: 300;
        }

        .wps1-readmore-button {
            font-size: 14px;
            line-height: 0.9;
            color: #ffffff;
            border: 1px solid #ffffff;
            padding: 8px 15px;
            display: inline-block;
            margin-top: 10px;
            box-shadow: none;

            &:hover {
                background-color: #ffffff;
                color: rgb(124, 118, 118);
            }
        }

        &.wp1s-caption-topcenter, &.wp1s-caption-middlecenter, &.wp1s-caption-bottomcenter {
            width: 50%;
            margin-left: -25%;
        }
    }
}

/*---Video-caption---*/

.wp1s-video-caption {
    font-size: 22px;
    font-family: $brand-font;
    color: #ffffff;
    background-color: #000000;
    padding: 5px 20px;
    line-height: 1.2;
}

/*---arrow-variation-styling----*/

.wp1s-main-wrapper {
    .bx-wrapper .bx-controls-direction a {
        display: inline-block;
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        border-bottom: none;
    }

    .wp1s-arrow-type-1 .bx-wrapper {
        .bx-prev {
            background: url("/wp-content/plugins/wp-1-slider/images/arrow/arrow-type-1.png") no-repeat 0 0;
            width: 25px;
            height: 40px;
            left: 0;
            opacity: 0;
        }

        .bx-next {
            background: url("/wp-content/plugins/wp-1-slider/images/arrow/arrow-type-1.png") no-repeat -43px 0;
            width: 25px;
            height: 40px;
            right: 0;
            opacity: 0;
        }

        &:hover {
            .bx-prev {
                left: 15px;
                opacity: 1;
            }

            .bx-next {
                right: 15px;
                opacity: 1;
            }
        }

        .bx-controls-direction a {
            margin-top: -20px;
        }
    }

    .wp1s-arrow-type-2 .bx-wrapper {
        .bx-prev {
            background: url("/wp-content/plugins/wp-1-slider/images/arrow/arrow-type-2.png") no-repeat 0 0;
            width: 22px;
            height: 83px;
            left: 0;
        }

        .bx-next {
            background: url("/wp-content/plugins/wp-1-slider/images/arrow/arrow-type-2.png") no-repeat -40px 0;
            width: 22px;
            height: 83px;
            right: 0;
        }

        .bx-controls-direction a {
            margin-top: -40px;
            opacity: 0;
            transition: none;
            -webkit-transition: none;
            -moz-transition: none;
        }

        &:hover {
            .bx-prev, .bx-next {
                opacity: 1;
            }
        }

        .bx-prev:hover {
            background: url("/wp-content/plugins/wp-1-slider/images/arrow/arrow-type-2.png") no-repeat 0 -90px;
        }

        .bx-next:hover {
            background: url("/wp-content/plugins/wp-1-slider/images/arrow/arrow-type-2.png") no-repeat -40px -90px;
        }
    }

    .wp1s-arrow-type-3 .bx-wrapper {
        .bx-prev {
            background: url("/wp-content/plugins/wp-1-slider/images/arrow/arrow-type-3.png") no-repeat 0 0;
            width: 51px;
            height: 50px;
            left: 0;
        }

        .bx-next {
            background: url("/wp-content/plugins/wp-1-slider/images/arrow/arrow-type-3.png") no-repeat -56px 0;
            width: 51px;
            height: 50px;
            right: 0;
        }

        .bx-controls-direction a {
            margin-top: -25px;
            opacity: 0;
            transition: none;
            -webkit-transition: none;
            -moz-transition: none;
        }

        &:hover {
            .bx-prev, .bx-next {
                opacity: 1;
            }
        }

        .bx-prev:hover {
            background: url("/wp-content/plugins/wp-1-slider/images/arrow/arrow-type-3.png") no-repeat 0 -55px;
        }

        .bx-next:hover {
            background: url("/wp-content/plugins/wp-1-slider/images/arrow/arrow-type-3.png") no-repeat -56px -55px;
        }
    }

    .wp1s-arrow-type-4 .bx-wrapper {
        .bx-prev {
            background: url("/wp-content/plugins/wp-1-slider/images/arrow/arrow-type-4.png") no-repeat 0 -50px;
            width: 32px;
            height: 32px;
            left: 0;
            margin-left: 15px;
            opacity: 0;
        }

        .bx-next {
            background: url("/wp-content/plugins/wp-1-slider/images/arrow/arrow-type-4.png") no-repeat -94px -50px;
            width: 32px;
            height: 32px;
            right: 0;
            margin-right: 15px;
            opacity: 0;
        }

        &:hover {
            .bx-prev, .bx-next {
                opacity: 1;
            }
        }

        .bx-prev:hover {
            background: url("/wp-content/plugins/wp-1-slider/images/arrow/arrow-type-4.png") no-repeat 0 0;
        }

        .bx-next:hover {
            background: url("/wp-content/plugins/wp-1-slider/images/arrow/arrow-type-4.png") no-repeat -94px 0;
        }
    }

    .wp1s-arrow-type-5 .bx-wrapper {
        // .bx-prev {
        //     // background: url(../img/slideshow-arrow-sprite.png) no-repeat -42px 0 !important;
        //     width: 43px;
        //     height: 48px;
        //     left: -25px;
        //     z-index: 99999 !important;
        //     opacity: 1 !important;

        //     @include break-max-at($medium-break) {
        //         left: 0 !important;

        //         // transform: scale(0.7);
        //         font-weight: bold;
        //     }


        //     &:hover {
        //         opacity: 1 !important;
        //         filter: saturate(150%) !important;
        //         padding: 16px 20px;
        //         text-align: center;
        //     }
        // }

        // .bx-next {
        //     background: url("../img/slideshow-arrow-sprite.png") no-repeat -96px 0 !important;
        //     width: 43px;
        //     height: 48px;
        //     right: -25px;
        //     z-index: 99999 !important;
        //     opacity: 1 !important;

        //     @include transition;

        //     @include break-max-at($medium-break) {
        //         right: 0 !important;
        //         opacity: .85 !important;
        //     }


        //     &:hover {
        //         // opacity: 0.9 !important;
        //         opacity: 1 !important;
        //         // filter: saturate(180%) !important;
        //     }
        // }


    }

    // .wp1s-arrow-type-6 .bx-wrapper {
    //     .bx-prev {
    //         background: url("/wp-content/plugins/wp-1-slider/images/arrow/arrow-type-6.png") no-repeat 0 0;
    //         width: 50px;
    //         height: $bar-height;;
    //         left: 0;
    //         opacity: 0;
    //     }

    //     .bx-next {
    //         background: url("/wp-content/plugins/wp-1-slider/images/arrow/arrow-type-6.png") no-repeat -70px 0;
    //         width: 50px;
    //         height: $bar-height;;
    //         right: 0;
    //         opacity: 0;
    //     }

    //     &:hover {
    //         .bx-prev, .bx-next {
    //             opacity: 1;
    //         }
    //     }

    //     .bx-controls-direction a {
    //         margin-top: -27px;
    //     }
    // }

    // .wp1s-arrow-type-7 .bx-wrapper {
    //     .bx-prev {
    //         background: url("/wp-content/plugins/wp-1-slider/images/arrow/arrow-type-7.png") no-repeat 0 0;
    //         width: 40px;
    //         height: 40px;
    //         left: 0;
    //         margin-left: 10px;
    //     }

    //     .bx-next {
    //         background: url("/wp-content/plugins/wp-1-slider/images/arrow/arrow-type-7.png") no-repeat -50px 0;
    //         width: 40px;
    //         height: 40px;
    //         right: 0;
    //         margin-right: 10px;
    //     }

    //     .bx-controls-direction a {
    //         margin-top: -20px;
    //         opacity: 0;
    //         transition: none;
    //     }

    //     &:hover {
    //         .bx-prev, .bx-next {
    //             opacity: 1;
    //         }
    //     }

    //     .bx-prev:hover {
    //         background: url("/wp-content/plugins/wp-1-slider/images/arrow/arrow-type-7.png") no-repeat 0 -50px;
    //     }

    //     .bx-next:hover {
    //         background: url("/wp-content/plugins/wp-1-slider/images/arrow/arrow-type-7.png") no-repeat -50px -50px;
    //     }
    // }

    // .bx-wrapper .bx-pager {
    //     bottom: 20px;

    //     &.bx-default-pager a {
    //         box-shadow: none;
    //         -webkit-box-shadow: none;
    //         -moz-box-shadow: none;
    //         border-bottom: none;
    //     }
    // }
}

/*---pager-varition-style----*/

// .wp1s-thumbnail-wrapper .bx-wrapper .bx-controls-direction a {
//     box-shadow: none;
//     -webkit-box-shadow: none;
//     -moz-box-shadow: none;
//     border-bottom: none;
// }

// .wp1s-main-wrapper {
//     .wp1s-pager-type-1 .bx-wrapper .bx-pager.bx-default-pager a {
//         background-color: #ffffff;

//         &:hover, &.active {
//             background-color: #3bb1f4;
//         }
//     }

//     .wp1s-pager-type-2 .bx-wrapper .bx-pager.bx-default-pager a {
//         background-color: #635e5e;
//         border: 3px solid #979191;
//         height: 16px;
//         width: 16px;
//         border-radius: 50%;
//         -webkit-border-radius: 50%;
//         -moz-border-radius: 50%;

//         &:hover, &.active {
//             background-color: #ffffff;
//         }
//     }

//     .wp1s-pager-type-3 .bx-wrapper .bx-pager.bx-default-pager a {
//         background-color: transparent;
//         border: 1px solid #ffffff;
//         height: 16px;
//         width: 16px;
//         border-radius: 50%;
//         -webkit-border-radius: 50%;
//         -moz-border-radius: 50%;

//         &:hover, &.active {
//             border-color: #ff9600;
//         }
//     }

//     .wp1s-pager-type-4 .bx-wrapper .bx-pager.bx-default-pager a {
//         background-color: #7a7a7a;
//         height: 5px;
//         width: 60px;
//         border-radius: 0;
//         -webkit-border-radius: 0;
//         -moz-border-radius: 0;

//         &:hover, &.active {
//             background-color: #ffffff;
//         }
//     }

//     .wp1s-pagination .bx-pager.bx-default-pager {
//         color: #ffffff;
//         font-size: 15px;
//         font-weight: 400;
//     }
// }

/*---thumbnail-variation-style---*/

.wp1s-thumbnail-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    .wp1s-bxslider-pager a {
        z-index: 9;
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
    }

    &.wp1s-thumbnail-type-1 {
        margin-bottom: 70px;
    }
}

/*  Padding issue fixed n update  */

.wp1s-slider-wrapper {
    &.wp1s-pager-padding {
        padding-bottom: 0;

        .wp1s-thumbnail-wrapper.wp1s-thb-arrow-type-1 {
            position: relative;
            margin-bottom: 7px;
        }

        .wp1s-main-wrapper {
            margin-bottom: 3px;
        }

        .wp1s-thumbnail-wrapper {
            position: relative !important;
            margin-bottom: $pgap;
            background: white;
            border-top: 5px solid white;
            border-bottom: none;
            border-left: none;
            border-right: none;
            float: none;

            &.wp1s-thb-arrow-type-2 {
                position: relative;
                margin-bottom: 20px;
                margin-top: -25px;
            }

            // &.wp1s-thb-arrow-type-3 {
            //     // position: absolute;
            //     margin-bottom: 25px;
            //     background: white;
            //     border-top: 12px solid white;
            //     border-bottom: 80px solid white;
            //     border-left: 2px solid white;
            //     border-right: 2px solid white;
            //     float: none;
            //     margin-bottom: 0;
            //     bottom: -25px;
            // }

            &.wp1s-thb-arrow-type-4 {
                position: absolute;
                margin-bottom: 0px;
            }

            &.wp1s-thb-arrow-type-5 {
                position: relative;
                margin-bottom: 20px;
            }

            &.wp1s-thb-arrow-type-6 {
                position: absolute;
                margin-bottom: 20px;
            }

            &.wp1s-thb-arrow-type-7, &.wp1s-thb-arrow-type-8 {
                position: relative;
                margin-bottom: 20px;
            }

            &.wp1s-thb-arrow-type-9 {
                position: relative;
                margin-top: -120px;
                margin-bottom: 18px;
            }

            &.wp1s-thb-arrow-type-10 {
                position: relative;
                margin-bottom: 20px;
            }
        }
    }

    .wp1s-slider-container {
        background: #fff;
    }
}

/* Update end */

.wp1s-thumbnail-wrapper {
    &.wp1s-thumbnail-type-1 {
        .bx-wrapper {
            .bx-controls-direction a {
                margin-top: -12px;
                opacity: 0;
            }

            &:hover a {
                opacity: 1;
            }
        }

        .bx-viewport {
            width: 100%;
            overflow: hidden;
            position: relative;
            height: auto !important;

            .wp1s-bxslider-pager {
                translate: none !important;

                a {
                    &:after {
                        content: '';
                        position: absolute;
                        background: rgba(255, 255, 255, 0.3);
                        width: 100%;
                        height: 100%;
                        z-index: 1;
                        top: 0;
                        transition: all 0.3s ease-out;
                        -webkit-transition: all 0.3s ease-out;
                        -moz-transition: all 0.3s ease-out;
                    }

                    &:before {
                        content: '';
                        position: absolute;
                        height: 3px;
                        background-color: #3bb1f4;
                        z-index: 1;
                        left: 50%;
                        right: 50%;
                        top: 0;
                        -webkit-transition-property: left, right;
                        transition-property: left, right;
                        -webkit-transition-duration: 0.3s;
                        transition-duration: 0.3s;
                        -webkit-transition-timing-function: ease-out;
                        transition-timing-function: ease-out;
                    }

                    &:hover:after, &:focus:after, &.active:after {
                        background: rgba(255, 255, 255, 0);
                    }

                    &:hover:before, &:focus:before, &.active:before {
                        left: 0;
                        right: 0;
                    }
                }

                li, a {
                    max-width: none !important;
                    width: 275px !important;
                    height: auto !important;
                    float: left !important;
                    position: relative !important;
                }
            }
        }
    }

    // &.wp1s-thb-arrow-type-1 .bx-wrapper {
    //     .bx-prev {
    //         background: url("/wp-content/plugins/wp-1-slider/images/arrow/thumb-arrow-1.png") no-repeat 0 0;
    //         width: 14px;
    //         height: 24px;
    //     }

    //     .bx-next {
    //         background: url("/wp-content/plugins/wp-1-slider/images/arrow/thumb-arrow-1.png") no-repeat -70px 0;
    //         width: 14px;
    //         height: 24px;
    //     }
    // }

    // &.wp1s-thumbnail-type-2 {
    //     .bx-wrapper .bx-viewport {
    //         padding-top: 8px;
    //     }

    //     margin-bottom: 92px;

    //     .wp1s-bxslider-pager {
    //         overflow: visible;

    //         li {
    //             position: relative;
    //             z-index: 9;
    //             margin-right: 9px !important;

    //             &:first-child {
    //                 margin-left: 0 !important;
    //             }
    //         }
    //     }
    // }

    // &.wp1s-thumbnail-type-3 .wp1s-bxslider-pager li, &.wp1s-thumbnail-type-4 .wp1s-bxslider-pager li {
    //     position: relative;
    //     z-index: 9;
    // }

    // &.wp1s-thumbnail-type-2 .wp1s-bxslider-pager a:after, &.wp1s-thumbnail-type-3 .wp1s-bxslider-pager a:after, &.wp1s-thumbnail-type-4 .wp1s-bxslider-pager a {
    //     &:after {
    //         content: '';
    //         position: absolute;
    //         background-color: rgba(white, 0);
    //         top: 0;
    //         width: 100%;
    //         height: 100%;
    //         z-index: 1;

    //         @include transition(all 0.3s ease-out);

    //         left: 0;
    //         right: 0;
    //     }

    //     &:hover {
    //         &:after {
    //             background-color: rgba(white, 0.3);
    //         }
    //     }
    // }

    // &.wp1s-thumbnail-type-3 .wp1s-bxslider-pager a:after, &.wp1s-thumbnail-type-4 .wp1s-bxslider-pager a {
    //     &:after {
    //         background-color: transparent;
    //         width: 100%;
    //         left: 0;
    //         top: 0;
    //         right: 0;
    //         bottom: 0;
    //         outline: 3px solid transparent;
    //         width: auto;
    //         z-index: 999999;
    //         height: auto;
    //         margin: 6px;
    //     }

    //     &:hover {
    //         &:after {
    //             background-color: rgba(white, 0.2);
    //             border-color: white;
    //         }
    //     }

    //     &.active {
    //         border-color: $primary-color;
    //     }
    // }

    // &.wp1s-thumbnail-type-2 .wp1s-bxslider-pager a {
    //     &:hover:after, &:focus:after, &.active:after {
    //         background-color: transparent;
    //     }
    // }

    // &.wp1s-thumbnail-type-3 .wp1s-bxslider-pager a {
    //     &:hover:after, &:focus:after, &.active:after {
    //         background-color: transparent;
    //     }
    // }

    // &.wp1s-thumbnail-type-4 .wp1s-bxslider-pager a {
    //     &:hover:after, &:focus:after, &.active:after {
    //         background-color: transparent;
    //     }
    // }

    // &.wp1s-thumbnail-type-2 .wp1s-bxslider-pager {
    //     li a.active img {
    //         box-shadow: 0 -3px 0 #cd1818;
    //         -webkit-box-shadow: 0 -3px 0 #cd1818;
    //         -moz-box-shadow: 0 -3px 0 #cd1818;
    //     }

    //     a.active:before {
    //         content: '';
    //         position: absolute;
    //         border-width: 5px;
    //         border-style: solid;
    //         border-color: transparent transparent #cd1818 transparent;
    //         top: 0;
    //         left: 50%;
    //         margin-left: -2px;
    //         margin-top: -13px;
    //     }
    // }

    // &.wp1s-thb-arrow-type-2 .bx-wrapper {
    //     .bx-controls-direction a {
    //         top: 8px;
    //         bottom: 0;
    //         margin-top: 0;
    //         height: auto;
    //         padding: 10px;
    //         background-color: rgba(255, 255, 255, 0.57);
    //     }

    //     .bx-prev {
    //         background: url("/wp-content/plugins/wp-1-slider/images/arrow/thumb-arrow-2.png") no-repeat 7px center;
    //         width: 9px;
    //         left: 0;
    //     }

    //     .bx-next {
    //         background: url("/wp-content/plugins/wp-1-slider/images/arrow/thumb-arrow-2.png") no-repeat -55px center;
    //         width: 9px;
    //         right: 0;
    //     }
    // }

    // &.wp1s-thumbnail-type-3 {
    //     margin-bottom: 190px;

    //     .wp1s-bxslider-pager a {
    //         img {
    //             border: 7px solid transparent;
    //         }

    //         &.active {
    //             img {
    //                 border-color: $primary-color;
    //             }
    //         }

    //         &:hover {
    //             filter: brightness(115%);
    //         }
    //     }
    // }

    // // &.wp1s-thumbnail-type-4 .wp1s-bxslider-pager a img {
    // //     border: 4px solid $primary-color;
    // // }

    // &.wp1s-thb-arrow-type-3 .bx-wrapper {
    //     .bx-controls-direction a {
    //         margin-top: -10px;
    //     }

    //     .bx-prev {
    //         background: url("/wp-content/plugins/wp-1-slider/images/arrow/thumb-arrow-3.png") no-repeat 0 center;
    //         width: 14px;
    //         height: 21px;
    //         left: 0;
    //         margin-left: 10px;
    //         opacity: 0;
    //     }

    //     .bx-next {
    //         background: url("/wp-content/plugins/wp-1-slider/images/arrow/thumb-arrow-3.png") no-repeat -60px center;
    //         width: 14px;
    //         height: 21px;
    //         right: 0;
    //         margin-right: 10px;
    //         opacity: 0;
    //     }
    // }

    // &.wp1s-thumbnail-type-4 {
    //     padding: 10px 20px;
    //     background-color: transparent;
    //     margin-bottom: 170px;
    // }

    // &.wp1s-thb-arrow-type-4 .bx-wrapper {
    //     .bx-prev {
    //         background: url("/wp-content/plugins/wp-1-slider/images/arrow/thumb-arrow-4.png") no-repeat 0 center;
    //         width: 16px;
    //         height: 24px;
    //         left: 0;
    //         margin-left: -18px;
    //         opacity: 0;
    //     }

    //     .bx-next {
    //         background: url("/wp-content/plugins/wp-1-slider/images/arrow/thumb-arrow-4.png") no-repeat -60px center;
    //         width: 16px;
    //         height: 24px;
    //         right: 0;
    //         margin-right: -18px;
    //         opacity: 0;
    //     }

    //     .bx-controls-direction a {
    //         margin-top: -12px;
    //     }
    // }

    // &.wp1s-thb-arrow-type-6 .bx-wrapper .bx-controls-direction a, &.wp1s-thb-arrow-type-9 .bx-wrapper .bx-controls-direction a {
    //     margin-top: -12px;
    // }

    &.wp1s-thb-arrow-type-3 .bx-wrapper:hover {
        .bx-prev, .bx-next {
            opacity: 1;
        }
    }

    &.wp1s-thb-arrow-type-4:hover {
        .bx-prev, .bx-next {
            opacity: 1;
        }
    }

    &.wp1s-thumbnail-type-4 .wp1s-bxslider-pager a.active:before {
        content: '';
        position: absolute;
        border-width: 10px;
        border-style: solid;
        border-color: #ffffff transparent transparent transparent;
        top: 0;
        left: 50%;
        margin-left: -10px;
        z-index: 1;
    }

    &.wp1s-thumbnail-type-5 .bx-wrapper, &.wp1s-thumbnail-type-6 .bx-wrapper, &.wp1s-thumbnail-type-7 .bx-wrapper, &.wp1s-thumbnail-type-8 .bx-wrapper, &.wp1s-thumbnail-type-9 .bx-wrapper, &.wp1s-thumbnail-type-10 .bx-wrapper {
        position: static;
    }

    &.wp1s-thumbnail-type-5 .wp1s-bxslider-pager li img, &.wp1s-thumbnail-type-6 .wp1s-bxslider-pager li img, &.wp1s-thumbnail-type-7 .wp1s-bxslider-pager li img {
        border: 5px solid #ffffff;
        border-radius: 100%;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        transition: all 0.3s ease-out;
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        overflow: hidden;
    }

    &.wp1s-thumbnail-type-10 .wp1s-bxslider-pager li img {
        border: 5px solid #e1e0e0;
        border-radius: 100%;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        transition: all 0.3s ease-out;
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        overflow: hidden;
    }

    &.wp1s-thumbnail-type-5 .wp1s-bxslider-pager li a {
        &:hover img, &.active img {
            border-color: #2ed1ff;
        }
    }

    &.wp1s-thumbnail-type-6 .wp1s-bxslider-pager li a {
        &:hover img, &.active img {
            border-color: #2ed1ff;
        }
    }

    &.wp1s-thumbnail-type-10 .wp1s-bxslider-pager li a {
        &:hover img, &.active img {
            border-color: #ffffff;
        }
    }

    &.wp1s-thb-arrow-type-5 .bx-wrapper {
        .bx-prev {
            background: url("/wp-content/plugins/wp-1-slider/images/arrow/thumb-arrow-5.png") no-repeat 0 center;
            width: 16px;
            height: 30px;
            left: 0;
            margin-left: 20px;
        }

        .bx-next {
            background: url("/wp-content/plugins/wp-1-slider/images/arrow/thumb-arrow-5.png") no-repeat -70px center;
            width: 16px;
            height: 30px;
            right: 0;
            margin-right: 20px;
        }

        .bx-controls-direction a {
            margin-top: -15px;
        }
    }

    &.wp1s-thumbnail-type-6 {
        margin-bottom: 190px;
    }

    &.wp1s-thb-arrow-type-6 .bx-wrapper {
        .bx-prev {
            background: url("/wp-content/plugins/wp-1-slider/images/arrow/thumb-arrow-6.png") no-repeat 0 center;
            width: 16px;
            height: 24px;
            left: 0;
            margin-left: 20px;
        }

        .bx-next {
            background: url("/wp-content/plugins/wp-1-slider/images/arrow/thumb-arrow-6.png") no-repeat -60px center;
            width: 16px;
            height: 24px;
            right: 0;
            margin-right: 20px;
        }
    }

    &.wp1s-thumbnail-type-6 .bx-wrapper .bx-controls-direction a, &.wp1s-thumbnail-type-9 .bx-wrapper .bx-controls-direction a, &.wp1s-thumbnail-type-10 .bx-wrapper .bx-controls-direction a {
        opacity: 0;
    }

    &.wp1s-thumbnail-type-6 .bx-wrapper:hover a, &.wp1s-thumbnail-type-9 .bx-wrapper:hover a, &.wp1s-thumbnail-type-10 .bx-wrapper:hover a {
        opacity: 1;
    }

    &.wp1s-thb-arrow-type-9 .bx-wrapper {
        .bx-prev {
            background: url("/wp-content/plugins/wp-1-slider/images/arrow/thumb-arrow-9.png") no-repeat 0 center;
            width: 16px;
            height: 24px;
            left: 0;
            margin-left: 20px;
        }

        .bx-next {
            background: url("/wp-content/plugins/wp-1-slider/images/arrow/thumb-arrow-9.png") no-repeat -60px center;
            width: 16px;
            height: 24px;
            right: 0;
            margin-right: 20px;
        }
    }

    &.wp1s-thb-arrow-type-7 .bx-wrapper {
        .bx-prev {
            background: url("/wp-content/plugins/wp-1-slider/images/arrow/thumb-arrow-7.png") no-repeat 0 center;
            width: 32px;
            height: 58px;
            left: 0;
            margin-left: 20px;
        }

        .bx-next {
            background: url("/wp-content/plugins/wp-1-slider/images/arrow/thumb-arrow-7.png") no-repeat -75px center;
            width: 32px;
            height: 58px;
            right: 0;
            margin-right: 20px;
        }

        .bx-controls-direction a {
            margin-top: -29px;
        }
    }

    &.wp1s-thb-arrow-type-8 .bx-wrapper .bx-controls-direction a {
        margin-top: -29px;
    }

    &.wp1s-thb-arrow-type-10 .bx-wrapper .bx-controls-direction a {
        margin-top: -22px;
    }

    &.wp1s-thb-arrow-type-8 .bx-wrapper {
        .bx-prev {
            background: url("/wp-content/plugins/wp-1-slider/images/arrow/thumb-arrow-8.png") no-repeat 0 center;
            width: 32px;
            height: 58px;
            left: 0;
            margin-left: 20px;
        }

        .bx-next {
            background: url("/wp-content/plugins/wp-1-slider/images/arrow/thumb-arrow-8.png") no-repeat -75px center;
            width: 32px;
            height: 58px;
            right: 0;
            margin-right: 20px;
        }
    }

    &.wp1s-thumbnail-type-7 .wp1s-bxslider-pager li a {
        &:after {
            content: '';
            position: absolute;
            background-color: rgba(0, 0, 0, 0.38);
            width: 100%;
            height: 100%;
            top: 0;
            border-radius: 50%;
            border: 5px solid #ffffff;
            transition: all 0.3s ease-out;
            -webkit-transition: all 0.3s ease-out;
            -moz-transition: all 0.3s ease-out;
        }

        &:hover img, &.active img {
            box-shadow: none;
            border-color: #a5a5a5;
        }

        &:hover:after, &.active:after {
            background-color: transparent;
            border-color: #a5a5a5;
        }
    }

    &.wp1s-thumbnail-type-8 .wp1s-bxslider-pager li {
        border-radius: 100%;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        transition: all 0.3s ease-out;
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        overflow: hidden;

        a {
            &:after {
                content: '';
                position: absolute;
                background-color: rgba(0, 0, 0, 0.4);
                width: 91%;
                height: 91%;
                top: 0;
                left: 0;
                margin: 4.7%;
                border-radius: 50%;
                transition: all 0.3s ease-out;
                -webkit-transition: all 0.3s ease-out;
                -moz-transition: all 0.3s ease-out;
                transform: scale(1);
                -webkit-transform: scale(1);
                -moz-transform: scale(1);
            }

            &:hover:after, &.active:after {
                background-color: transparent;
                transform: scale(0);
                -webkit-transform: scale(0);
                -moz-transform: scale(0);
            }
        }
    }

    &.wp1s-thumbnail-type-9 .wp1s-bxslider-pager li {
        img {
            border: 6px solid #e1e0e0;
            border-radius: 100%;
            -webkit-border-radius: 100%;
            -moz-border-radius: 100%;
            transition: all 0.3s ease-in-out;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -webkit-filter: grayscale(90%);
            filter: grayscale(90%);
        }

        a {
            &:hover img, &.active img {
                -webkit-filter: grayscale(0);
                filter: grayscale(0);
            }
        }
    }

    &.wp1s-thb-arrow-type-10 .bx-wrapper {
        .bx-prev {
            background: url("/wp-content/plugins/wp-1-slider/images/arrow/thumb-arrow-10.png") no-repeat 0 center;
            width: 16px;
            height: 44px;
            left: 0;
            margin-left: 20px;
        }

        .bx-next {
            background: url("/wp-content/plugins/wp-1-slider/images/arrow/thumb-arrow-10.png") no-repeat -60px center;
            width: 16px;
            height: 44px;
            right: 0;
            margin-right: 20px;
        }
    }
}

/*.wp1s-thumbnail-wrapper.wp1s-thumbnail-type-9 {
    margin-bottom: 120px;
}*/

.circular-image img {
    width: 150px;
    height: 150px;
    position: relative;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

.img-round {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}

.wp1s-thumbnail-wrapper li a {
    &:focus, &:hover {
        outline: none;
    }
}

/*----widgets-style----*/

.wp1s-widget-wrap {
    .wp1s-slider-wrapper .wp1s-caption-wrapper.wp1s-caption-type-1 {
        .wp1s-caption-title {
            font-size: 18px;
        }

        .wp1s-caption-content {
            font-size: 11px;
        }
    }

    .wp1s-caption-wrapper.wp1s-caption-type-1 .wps1-readmore-button {
        padding: 5px 8px;
        font-size: 8px;
        margin-top: 5px;
    }

    .wp1s-slider-wrapper .wp1s-caption-wrapper {
        &.wp1s-caption-type-2 {
            .wp1s-caption-title {
                font-size: 16px;
                padding: 10px 5px;
            }

            .wp1s-caption-content {
                font-size: 14px;
            }
        }

        &.wp1s-caption-type-3 {
            .wp1s-caption-title {
                font-size: 20px;
                border-bottom: 3px solid #2ed1ff;
            }

            .wp1s-caption-content {
                font-size: 16px;
            }
        }

        &.wp1s-caption-type-4 .wp1s-caption-title {
            font-size: 20px;
        }
    }

    .wp1s-caption-wrapper.wp1s-caption-type-4 {
        padding: 10px;
    }

    .wp1s-slider-wrapper .wp1s-caption-wrapper.wp1s-caption-type-4 .wp1s-caption-content {
        font-size: 12px;
    }

    .wp1s-caption-wrapper.wp1s-caption-type-4 .wps1-readmore-button {
        font-size: 11px;
        padding: 5px 8px;
    }

    .wp1s-thumbnail-wrapper {
        &.wp1s-thb-arrow-type-8 .bx-wrapper .bx-prev, &.wp1s-thb-arrow-type-7 .bx-wrapper .bx-prev {
            width: 25px;
            height: 25px;
            background-size: cover;
        }

        &.wp1s-thb-arrow-type-8 .bx-wrapper .bx-next, &.wp1s-thb-arrow-type-7 .bx-wrapper .bx-next {
            width: 25px;
            height: 25px;
            background-size: cover;
            background-position: -33px center;
        }
    }

    .bx-wrapper {
        max-width: 100% !important;
    }
}

.wp1s-caption-wrapper {}

.bx-controls-direction {
    /*    .bx-prev {
            background: #primary-color !important;

            &:before {
                display: block;
                font-size: 20px;
                content: '<';
            }

            &:hover {
                background: $quaternary-color !important;
            }
        }

        .bx-next {
            background: #primary-color !important;

            &:before {
                display: block;
                font-size: 20px;
                content: '<';
            }

            &:hover {
                background: $quaternary-color !important;
            }
        }
    */
}

.wp1s-bxslider {
    > li {
        position: relative !important;

        .wp1s-caption-wrapper.wp1s-caption-type-4 {
            background: $dark-overlay !important;
            padding: 40px !important;

            @include break-at($medium-break) {
                position: absolute;
                margin: 0 !important;
                bottom: 0 !important;
                top: 0 !important;
                position: absolute !important;
                display: grid !important;
                right: 0 !important;
                left: auto !important;
                overflow: visible;
                align-content: center;
                top: initial !important;
                bottom: auto !important;
                height: 100% !important;
                top: 0 !important;
                transform: none !important;
                width: 33% !important;
                text-align: left !important;
                max-height: 547px;
            }


            @include break-max-at($medium-break) {
                padding: 16px 22px;
                text-align: center;
                height: auto !important;
                padding: 13px !important;
                border: 1px solid white;

                // position: fixed;
                top: 100%;
                width: 100%;
                max-width: none;
                left: 0;
                right: 0;
                margin: auto;
                z-index: 9999999999;
                max-height: none;
                min-height: 100%;
                overflow: scroll;

                * {
                    // font-size: 80% !important;
                    margin-bottom: 1vw !important;
                }
            }


            .wps1-readmore-button {
                display: inline-block !important;
                float: left !important;
                clear: both !important;
                width: auto !important;
                text-decoration: none !important;
            }

            a {
                text-align: center !important;
            }
        }
    }
}

.bx-controls-direction {
    bottom: auto !important;
    position: absolute !important;
    width: 100% !important;
    top: 43% !important;
    @include break-max-at($medium-break) {
        bottom: auto !important;
        position: relative!important;
        width: 100% !important;
        top: 43% !important;
        top: auto!important;
        bottom: 0!important;
        position: absolute;
        width: 100%;
        overflow: visible;
        height: 51px;
        background: $primary-color;
        bottom: auto!important;
        bottom: 100%!important;
        color: white!important;

    }
}

@media (max-width: $medium-break) {
    .wp1s-resposive .wp1s-main-wrapper .wp1s-caption-wrapper.wp1s-caption-type-4 .wps1-readmore-button {
        padding: 5px 10px !important;
        margin: 6.1px auto 5px !important;
        text-align: center !important;
        float: none !important;
        font-size: 18px;
        background: $primary-color;
    }
}

@include break-max-at($small-break) {
    .wp1s-resposive .wp1s-main-wrapper .wp1s-caption-wrapper.wp1s-caption-type-4 .wps1-readmore-button {
        font-size: 3.9vw;
        background: #d54b2a;
        text-transform: uppercase;
    }
}


.wp1s-thumbnail-wrapper ul.wp1s-bxslider-pager > li, .wp1s-thumbnail-wrapper ul.wp1s-bxslider-pager > li > a {
    // width: 290px !important;
    width: 293px !important;
    height: auto !important;
    margin-right: 1px !important;

    img {
        width: 100% !important;
        max-width: none;
    }
}

.bx-wrapper .bx-controls-direction a {
    position: absolute;
    text-indent: -9999px;
    z-index: 99999999999 !important;
    margin-top: 4% !important;

    // filter: brightness(138%);
}

.wp1s-bxslider > li .wp1s-caption-wrapper.wp1s-caption-type-4 {
    @include break-max-at($large-break) {
        width: 100%;
        height: auto !important;
        min-height: 0;
    }


    @include break-max-at($medium-break) {
        width: 100% !important;
        height: auto !important;
        min-height: 0 !important;
        bottom: 0 !important;
        top: auto !important;
        overflow: hidden !important;
    }
}

.wp1s-resposive .wp1s-main-wrapper .wp1s-caption-wrapper.wp1s-caption-type-4 .wp1s-caption-title {
    @include break-max-at($small-break) {
        font-size: 4.3vw !important;
        font-weight: bold !important;
    }
}

/* Custom Slider Navigation */
body .wp1s-main-wrapper .bx-wrapper .bx-controls-direction {
    a {
        // transition: background .2s;
        // -webkit-transition: background .2s;
        // -moz-transition: background .2s;
        // -ms-transition: background .2s;
        transition: left 1s cubic-bezier(0.19, 1, 0.22, 1), right 1s cubic-bezier(0.19, 1, 0.22, 1);
        transition: left 1s cubic-bezier(0.19, 1, 0.22, 1), right 1s cubic-bezier(0.19, 1, 0.22, 1);

        &.bx-prev, &.bx-next {
            background-image: none !important;
            width: 60px;
            height: 60px;
            background: $primary-color !important;
            // border: 1px solid $primary-color;
            top: auto;
            z-index: 8850 !important;
            content: '';
            position: absolute;
            text-indent: 0;
            font-weight: lighter;
            text-align: center;
            padding: 0 !important;
            overflow: hidden;
            margin-top: 4% !important;
            left: auto;
            right: auto;
            // transition: all .25s ease-in-out;
            transition-property: color, background;
            transition-duration: .2s;
            transition-timing-function: ease-in-out;

            &:hover {
                // background: white !important;
                // border-color: $primary-color !important;
                // &:before {
                //     color: $primary-color !important;
                // }
            }

            @include break-max-at($medium-break) {
                background-color: transparent !important;
                width: 35px;
                margin: 0!important;
                line-height: 0!important;
                padding: 0!important;
                top: 0!important;
                position: absolute;
                bottom: 0;
                font-size: 16px!important;

                    margin: 0!important;
                    line-height: 0!important;
                    padding: 0!important;
                    top: 0!important;
                    position: absolute;
                    bottom: 0;
                    font-size: 16px!important;

            }


            &:before {
                display: block;
                width: 100%;
                height: 100%;
                font-size: 3em;
                color: white !important;
                z-index: 99999999999999999 !important;
                left: 0;
                top: 0;
                position: absolute;
                float: left;
                padding: 0;
                text-align: center;
                line-height: 1em;
                right: 0;
                bottom: 0;
                @include transition;

                @include break-max-at($medium-break) {
                    color: white !important;
                    right: 0;
                    font-size: 36px;
                    line-height: normal;
                }
            }
        }

        &.bx-prev {
            left: -30px;

            @include break-max-at($medium-break) {
                left: 0;
            }


            &:before {
                content: '\2039';
            }
            &:hover {
                text-indent: -10px;
            }
        }

        &.bx-next {
            right: -30px;
            left: auto;

            @include break-max-at($medium-break) {
                right: 0;
            }


            &:before {
                content: '\203a';
            }
            &:hover {
                &:before {
                    text-indent: 10px;
                }
            }
        }
    }
}

/* Custom Loader */
.bx-wrapper .bx-loading {
    background-image: url("../img/loader.svg");
    background-position: center center;
    background-size: 90px 90px;
}


.wp1s-slider-wrapper .wp1s-main-wrapper:after, .wp1s-thumbnail-wrapper ul.wp1s-bxslider-pager > li, .wp1s-thumbnail-wrapper ul.wp1s-bxslider-pager > li > a:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 9;
    left: 0;
    top: 0;
    border: 8px solid white;
    box-sizing: border-box;
    box-shadow: 0px 0px 11px rgba(197, 196.9, 197, .2);
    @include break-max-at($medium-break) {
        display: none;
    }
}

.wp1s-slider-wrapper .wp1s-main-wrapper, .wp1s-thumbnail-wrapper ul.wp1s-bxslider-pager > li, .wp1s-thumbnail-wrapper ul.wp1s-bxslider-pager > li > a {
    position: relative!important;
    overflow: visible;
}

.wp1s-slider-wrapper .wp1s-main-wrapper, .wp1s-thumbnail-wrapper ul.wp1s-bxslider-pager > li, .wp1s-thumbnail-wrapper ul.wp1s-bxslider-pager > li {
    border: none;
}

.wp1s-thumbnail-wrapper .bx-wrapper .bx-viewport {
    overflow: visible;
}

.wp1s-thumbnail-wrapper ul.wp1s-bxslider-pager > li, .wp1s-thumbnail-wrapper ul.wp1s-bxslider-pager > li > a {
    width: 294px!important;
}

.wp1s-thumbnail-wrapper ul.wp1s-bxslider-pager > li > a:hover:after {
    background: rgba(255, 255, 255, 0.225);
    transition: all .4s ease;
}

.wp1s-thumbnail-wrapper ul.wp1s-bxslider-pager > li, .wp1s-thumbnail-wrapper ul.wp1s-bxslider-pager > li > a.active:after {
    border-color: $primary-color;
}

.wp1s-slider-wrapper.wp1s-pager-padding .wp1s-main-wrapper {
    margin-bottom: -8px;
    @include break-max-at($medium-break) {
        margin-bottom: em($pgap);
    }
}

.wp1s-caption-wrapper.wp1s-caption-type-4 h1, .wp1s-caption-wrapper.wp1s-caption-type-4 h2, .wp1s-caption-wrapper.wp1s-caption-type-4 a {
    color: white!important;
    line-height: 1!important;
    max-height: 350px!important;
    overflow: hidden;
    z-index: 999999999999;
}

.wp1s-caption-wrapper.wp1s-caption-type-4.wp1s-caption-middleright {
    z-index: 9999999999999;
    position: relative;
}

.wp1s-main-wrapper {
    cursor: pointer !important;
    &:hover {
        .btn {
            background: white !important;
            color: $primary-color !important;
        }
    }
}