/*-------------------------------------------------------*\
    Three-Up
/*-------------------------------------------------------*/

.three-up {
    @include row;
    >* {
        @include col(4, 4, 12);
        @include break-at($medium-break) {
            margin-bottom: 20px;
        }
        &:nth-child(3n+1) {
            clear: left;
        }
        &:first-child:last-child {
            @include break-at($medium-break) {
                left: percentage(4,12);
                width: percentage(5,12);
            }
        }
    }
    +.three-up {
        @include break-at($large-break) {
            padding-top: $padding-small;
        }
    }
}
