/*-------------------------------------------------------*\
    Two-Up
/*-------------------------------------------------------*/

.two-up {
    > * {
        @include col(6, 6, 12);

        &:nth-child(2n+1) {
            clear: left;
        }

        @include break-max-at($medium-break) {
            padding-bottom: $padding-small;

            &:last-child {
                padding-bottom: 0;
            }
        }


        @include break-max-at($medium-break) {}
    }

    // > *:last-child {
    //     float: right;

    //     &:first-child {
    //         width: 100%;
    //     }
    // }

    &:not(.card-group) {
        > *:last-child {
            float: right;

            &:first-child {
                width: 100%;
            }
        }
    }

    &.alternate {
        > *:first-child {
            float: right;
        }

        > *:last-child {
            float: left;
        }
    }

    &.two-down {
        > * {
            @include break-max-at($medium-break) {
                width: 50%;
            }
        }
    }
}