/*-----------------------------------------------
    Grid Wrapper
/*----------------------------------------------*/

%condense-more {
    padding-top: em($pgap);
    padding-bottom: em($pgap);
}

%condense {
    padding-top: $padding-default;
    padding-bottom: $padding-small;
}

%wrapper {
    padding-top: $padding-medium;
    padding-bottom: $padding-default;
    @include break-max-at($medium-break) {
        padding-top: em($pgap);
        padding-bottom: em($pgap);
    }
}

%tiny {
    padding-top: 0;
    padding-bottom: 0;
}

%slim {
    max-width: $grid-inner-width;
}

%pad {
    padding-right: em($pgap);
    padding-left: em($pgap);
}

.wrapper {
    @extend %wrapper;

    > .wrapper {
        &:first-child {
            padding-top: 0;
        }
    }

    &.condense {
        @extend %condense;
        &.more {
            @extend %condense-more;
        }
    }

    &.tiny {
        @extend %tiny;
    }

    &.slim {
        @extend %slim;
    }

    &.pad {
        @extend %pad;
    }

    &.alternate-bg {
        // @extend %alternate;

    }

    > .button:last-child {
        @include break-max-at($medium-break) {
            width: 100%;
        }
    }
}

.wrapper-wrap {
    > * {
        @extend %wrapper;
    }

    &.condense {
        > * {
            @extend %condense;
        }

        &.more {
            > * {
                @extend %condense-more;
            }
        }
    }

    &.tiny {
        > * {
            @extend %tiny;
        }
    }

    &.slim {
        > * {
            @extend %slim;
        }
    }

    &.pad {
        > * {
            @extend %pad;
        }
    }
}