body.page-template-template-discussion-board{
	main{
		section.wrapper{
			padding-bottom:0;
		}
	}
}
main{
	.popup{
		position:relative;
		background-color:#fff;
		display:none;
	}
	.breadcrumb-nav{
		margin-bottom:20px;
		color:#aaa;
		font-size:16px;
		a{
			font-size:16px;
			&:link,&:visited{
				color:#666;
			}
			&:active,&:hover{
				color:#d54b2a;
			}
		}
	}
	
	.container{
		&.discussion-board{
			background-color:#f1f1f1;
			section{
				background:transparent;
				.archive-header{
					background:#fff;
					.filters{
						padding:20px 0 0 0;
						border-top:1px #ccc solid;
						border-bottom:1px #ccc solid;
					}
					.col{
						margin:20px 0;
					}
					.dwqa-search{
						input{
							border:#d54b2a 1px solid;
							padding: 12px 10px 12px 40px;
							border-radius: 0;
						}
					}
				}
				.questions-list{
					overflow: hidden;
					.dwqa-questions-list{
						border-top:none;
						margin:30px 0;
						.row{
							display:table;
							width:100%;
							&.dwqa-questions-list-head{
								height:auto;
								.col{
									background:#d54b2a;
									color:#fff;
									min-height: auto;
								}
							}
							&:last-of-type{
								.col{
									border-bottom:1px #ccc solid;
								}
							}
							> .col{
								display:table-cell;
								float:none;
								min-height: 150px;
								height:100%;	
								vertical-align:middle;
								border-top:1px #ccc solid;
								border-left:1px #ccc solid;
								border-bottom:none;
								border-right:none;
								background:#fff;
								padding:10px;
								font-size:13px;
								&.center{
									text-align:center;
								}
								&:last-of-type{
									border-right:1px #ccc solid;
								}
							}

						}
						.dwqa-questions-list-head{
							.row{
								height:75px;
							}
						}
						.dwqa-question-item-head{
							border:none !important;
							.col{
							}
						}
						.dwqa-question-item{
							border:none !important;
							padding:10px;
						}
					}			
				}
			}
			.dwqa-category-img{
				background-color:#fff;
				font-size:14px;
				text-align:center;
				text-transform:uppercase;
				&.open{
					color:#d54b2a;
				}
				&.solved{
					color:#53b200;
				}
				img{
					width:100px;
					padding:10px;
				}
			}
		}
		.dwqa-label{
			background-color:#aaa !important;
			border-radius:0 !important;
			font-size:16px;
			padding:2px 10px !important;
			.dwqa-staff{
			}
		}
		
		.dwqa-question-item{
			min-height:auto;
			padding:0;
			margin:0 0 20px 0;
			.dwqa-question-meta{
				text-align:center;
				p{
					padding-bottom:0;
					font-size:16px;
				}
				.avatar{
					position:relative;
					left:auto;
					display:block;
					width:150px;
					border-radius:50%;
				    margin:0 auto 20px auto;
				}
				.dwqa-label{
					display:block;
					margin:5px auto 0 auto;
					text-transform:none;
				}
				.dwqa-question-actions{
					float:none;
					label[for=dwqa-favorites]{
						display:none;
					}
				}
			}
			.dwqa-question-content{
				p{
					max-width:100%;
				}
			}
		}
		
		.question-footer{
			border-top:1px #ccc solid;
			border-bottom:1px #ccc solid;
			padding:10px 0;
			color:#666;
			.dwqa-question-meta{
				>div{
					display:inline-block;
					vertical-align:top;
					border-right:2px #d54b2a solid;
					padding:0 10px 0 0;
					margin:0 10px 0 0;
					&:last-of-type{
						border-right:none;
					}
				}
				.dwqa-answers-title{
					margin:0;
				}
			}
		}
		.dwqa-answers{
			background:#f1f1f1;
			.dwqa-answers-list{
				padding:20px 0 0;
				.dwqa-answer-item{
					min-height:auto;
					padding:0;
					margin:0 0 40px 0;
					border-top:none;
					.avatar{
						position:relative;
						left:auto;
						top:auto;
					}
				}
			}
			.dwqa-answer-form{
				background:#333;
				padding:40px 0;
				color:#fff;
				h3.dwqa-answer-form-title{
					border-top:none;
					color:#fff;
				}
				input[type=submit]{
					float:left;
					background-color:transparent;
					border-color:#fff;
					color:#fff;
					&:hover{
						background-color:#d54b2a;
						border-color:#d54b2a;
					}
				}
			}	
		}
		
		.dwqa-content-edit-form{
			margin-bottom:40px;
			p{
				padding-bottom:30px;
				&.dwqa-search{
					margin-bottom:0;
					padding-bottom:20px;
				}
			}
			.add_media{
				margin-bottom:10px;
			}
		}

		.dwqa-comments{
			display:none;
		}
		#add_div_shortcode{
			display:none;
		}
		.dwqa-answer-actions{
// 			display:none;
		}
	}
}


/* RESPONSIVENESS */
@media only screen and (max-width:1170px){

	.container{
		&.discussion-board{
			section{
				.archive-header{
					.col{
						text-align:center;
					}
				}
			}
		}
	}

}

@media only screen and (min-width:768px) and (max-width: 1023px){
	.dwqa-questions-list .row .col.medium-8{
		width:51%;
	}
	.dwqa-questions-list .row > .col.medium-1:nth-child(2),
	.dwqa-questions-list .row > .col.medium-1:nth-child(3){
		width:17.3333%;
	}
}

@media only screen and (max-width:1023px){

	main{
		.container{
			&.discussion-board{
				section{
					.archive-header{
						margin-top:20px;
						.col{
						}
						.dwqa-search{
							input{
							}
						}
						.dwqa-question-filter{
							text-align:center;
							span{
								display:block;
							}
							a{
								display:inline-block;
								&.active{
								}
							}

							.dwqa-sort-by{
								display:none;
							}
						}
					}
					.questions-list{
						.dwqa-questions-list{
							 .row{
								display:block !important;
								margin-bottom:5px;
								height:auto !important;
								> .col{
									border-right:1px #ccc solid;
									float:left;
									&:first-of-type{
										border-right:none;
									}
									 &.medium-1,
									 &.medium-1:nth-child(2),
									 &.medium-1:nth-child(3){
										width:25%;
										height:100px;
									    padding: 8px;
										border-top:1px #ccc solid;
										border-bottom:2px #ccc solid;
									}
									&.medium-8{
										width:100%;
										border-right:1px #ccc solid !important;
									}	
								}
								&.dwqa-questions-list-head{
									> .col{
										height:auto !important;
										font-size:13px;
										&:first-of-type{
											display:none;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}


	.dwqa-category-img{
		padding-top:10px;
	}
	
	main .container.discussion-board .dwqa-category-img img{
		width:50px;
	}
}

/* <= iPad Portrait */
@media only screen and (max-width:768px){
}

/* < iPad Portrait */
@media only screen and (max-width:767px){


}

/* iPhone Landscape - iPad Portrait */
@media only screen and (min-width:568px) and (max-width: 767px){

}

@media only screen and (max-width: 639px){

}

@media only screen and (min-width:568px) and (max-width: 639px){
}


/* iPhone Landscape and smaller */
@media only screen and (max-width: 567px){
}

/* iPhone Portrait > iPad Portrait */
@media screen and (min-width: 480px) and (max-width: 767px) {
}

/* iPhone Portrait > iPad Portrait */
@media screen and (max-width: 480px) {
	.single-dwqa-question{
		.dwqa-question-item,
		.dwqa-answer-item{
			.avatar{
				height:auto;
			}
		}
		.dwqa-answer-item{
			.avatar{
				display: block;
				margin: 0 auto 20px auto;
				width: 50px;
			}
    	}
    }
}

/* iPhone Portrait - iPhone Landscape */
@media only screen and (max-width: 567px){
}

/* iPhone Portrait and smaller */
@media only screen and (max-width: 399px) {
}