/*-------------------------------------------------------*\
    Anchor Content
/*-------------------------------------------------------*/

.floating-button {
    position: fixed;
    bottom: 20px;
    bottom: 2vh;
    background-color: rgba(black, 0.5);
    border: 1px solid white;
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    border-radius: 35px;
    border-radius: 35px;
    z-index: 9999999999;
    display: grid;
    align-items: center;
    align-content: center;
    line-height: 0;
    transition: all .3s ease;

    &.right {
        right: 20px;
        right: 2vh;
    }

    &.left {
        left: 20px;
        left: 2vh;
    }

    @include transition(opacity, 0.75s, ease);

    &.back-to-top {
        &:before {
            content: '\f077';
            color: white;
            font-family: fontawesome;
        }
    }

    &.edit-post-link {
        filter: invert(100%);

        &:hover {
            .hidden {
                display: block !important;
            }
        }

        &:before {
            filter: invert(100%);
            content: '\f044';
            color: black;
            font-family: fontawesome;
        }
    }

    span:not(.hidden) {
        @include show-for-sr;
    }

    &:before {
        display: grid;
        align-items: center;
        align-content: center;
        text-align: center;
        z-index: 9999999998;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
    }

    &.idle {
        opacity: 0;
        height: 0;
        width: 0;

        @include transition(opacity, 0.45s, ease);

        &.active {
            opacity: .35;
        }

        &:hover {
            opacity: 1;
            @include break-max-at($medium-break) {
                transition: none !important;
            }
        }
    }

    &.active {
        opacity: .75;
        width: 50px;
        height: 50px;
        filter: none !important;

        &:hover {
            opacity: 0.95;
            border-color: $primary-color;
            background-color: rgba(white, 0.9);
            transition-property: transform, opacity;
            transform: translateY(-1px);
            @include break-max-at($medium-break) {
                transition: none !important;
            }
            &:before {
                color: $primary-color;
            }
        }
    }
}