/*-------------------------------------------------------*\
    Asides
/*-------------------------------------------------------*/

aside, .aside {
    &.full-height {
        @include break-at($medium-break) {
            min-height: 100vh;
        }
    }

    &.sidebar {
        overflow: hidden;
        position: relative;
        z-index: 99999;

        @include break-at($medium-break) {
            @include section-divider(left);

            padding-left: $padding-small;
            padding-right: $padding-small;

            @include transparent-underlay($main-body-bg-alt, 1);

            overflow: visible;

            &:before {
                left: 100%;
                width: 200%;
            }
        }


        @include break-max-at($medium-break) {
            @include section-divider(top);
        }


        > nav {
            @include break-at($medium-break) {
                max-width: 300px;
                float: left;
                overflow: hidden;
            }
        }
    }
}