/*-------------------------------------------------------*\
    Blockquotes
/*-------------------------------------------------------*/

%blockquote {
    background: $lightest-gray;
    border-left: 10px solid $divider-color;
    margin: 1.5em 10px;
    padding: 0.8em 1em;
    max-width: 570px;
    quotes: "“" "”" "‘" "’";

    &:before {
        color: $divider-color;
        content: open-quote;
        font-size: 4em;
        line-height: 0.1em;
        margin-right: 0.25em;
        vertical-align: -0.4em;

        p {
            display: inline;
            padding-bottom: 0;
            margin-bottom: 0;

        }
    }
    @include image-shadow();
}

blockquote {
    @extend %blockquote;
}