/*-------------------------------------------------------*\
    Cards
/*-------------------------------------------------------*/

.box {
    padding: 2em;
    background-color: $primary-color-variant;

    .box {
        background-color: transparent;
    }

    &.extra {
        padding: em(40px) em(30px) !important;
    }

    > h1, > h2, > h3, > h4, > h5, > h6 {
        text-align: center;
    }

    p {
        @include break-at($medium-break) {
            text-align: left;
        }
    }

    * {
        color: white;
    }

    ul {
        padding: 0;
        margin: 0;
        padding-left: $hgap;

        li {
            list-style-type: disc;
            padding-left: $tiny-gap;
            text-indent: 0;
            list-style-position: outside;

            &:before {
                display: none;
            }
        }
    }
}