/*-------------------------------------------------------*\
    Button Groups
/*-------------------------------------------------------*/

main {
    .btn-group {
        .button {
            white-space: normal;
            min-height: 60px;
            font-size: 13px;
            line-height: normal;
            padding: 7px 8px;
            vertical-align: middle;
            display: grid;
            align-items: center;
        }
    }
}