/*-------------------------------------------------------*\
    Cards
/*-------------------------------------------------------*/

.card {
    border-radius: none;
    overflow: visible;
    position: relative;

    @include break-at($medium-break) {
        padding-left: 1em;
        padding-right: 1em;
    }


    &.shadow {
        @include prefixer(box-shadow, 0px 0px 20px -2px rgba(75, 87, 97, 0.25));
    }

    @include break-max-at($medium-break) {
        padding-bottom: 20px;
    }


    figcaption {
        padding-bottom: 2px;
    }

    .inner {
        padding: 40px;
        background-color: white;
        background: white;

        p {
            max-width: 100%;

            &:last-child {
                padding-bottom: 0;
            }
        }
    }

    figure {
        .frame {
            display: block;
            overflow-y: hidden;
            overflow-x: visible;
            margin-bottom: 20px;

            @include break-at($medium-break) {
                max-height: 165px;
            }
        }

        img {
            max-width: 100%;

            // @include break-max-at($medium-break) {

            // }

        }

        > div {
            position: relative;

            > img {
                text-align: right;
                float: right;
                position: relative;
                left: auto;
                z-index: 3;
                margin: auto;
            }
        }

        .bottom {
            @include break-at($medium-break) {
                padding: 0 18% 10% 11%;
            }


            @include break-at($medium-break) {
                position: absolute;
                bottom: 0;
                left: 0;
                height: auto;
            }
        }
    }

    footer {
        border-top: 0;
        background-color: white;
        text-align: center;
        padding: 0 0 30px 0;
    }

    &.secondary {
        box-shadow: none;
        color: white;
        background-color: transparent;

        h1, h2, h3, h4, h5, h6 {
            color: white;
        }

        &:nth-child(3n + 1) {
            .inner, &.inner {
                background-color: $primary-color;
                overflow: visible;

                @include break-at($medium-break) {
                    margin-bottom: 40px;
                }
            }

            &.inner {
                @include break-at($medium-break) {
                    left: -5px;
                }
            }
        }

        &:nth-child(3n + 2) {
            .inner, &.inner {
                background-color: $tertiary-color;
            }

            &.inner {
                @include break-at($medium-break) {
                    left: 5px;
                }
            }
        }

        &:nth-child(3n + 3) {
            .inner, &.inner {
                background-color: $quaternary-color;
            }

            &.inner {
                @include break-at($medium-break) {
                    left: 10px;
                }
            }
        }

        .cta {
            color: white;
            border-bottom-color: white;

            &:hover {
                color: $secondary-color;
                border-bottom-color: $secondary-color;
            }
        }

        &.expand {
            border-right: 10px solid #f7f7f7;
            border-left: 10px solid #f7f7f7;

            > .inner {
                &:last-child {
                    @include break-at($medium-break) {
                        padding-bottom: 0;
                    }
                }

                > * {
                    &:last-child {
                        margin-bottom: 0;
                        padding-bottom: 0;
                    }
                }
            }
        }
    }

    &.expand {
        padding-left: 0;
        padding-right: 0;
        left: 0;

        .inner {
            left: 0;
        }
    }
}