/*-------------------------------------------------------*\
    Emblems
/*-------------------------------------------------------*/

.emblem {
    border: 4px solid $primary-color;
    border-radius: 100%;
    background: white;
    padding: 0%;
    display: grid;
    overflow: hidden;
    width: 85px;
    height: 85px;
    position: absolute;
    top: 2.3em;
    left: -1.8em;
    text-align: center;
    z-index: 2;
    @include transition(all, .3s, ease-in-out);
    // &:hover {
    //     transition: none !important;
    //     transform: none !important;
    // }

    * {
        color: black;
        line-height: 1;
        font-weight: 300;
        display: grid;
        align-items: center;
        padding-top: 2px;
    }
    &.block {
        top: 0;
        left: 0;
        position: relative;
    }
    &.large {
        width: 95px;
        height: 95px;
    }
    &.small {
        width: 70px;
        height: 70px;
    }
}