/*-------------------------------------------------------*\
    Filters
/*-------------------------------------------------------*/
#filter-filter {
    &.filtering {
        .filter-grid {
            li {
                clear: none !important;
            }
        }
    }
}

.filter-section {
    // padding-left: 180px;

    h1 {
        font-size: 48px;
        color: #000;
        line-height: $bar-height;;
        margin-bottom: 20px;
    }

    h2 {
        font-weight: normal;
    }

    img {
        display: block;
        margin: 30px auto;
        max-width: 100%;
        height: auto;
    }
}

.filter-module {
    input {
        &.search {
            margin-top: 62px;

            @include placeholder-styles {
                color: #bbbbbb;
            }


            border-radius: 0;
            border: 1px solid #cbcccc;
            width: 100%;
            border: 2px solid $primary-color !important;
            font-size: 1em;
            padding-left: 40px;
            line-height: 1.8;
            max-width: 100%;
            background: url("../img/search-icon-color.png") no-repeat 9px center white;
            max-width: $max-contain-width;
        }
    }
}

.filter-nav {
    margin-bottom: $padding-default;

    li {
        border-radius: none !important;
    }

    a {
        display: inline-block;
        padding: 5px 15px;
        margin: 5px;

        // font-size: 14px;
        font-weight: $normal;
        border-radius: 0;

        // color: #dd5512;
        cursor: pointer;
        text-decoration: none !important;

        // color: $primary-color;
        text-transform: uppercase;
        border-radius: none !important;

        &.active {
            background-color: $primary-color;
            color: white;
        }
    }
}

.filterFilters {
    .filter-item-target {
        display: none;

        &.active {
            display: block;
        }
    }
}
.filter-group {
    nav {
        text-align: center;
    }
}
#multi-select-filter-by-studio, #multi-select-filter-by-service_area {
    display: none !important;
}