/*-------------------------------------------------------*\
    Heros
/*-------------------------------------------------------*/

%gradient-banner {
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;
    max-height: 690px;
    position: relative;
    color: white;
    background: $tertiary-color;

    &:after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;

        @include gradient-bg-vertical(rgba($primary-color,0.2), rgba(white,0.2), false, 80%);
    }
}

.hero {
    // @extend %gradient-banner;
    color: white;
    a {
        @extend .button.secondary;
    }

    &[style*="background-image"] {
        background: $overlay-transparent;
    }

    h1 {
        font-weight: $bold;
        color: inherit;
    }
    h2,h3,h4 {
        color: inherit;
        font-weight: $light;
    }

    p {
        // font-size: $h5-size;
        font-size: em(20.5px);

        // @include break-at($medium-break) {
        //     max-width: 400px !important;
        // }

    }

    > div {
        @include row;

        padding-bottom: $padding-small;

        // padding-bottom: 60px;
        // display: table;

        @include break-at($medium-break) {
            padding-top: $padding-small;
        }


        > article {
            &:first-child {
                @include break-at($medium-break) {
                    padding-left: $padding-medium;
                    padding-right: $padding-medium;
                }


                + figure {
                    text-align: center;

                    @include break-at($medium-break) {
                        padding-left: 0;
                        padding-right: 0;
                    }
                }

                &:last-child {
                    text-align: center;
                    display: inline-block;

                    h1 {
                        @include break-at($medium-break) {
                            // max-width: 400px;
                            margin-left: auto;
                            margin-right: auto;
                        }
                    }

                    p {
                        margin: 0 auto;

                        // max-width: 475px !important;

                    }

                    div {
                        margin-left: auto;
                        margin-right: auto;
                    }
                }
            }
        }

        > * {
            color: white;
            // vertical-align: middle;
            // height: 100%;
            padding-top: 0;
            padding-bottom: 0;

            @include break-at($medium-break) {
                // display: inline-block; /* <- didn't work in FF/IE
                // float: none !important;
                // display: table-cell;
                // float: none !important;
            }
            @include break-max-at($medium-break) {
                text-align: center;
            }


            p {
                @include break-at($medium-break) {
                    // max-width: 295px;
                }
            }

            &:first-child {
                > * {
                    &:last-child {
                        margin-top: $hgap;
                    }
                }
            }
        }

        &:after {
            @include break-max-at($medium-break) {
                // content: '';
                // display: block;
                // position: absolute;
                // z-index: 2;
                // left: 0;
                // top: 0;
                // width: 100%;
                // height: 100%;

                // @include gradient-bg-vertical($primary-color-variant, rgba($tertiary-color, 0.8), false, 98%);

                // z-index: 0;
            }
        }

        article {
            @include break-max-at($medium-break) {
                z-index: 1;
            }
        }

        figure {
            @include break-max-at($medium-break) {
                float: right;
                float: none;
                position: absolute;
                top: 0;
                max-height: 100%;
                width: 100%;
                height: 100%;
                text-align: center;
                margin: 0 auto;
                float: none;
                z-index: 0;
                padding-top: 12%;
                padding-bottom: 0 !important;
            }


            img {
                @include break-at($medium-break) {
                    margin: 20px 0;
                    max-height: 350px;
                }


                @include break-max-at($medium-break) {
                    margin: 0 auto;
                    display: block;
                    position: relative;
                    height: 100%;
                    width: auto;
                    margin: 0 auto;
                    text-align: center;
                    padding: 40px;
                    z-index: 0;
                    max-width: none;
                }
            }
        }

        .button-group {
            margin-top: 0;

            @include break-at($medium-break) {
                max-width: $copy-block-width;
            }


            > * {
                @include break-max-at($medium-break) {
                    margin-bottom: 0;
                    padding-bottom: 0;
                }
            }

            &.two-up {
                > * {
                    &:last-child {
                        &:nth-child(odd) {
                            width: 100%;
                        }
                    }
                }
            }

            .button {
                padding-top: 14px;
                padding-bottom: 14px;
            }
        }
    }

    &.slim {
        figure {
            img {
                @include break-at($medium-break) {
                    max-height: 300px;
                    margin: 0 auto;
                    display: block;
                }
            }
        }
    }

    &.full-bleed {
        overflow: hidden;

        > .hero {
            padding-bottom: 0;

            figure {
                background-size: cover;
                background-repeat: no-repeat;
                transform: scale(1.225);
                background-position: 0 0;
                overflow: visible;
                right: -5%;

                img {
                    opacity: 0;
                }
            }
        }
    }
}

.hero-section {
    background-repeat: no-repeat;
    background-size: cover;
    h2 {
        @include break-max-at($medium-break) {
            font-weight: bold;
        }
    }
    @include break-max-at($medium-break) {
        background-position: center center;
    }

    &.underlay {
        @include gradient-underlay();
        @include break-max-at($medium-break) {
            @include transparent-underlay();
        }
    }

    > .hero {
        &.extra-medium {
            @include break-at($medium-break) {
                padding-bottom: 60px;
            }
        }

        // @include break-at($large-break) {
        //     padding-bottom: 60px;
        // }

        @include break-max-at($medium-break) {
            padding-top: $padding-small;
        }
    }

    &.hero-home {
        @extend %gradient-banner;

        h1 {
            font-size: em(53px);
            text-align: left !important;

            @include break-max-at($medium-break) {
                text-align: center !important;
            }
        }

        .hero {
            background: url(../img/hero-bg-wave-lines.png) no-repeat left bottom transparent;
            background-size: contain;
            background-position: left bottom;

            // max-width: $grid-width;
            margin: 0 auto;
            background-repeat: no-repeat;
            background-size: auto 90%;
            padding-bottom: 0;

            figure {
                @include break-max-at($medium-break) {
                    display: none;
                }
            }

            .button-group {
                @include break-at($medium-break) {
                    max-width: $copy-block-width;
                }


                .button {
                    font-size: 13px;
                    padding: 8px;
                }
            }

            > div {
                // background: url(../img/hero-bg-wave-lines.png) no-repeat left bottom transparent;
                // background-size: contain;
                // max-width: $large-grid-width;

                @include break-at($medium-break) {
                    display: table;
                    background-size: auto 90%;
                    padding-bottom: 0;
                    padding-top: 0;
                }


                > article {
                    @include break-at($medium-break) {
                        padding-left: $gutter-width;
                        padding-right: $gutter-width;
                    }
                }

                > figure {
                    z-index: 1;

                    @include break-at($medium-break) {
                        vertical-align: bottom;
                        bottom: -45px;
                    }
                }
            }
        }
    }

    + section {
        &.page-content {
            padding-top: $padding-medium;
        }
    }

    + .flexible-content {
        > .dynamic-item {
            position: relative;

            &:first-child {
                @include break-at($large-break) {
                    margin-top: -100px !important;
                    z-index: 3;

                    article {
                        padding-top: 100px;
                    }
                }


                &.table-graphic {
                    @include break-at($medium-break) {
                        margin-top: -60px !important;
                    }
                }

                + .dynamic-item {
                    z-index: 1;

                    &.photo-block {
                        @include break-at($large-break) {
                            margin-top: negative($padding-small);
                        }
                    }
                }

                &.photo-block {
                    @include break-at($large-break) {
                        margin-top: -60px !important;
                    }


                    &.reduced-medium {
                        @include break-at($medium-break) {
                            @include break-max-at($large-break) {
                                margin-top: 0 !important;

                                > figure {
                                    vertical-align: middle;
                                    width: 33.3333333333333%;

                                    > img {
                                        max-width: 150%;
                                        width: 150%;
                                        left: -50%;
                                    }

                                    + article {
                                        padding-right: 15px;

                                        .contain {
                                            max-width: none;

                                            .hide-mobile-breaks {
                                                br {
                                                    display: none;
                                                }
                                            }

                                            > p {
                                                max-width: 100%;
                                                padding-bottom: 0;
                                                float: left;
                                                width: 50%;
                                                font-size: 90%;
                                                padding-right: 20px;

                                                &:last-child {
                                                    padding-right: 0;
                                                }
                                            }
                                        }
                                    }
                                }

                                + .banner:not(.slim) {
                                    margin-top: 0 !important;
                                }
                            }
                        }
                    }

                    article {
                        @include break-at($large-break) {
                            padding-top: $padding-large !important;
                            padding-bottom: 60px !important;
                        }
                    }
                }
            }

            + section {}

            + .banner {
                &:not(.slim) {
                    @include break-at($large-break) {
                        margin-top: negative($padding-small);
                    }
                }

                &.basic-banner {
                    @include break-at($medium-break) {
                        margin-top: 0;
                    }
                }
            }

            &.table-graphic {
                &:first-child {
                    @include break-at($medium-break) {
                        article {
                            padding-top: 100px;
                        }
                    }
                }
            }
        }
    }

    &.hero-alt {
        .breadcrumbs {
            max-width: 100%;
            top: 0;
            @include break-max-at($medium-break) {
                max-width: 100%;
                top: 0;
                position: absolute;
                // padding: 15px 10px;
                +.hero {
                    margin-top: $padding-medium;
                }
            }
            > ul {
                @include row();
                position: relative;
                margin: 0 auto;
                float: none;
            }
            + .hero {
                padding-top: 40px;
            }
        }
        .hero {
            > div {
                > * {
                    &:first-child {
                        padding: $gutter-width;

                        @include break-at($medium-break) {
                            text-align: left;
                        }
                    }

                    h1 {
                        line-height: 1em;
                        @include break-at($medium-break) {
                            margin: 0 !important;
                            // font-weight: bold;
                        }
                    }
                }
            }
        }
    }
}