/*-------------------------------------------------------*\
    IFRAMES
/*-------------------------------------------------------*/

iframe {

}
.iframe-container {
    overflow:hidden;
    position:relative;
    * {
        text-align: left;
    }
    iframe {
        max-width: 100%;
        width: 100% !important;
        height: 450px;
        border: 5px solid white;
        border-radius: 5px;
        @include drop-shadow;
    }
}

.pdf-container {
    overflow:hidden;
    position:relative;
    min-height: 700px;
    * {
        text-align: center !important;
    }
    object {
        margin: 0 auto !important;
        max-width: 100%;
        width: 100% !important;
        border: 5px solid white;
        border-radius: 5px;
        @include drop-shadow;
        // height:
        @include break-at($medium-break) {
            height: 1200px;
        }
    }
}