/*-------------------------------------------------------*\
    Images/Figures
/*-------------------------------------------------------*/

figure, .figure, img {
    &.shadow {
        @include prefixer(box-shadow, 0px 0px 20px -2px rgba(75, 87, 97, 0.25));
    }
    &.image-shadow {
        img {
            @include image-shadow();
        }
    }
}
figure, .figure {
    &.square {
        max-height: 260px;
        overflow: hidden;
    }
    background-repeat: no-repeat;
    background-position: center center;
    &.cover {
        background-size: cover;
    }
    &.contain {
        background-size: contain;
    }
    &.thumbnail {
        max-width: 100%;
        overflow: hidden;
        &[style*="background-image"], img {
            @include prefixer(box-shadow, 0px 0px 20px -2px rgba(75, 87, 97, 0.25));
        }
        img {
            max-width: 100%;
        }
        &.medium {
            max-width: 225px;
            @include block-centered;
        }
    }
}