/*-------------------------------------------------------*\
    Logo
/*-------------------------------------------------------*/

.logo {
    h1 {
        margin-top: $padding-small;
        margin-bottom: $hgap;
        img {
            max-width: 160px !important;
            text-align: center;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }
}