/*-------------------------------------------------------*\
    Masks
/*-------------------------------------------------------*/
.photo-caption {
    display: block;
    position: relative;
    width: 100%;
    text-align: center;
    color: #666;
    font-size: 13px;
    line-height: 18px;
    font-style: italic;
    padding: 15px;
    margin-top: -35px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.mask {
    .stripe {
        position: absolute;
        background: $primary-color-variant;
        line-height: normal;
        padding-top: 5px;
        padding-bottom: 5px;
        text-transform: uppercase;
        font-weight: $normal;
        text-align: center;
        top: 40%;
        color: white;
        margin: auto;
        width: 100%;
        display: block;
    }

    .about {
        background-color: #f8f8f8;
        padding: 20px;
    }

    a {
        > * {
            @include transition(all 0.2s);
        }

        &:hover {
            > * {
                @include prefixer(transform, scale(1.1));
            }
        }

        img {
            transition: opacity .2s;
        }
    }

    figure, .image {
        background: #ccc;
        margin: auto;
        margin-bottom: 0;

        @include break-at($medium-break) {
            border-radius: 50%;
            overflow: hidden;
            height: 95%;
            width: 95%;
            float: left;
        }


        @include break-at($medium-break) {
            max-width: 250px;
        }


        img {
            &[src=""] {}

            width: 100%;
            margin: 0;

            @include break-max-at($medium-break) {
                // display: none;
            }
        }

        @include break-max-at($medium-break) {
            margin-bottom: $pgap;
            width: auto;
            margin: 0 auto;
            float: none;
        }
    }

    h4 {
        text-align: center;
        margin-bottom: 0;
    }

    h5 {
        text-align: center;
        margin-bottom: 25px;
    }

    p {
        font-style: italic;
    }
}

@include break-max-at($medium-break) {
    li.mask {}

    .mask figure img, .mask .image img {
        // opacity: 0.4;
        // opacity: 0;

        /*     background: orange!important; */
        border-radius: 100%;
    }

    .mask .stripe {
        display: inline-block;
        margin: 0 auto !important;
        padding: 0 !important;
        text-align: center !important;
        padding: 10px !important;
        height: auto !important;
        margin-bottom: 30px;
        clear: both;
        float: none;
        margin: auto !important;
        position: relative;
        overflow: visible;
        display: block;
            @include break-max-at($medium-break) {
                border: 6px solid white;
            }
        // }
    }

    a.anchor-link.image-link {
        margin-bottom: 20px;
    }

    nav.anchor-nav li {
        @include break-at($medium-break) {
            position: relative;
            overflow: hidden;
            max-width: 150px;
            margin-bottom: 20px;
            max-width: none;
            overflow: visible;
            background: none;
            width: auto !important;
            display: flex !important;
            width: 100%;
            padding: 0 10px;
            clear: both;
            border-radius: 0;
            padding: 0;
            border: none !important;
            box-shadow: none !important;
            border: none !important;
            overflow: hidden;
        }
    }

    .mask {
        figure {
            max-width: 100%;
        }
    }
}