/*-------------------------------------------------------*\
    Navigation
/*-------------------------------------------------------*/

nav {
    ul {
        list-style: none;

        li {
            padding-left: 0;
            margin: 0 auto;
            list-style-type: none;

            > a {
                float: left;
            }
        }
    }

    a {}

    &.circle-nav {
        .under {
            text-align: center;
            margin-bottom: 50px;
            line-height: 3em;
            font-weight: bold;
        }

        .circle-link {
            text-align: center;
            float: none !important;
            display: block !important;
            margin: 0 auto !important;
            clear: both;
            display: inline-block !important;
        }

        .mask {
            text-align: center;

            a {
                @include break-max-at($medium-break) {
                    background: none;
                }


                * {
                    @include break-max-at($medium-break) {
                        background: none;
                        transition: none !important;
                    }


                    &:hover {}
                }
            }
        }

        .row {
            + .row {
                position: relative;

                @include break-at($large-break) {
                    max-width: 900px;
                    left: 10%;
                }
            }
        }
    }

    &.related-items {
        > ul {
            > li {
                position: relative;
                padding-top: $hgap !important;
                padding-bottom: $hgap !important;
                border-top: 1px solid $divider-color;

                &:last-child {
                    @include break-at($medium-break) {
                        // border-bottom: 1px solid $divider-color;
                    }
                }

                .emblem {
                    top: 0;
                    left: 0;
                    position: relative;
                    width: 80px;
                    height: 80px;
                }

                img {
                    width: auto;
                }
            }
        }
    }

    &.anchor-nav {
        ul {
            @include break-max-at($medium-break) {
                // display: flex;
            }
        }

        li {
            @include break-at($medium-break) {
                float: left;
                padding-right: 2em;
            }
        }

        .mask {
            figure {
                @include break-at($medium-break) {
                    position: relative;
                    overflow: hidden;

                    // max-width: 150px;
                }


                img {
                    @include break-max-at($medium-break) {
                        opacity: 0;
                        display: none;
                    }
                }
            }
        }

        &.moved {
            margin-top: 2em;
            @include break-max-at($medium-break) {
                padding-top: 26px;
                padding-bottom: 20px;
                border-top: 1px solid;
                background: #f8f8f8;
                padding: 30px 0 0;
                margin: 67px 0;
                line-height: 0;
                border-bottom: 1px solid #ccc;
                border-top: 1px solid #ccc;
            }


            ul {
                @include break-at($medium-break) {
                    display: table;
                    width: 100%;
                    margin-top: 2em;
                    text-align: center;
                }


                @include break-at($medium-break) {
                    &.contains-3 {
                        width: 70%;
                    }

                    &.contains-2 {
                        width: 50%;
                    }

                    &.contains-1 {
                        width: 30%;
                    }
                }


                li {
                    &.mask {
                        @include break-at($medium-break) {
                            display: inline-block !important;
                            float: none !important;
                            padding: 10px !important;
                        }


                        > a {
                            @include break-max-at($medium-break) {
                                width: 100%;
                                text-decoration: none !important;
                            }
                        }

                        @include break-at($large-break) {
                            padding: 0 !important;
                            display: table-cell !important;

                            // &.one-fourth {
                            //     width: 25%;
                            // }
                            // &.one-third {
                            //     width: 33%;
                            // }
                            // &.one-fifth {
                            //     width: 20%;
                            // }
                        }


                        .stripe {
                            @include break-at($medium-break) {
                                z-index: 999;
                            }
                        }

                        figure {
                            background-color: $dark-gray;

                            @include break-at($medium-break) {
                                width: 170px;
                                height: 170px;
                                position: relative;
                                overflow: hidden;
                                font-size: 1.2em;
                                max-width: 100%;
                                margin: auto;
                                float: none;
                                text-align: center;
                                display: inherit;
                            }


                            @include break-at($large-break) {
                                width: 215px;
                                height: 215px;
                            }


                            @include break-at($medium-break) {
                                position: relative;
                                overflow: hidden;
                                font-size: 1.2em;

                                .circle {
                                    background-size: cover;
                                    background-repeat: no-repeat;
                                    background-position: center center;
                                    padding: 0;
                                    width: 100%;
                                    height: 100%;
                                    top: 0;
                                    right: 0;
                                    left: 0;
                                    bottom: 0;
                                    position: absolute;

                                    img {
                                        width: 100%;
                                        height: 100%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &.fixed-nav {
        position: relative;
        top: 0;

        ul {
            @include break-max-at($small-break) {
                // display: block;
                // overflow: hidden;
                // margin: auto;
                // width: 100%;
                // clear: both;
                // position: relative;
                // padding: 0;
            }


            li {
                // float: right;

                @include break-max-at($medium-break) {
                    float: left;
                }


                @include break-max-at($small-break) {
                    width: 100%;
                    float: none;
                }


                > a {
                    @include break-max-at($small-break) {
                        float: left;

                        // display: block;
                        // left: 0;
                        // right: 0;
                        margin: auto;

                        // float: none !important;
                        width: auto;
                        display: inline-block;
                        margin: 0 auto;
                        text-align: center;

                        // float: none !important;
                        // display: block;
                        // margin-top: 20px;
                        width: auto;

                        // display: table;
                    }


                    img {
                        @include break-max-at($small-break) {
                            display: none;
                        }
                    }
                }
            }

            @include break-at($large-break) {
                right: 0;
            }
        }
    }

    &.image-nav {
        a {
            img {
                height: 74px;
                width: auto;
                margin-left: auto;
                margin-right: auto;
                width: auto;
                margin-bottom: 1.3em;
                margin-top: 10px;
            }

            * {
                text-decoration: none !important;
            }

            @include break-max-at($medium-break) {
                margin-bottom: 20px;
            }
        }
    }

    &.primary-nav {
        width: 100%;

        @include break-at($large-break) {
            float: right;
            text-align: right;
        }


        @include break-max-at($large-break) {
            @include transition(top, 0.35s);

            position: relative;
            top: -60px;
            height: 0;
            overflow: hidden;
            padding: 0;
            margin: 0;
            position: relative;
            top: -10vw;
        }


        &.active {
            @include break-max-at($large-break) {
                display: block;
                top: 0;
                height: auto;
                min-height: 100px;
                overflow: visible;
            }
        }

        > ul {
            margin: 0 auto;
            position: relative;

            @include break-at($large-break) {
                display: table;
                text-align: right;
                float: right;
            }


            // @include break-at($large-break) {
            //     float: right;
            // }

            > li {
                position: static;
                float: left;
                width: auto;

                @include break-max-at($large-break) {
                    width: 100%;
                    clear: both;
                    display: block;
                    max-height: 80px;
                    margin-bottom: 16px;
                }


                a {
                    font-weight: $light;
                    text-decoration: none;
                    color: $dark-gray;
                    padding: 30px 15px;
                    font-size: fontisize(12, pt);
                    line-height: 2em;

                    @include break-max-at($large-break) {
                        width: 100%;
                        text-align: center;
                        padding: 12px 10px;
                        text-transform: uppercase;
                        font-weight: 300;
                        border-bottom: 1px solid #ddd;
                        font-size: 2vw;
                    }


                    @include break-max-at($medium-break) {
                        font-size: 4vw;
                    }


                    &:hover {
                        color: $primary-color;

                        @include break-max-at($large-break) {
                            background: $primary-color;
                            color: white;
                        }
                    }
                }

                &:last-child {
                    > a {
                        @include break-at($large-break) {
                            padding-right: 0;
                        }
                    }
                }

                &.current-menu-item, &.current-page-ancestor {
                    > a {
                        color: $primary-color;
                        font-weight: $medium;

                        &:hover {
                            color: $copy-color;
                        }
                    }
                }

                > ul {
                    background: #fff;
                    box-shadow: 0px 9px 24px -12px rgba(0, 0, 0, 0.18);
                    position: absolute;
                    z-index: 1;
                    border: solid 1px #ddd;
                    border-top: 0;
                    margin: 0;
                    padding: 0;
                    list-style: none;

                    > li {
                        margin: 0;

                        > a {
                            color: #4a4a4a;
                            font-weight: bold;
                            text-transform: uppercase;
                            font-size: em(12px);
                            padding: 10px 15px;
                            display: block;

                            &:hover {
                                // background: #f7f7f7;
                                text-decoration: none;
                                color: $primary-color;
                            }
                        }
                    }
                }

                border-top: 1px solid transparent;
                border-bottom: 1px solid transparent;

                &:hover {
                    // background: #f7f7f7;
                    // border-top: 1px solid $primary-color;
                    // border-bottom: 1px solid $primary-color;

                    > ul {
                        display: block;
                    }
                }

                // > a {
                //     font-weight: bold;
                // }

            }
        }
    }

    &.local-nav-list {
        @include clearfix;
        @include break-max-at($medium-break) {
            margin-top: $pgap;
        }


        @include break-at($medium-break) {
            float: right;
            width: 100%;
        }


        h2 {
            @include break-max-at($medium-break) {
                font-size: $h3-size;

                // text-transform: uppercase;
                font-weight: $normal;
            }
        }

        ul {
            list-style: none;

            li {
                @include break-max-at($medium-break) {}


                list-style-type: none;
                border-bottom: 1px solid $light-gray;
                display: block;
                padding-bottom: $pgap;
                padding-top: $pgap;
                float: left;
                clear: both;
                width: 100%;

                @include break-at($medium-break) {
                    // max-width: 290px;
                }


                &:last-child {
                    border-bottom: none;

                    @include break-max-at($medium-break) {
                        padding-bottom: 0;
                    }
                }
            }
        }
    }

    &.categories {
        @include row;

        .image-link {
            transition: all 0.27s ease-in-out;
            transition-delay: 0s;
            display: block;
            backface-visibility: hidden;
            width: 100%;
            height: 100%;
            padding-bottom: $padding-medium;
            position: absolute;
        }

        margin: 0 auto !important;
        float: none !important;
        width: auto !important;

        .mask {
            position: relative;
            margin: auto;
            text-align: center;
            margin: 0 1em;
            padding: 0 !important;
            display: inline-grid;
            position: static;
            align-items: center;
            align-content: center;
            position: relative;
            margin-bottom: $padding-default;

            @include break-at($small-break) {
                width: 30.333333%;
                height: auto;
                margin: 0;
                padding: 35px;
                display: block;
                float: left;
                margin: 1.4%;
            }


            @include break-at($medium-break) {
                height: 150px;
                width: 150px;
                max-width: 12.5%;
                max-width: 25%;
                margin-bottom: 6em;
            }


            @include break-max-at($small-break) {
                display: block;
                max-width: none;
                width: 100%;
                height: auto;
            }


            a {
                &.image-link {
                    @include break-max-at($medium-break) {
                        transition: all 0.27s ease-in-out;
                        transition-delay: 0s;
                        display: block;
                        backface-visibility: hidden;
                        height: auto;
                        position: relative !important;
                        float: none !important;
                        max-height: none;
                        min-width: 0;
                        min-height: 0;
                    }


                    @include break-max-at($large-break) {
                        padding-bottom: 0;
                        margin: auto !important;
                    }
                }
            }

            figure {
                height: auto !important;

                @include break-max-at($medium-break) {
                    max-width: none !important;
                    width: 100%;
                    padding: 10px;
                    width: 100%;
                    padding: 10px;
                    max-width: 200px !important;
                    margin: 0 auto;
                    clear: both;
                    display: table;
                    text-align: center;
                    float: none;
                }
            }

            img {
                margin: 0;
                width: 100%;
                max-width: none;

                @include break-max-at($medium-break) {
                    height: auto;
                    height: auto;
                }
            }

            .under {
                position: absolute;
                top: 100%;
                padding-top: 30px;
                text-align: center;
                font-weight: normal;
                margin: 0 auto;
                width: 100%;

                @include break-max-at($medium-break) {
                    position: relative !important;
                }
            }
        }
    }
}