/*-------------------------------------------------------*\
    Cards
/*-------------------------------------------------------*/

.post-header {
    >* {
        .the-title {
            @include break-max-at($medium-break) {

                @include row();
                font-size: 30px;
                font-weight: 500;
                padding: 0 0 6.5vw;
            }
        }
    }
}