/*-------------------------------------------------------*\
    Search Form
/*-------------------------------------------------------*/

.search-wrap {
    float: right;
    padding: 10px 0;
    width: 100%;

    form {
        width: 100%;
        position: relative;
        display: block;

        input {
            padding: 6px 10px;
            width: 100%;
            border: 1px solid $light-gray;
            line-height: normal;
            padding-left: 36px;
            background: url("../img/search-icon.png") no-repeat 5px center white;

            @include break-at($medium-break) {
                max-width: 300px;
            }
        }

        @include placeholder-styles {
            color: $light-gray;
            font-size: 13px;
        }
    }
}