/*-------------------------------------------------------*\
    Sections
/*-------------------------------------------------------*/

section, .section {
    width: 100%;
    max-width: 100%;
    background-color: $main-body-bg;
    .end-section {
        @clearfix;
        width: 100%;
        @include section-divider();
    }
    &.end-section {
        max-width: 100%;
    }

    &.contrast, &.alt-bg {
        background-color: $main-body-bg-alt;
        h1,h2,h3,h4,h5,h6 {
            color: $copy-color;
        }
    }
    + .alt-bg {
        border-top: 1px solid $light-gray;
    }

    &.begin-section {
        @include section-divider(top);
    }
}

.alternate-bg {
    >* {
        background-color: $main-body-bg-alt;
        &:nth-child(even) {
            background-color: $main-body-bg;
        }
    }
    &.alt {
        >* {
            background-color: $main-body-bg;
            &:nth-child(even) {
                background-color: $main-body-bg-alt;
            }
        }
    }
}